flow.json
[{"id":"e06e6cbd.e8c56","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"380b2813.e48b58","type":"sox-record","z":"e06e6cbd.e8c56","name":"","buttonStart":"msg","inputs":1,"inputSource":"default","byteOrder":"-L","encoding":"signed-integer","channels":1,"rate":"44100","bits":16,"gain":"0","lowpass":8000,"showDuration":true,"durationType":"limited","durationLength":"10","silenceDetection":"nothing","silenceDuration":"2.0","silenceThreshold":"2.0","outputFormat":"file","manualPath":"ouput_test","debugOutput":false,"x":310,"y":80,"wires":[["a3f2c007.8987f"],["86186edb.b03a4"]]},{"id":"a3f2c007.8987f","type":"debug","z":"e06e6cbd.e8c56","name":"raw audio buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":40,"wires":[]},{"id":"79b7b810.6ffd18","type":"inject","z":"e06e6cbd.e8c56","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":60,"wires":[["380b2813.e48b58"]]},{"id":"1b1a677f.3817b9","type":"inject","z":"e06e6cbd.e8c56","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":132,"y":108,"wires":[["380b2813.e48b58"]]},{"id":"86186edb.b03a4","type":"debug","z":"e06e6cbd.e8c56","name":"recording progress info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":120,"wires":[]}]