flow.json
[{"id":"e06e6cbd.e8c56","type":"tab","label":"record & upload","disabled":false,"info":""},{"id":"c8a363d6.9d7ea","type":"tab","label":"issue buffer","disabled":false,"info":"see https://discourse.nodered.org/t/http-request-node-invalid-message-body-was-specified-to-be-cbor-but-could-not-decode-message-failed-to-parse/30503"},{"id":"380b2813.e48b58","type":"sox-record","z":"e06e6cbd.e8c56","name":"","buttonStart":"msg","inputs":1,"inputSource":"default","byteOrder":"-L","encoding":"signed-integer","channels":1,"rate":"44100","bits":16,"gain":"0","lowpass":8000,"showDuration":true,"durationType":"limited","durationLength":"5","silenceDetection":"nothing","silenceDuration":"2.0","silenceThreshold":"2.0","outputFormat":"wav","manualPath":"ouput_test","debugOutput":false,"x":270,"y":80,"wires":[["a3f2c007.8987f","183cbd75.1aec93","e8ca4264.23b26"],["86186edb.b03a4"]]},{"id":"a3f2c007.8987f","type":"debug","z":"e06e6cbd.e8c56","name":"raw audio buffer","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":480,"y":40,"wires":[]},{"id":"79b7b810.6ffd18","type":"inject","z":"e06e6cbd.e8c56","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["380b2813.e48b58"]]},{"id":"1b1a677f.3817b9","type":"inject","z":"e06e6cbd.e8c56","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":108,"wires":[["380b2813.e48b58"]]},{"id":"86186edb.b03a4","type":"debug","z":"e06e6cbd.e8c56","name":"recording progress info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":500,"y":120,"wires":[]},{"id":"d9ca7592.17aa78","type":"sox-play","z":"e06e6cbd.e8c56","name":"","outputDevice":"default","gain":"0","startNew":"skip","debugOutput":false,"x":260,"y":280,"wires":[["36e932de.a4d03e"]]},{"id":"183cbd75.1aec93","type":"sox-convert","z":"e06e6cbd.e8c56","name":"down sampling","conversionType":"wav","outputToFile":"buffer","manualPath":"","wavMore":true,"wavByteOrder":"-L","wavEncoding":"signed-integer","wavChannels":1,"wavRate":16000,"wavBits":16,"flacMore":false,"flacCompression":8,"flacChannels":1,"flacRate":16000,"flacBits":16,"mp3More":false,"mp3Channels":2,"mp3Rate":44100,"mp3BitRate":128,"oggMore":false,"oggCompression":3,"oggChannels":2,"oggRate":44100,"debugOutput":false,"x":280,"y":200,"wires":[["d9ca7592.17aa78","31f595c4.a4886a"],["162d292b.ca7247"]]},{"id":"36e932de.a4d03e","type":"debug","z":"e06e6cbd.e8c56","name":"sox-play output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":280,"wires":[]},{"id":"162d292b.ca7247","type":"debug","z":"e06e6cbd.e8c56","name":"down sampling info","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":510,"y":220,"wires":[]},{"id":"31f595c4.a4886a","type":"debug","z":"e06e6cbd.e8c56","name":"down sampled","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":500,"y":180,"wires":[]},{"id":"6a247f6a.1dcca","type":"http request","z":"e06e6cbd.e8c56","name":"post edge impulse","method":"POST","ret":"bin","paytoqs":false,"url":"http://ingestion.edgeimpulse.com/api/training/data","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":640,"wires":[["7b924d20.2edf44"]]},{"id":"7b924d20.2edf44","type":"debug","z":"e06e6cbd.e8c56","name":"post response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":680,"y":640,"wires":[]},{"id":"e8ca4264.23b26","type":"change","z":"e06e6cbd.e8c56","name":"","rules":[{"t":"set","p":"audio_recording","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":80,"wires":[[]]},{"id":"e0ccef11.1d155","type":"CBOR","z":"e06e6cbd.e8c56","name":"","x":290,"y":440,"wires":[["ffb6e57.c3a1418","3e88061e.44739a"]]},{"id":"2e3571cf.c0e94e","type":"change","z":"e06e6cbd.e8c56","name":"set payload and headers","rules":[{"t":"set","p":"audio_recording","pt":"msg","to":"audio_recording","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"{\t    \"protected\": {\t        \"ver\": \"v1\",\t        \"alg\": \"none\",\t        \"iat\": ($now()~>$toMillis())/1000~>$round(0)\t    },\t    \"signature\": \"0000000000000000000000000000000000000000000000000000000000000000\",\t    \"payload\": {\t        \"device_name\": $env(\"DEVICE_NAME\"),\t        \"device_type\": $env(\"DEVICE_TYPE\"),\t        \"interval_ms\": 1000/44100,\t        \"sensors\": [\t            { \"name\": \"audio\", \"units\": \"wav\" }\t        ],\t        \"values\": [ \"Ref-BINARY-i16 \" ]\t    }\t}","tot":"jsonata"},{"t":"set","p":"headers","pt":"msg","to":"{\t        'x-api-key': $env(\"EDGE_IMPULSE_APIKEY\"),\t        'x-file-name': 'idle.01',\t        'x-label': 'idle',\t        'Content-Type': 'application/octet-stream'\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":380,"wires":[["e0ccef11.1d155","319934d.b3adfcc"]]},{"id":"aa7c389.b1cc7c8","type":"inject","z":"e06e6cbd.e8c56","name":"upload","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["2e3571cf.c0e94e"]]},{"id":"ffb6e57.c3a1418","type":"debug","z":"e06e6cbd.e8c56","name":"to CBOR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":560,"y":440,"wires":[]},{"id":"319934d.b3adfcc","type":"debug","z":"e06e6cbd.e8c56","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":380,"wires":[]},{"id":"63f5e967.d89308","type":"function","z":"e06e6cbd.e8c56","name":"to hex","func":"msg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":540,"wires":[["f9c238e3.9b5978"]]},{"id":"f9c238e3.9b5978","type":"debug","z":"e06e6cbd.e8c56","name":"to hex string","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":540,"wires":[]},{"id":"259b5d28.809f42","type":"function","z":"e06e6cbd.e8c56","name":"append audio recording","func":"\nmsg.payload = Buffer.concat([msg.payload, flow.get(\"audio_recording\")]);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":560,"wires":[["95afaff8.797f2","63f5e967.d89308","6a247f6a.1dcca"]]},{"id":"95afaff8.797f2","type":"debug","z":"e06e6cbd.e8c56","name":"body without signature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":580,"wires":[]},{"id":"3e88061e.44739a","type":"function","z":"e06e6cbd.e8c56","name":"change last field in indefinete array with FF","func":"/* assured that it should end like:\n     9F                                # array(*)\n         6E                             # text(14)\n            5265662D42494E4152592D693136 # \"Ref-BINARY-i16\"\n         FF                             # primitive(*)\n*/\n\nvar buf = msg.payload\n\nbuf.writeUInt8(0x9f, buf.length - 17);\nbuf.writeUInt8(0x6e, buf.length - 16);\nbuf.writeUInt8(0xff, buf.length - 1);\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":500,"wires":[["259b5d28.809f42"]]},{"id":"57f23b8e.96c0d4","type":"inject","z":"c8a363d6.9d7ea","name":"test2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["472840dc.7cc27"]]},{"id":"f213a3fd.a5656","type":"http request","z":"c8a363d6.9d7ea","name":"","method":"POST","ret":"bin","paytoqs":false,"url":"http://localhost:1880/test1","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":300,"wires":[["d3095d49.e1207"]]},{"id":"c0f4f4ca.6987e8","type":"http in","z":"c8a363d6.9d7ea","name":"","url":"/test1","method":"post","upload":false,"swaggerDoc":"","x":290,"y":460,"wires":[["b91f8f18.38633","538a872.9174b78","73a5dd8e.eeb734"]]},{"id":"b91f8f18.38633","type":"http response","z":"c8a363d6.9d7ea","name":"","statusCode":"","headers":{},"x":560,"y":460,"wires":[]},{"id":"d3095d49.e1207","type":"debug","z":"c8a363d6.9d7ea","name":"http request response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":300,"wires":[]},{"id":"538a872.9174b78","type":"debug","z":"c8a363d6.9d7ea","name":"received message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":460,"y":420,"wires":[]},{"id":"bed7e6e9.97b918","type":"function","z":"c8a363d6.9d7ea","name":"set payload to buffer","func":"msg.payload = Buffer.from('00ff', 'hex');\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":220,"wires":[["8ea5db8c.5d44c8","243e5dfa.00aa12","f213a3fd.a5656"]]},{"id":"243e5dfa.00aa12","type":"debug","z":"c8a363d6.9d7ea","name":"http request in","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":260,"wires":[]},{"id":"73a5dd8e.eeb734","type":"function","z":"c8a363d6.9d7ea","name":"","func":"msg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":520,"wires":[["350dd73e.bc2168"]]},{"id":"350dd73e.bc2168","type":"debug","z":"c8a363d6.9d7ea","name":"payload (received) in hex format","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":660,"y":520,"wires":[]},{"id":"8ea5db8c.5d44c8","type":"function","z":"c8a363d6.9d7ea","name":"","func":"msg.payload = msg.payload.toString('hex');\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["ba52257d.b84c58"]]},{"id":"ba52257d.b84c58","type":"debug","z":"c8a363d6.9d7ea","name":"payload (being send) in hex format","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":220,"wires":[]},{"id":"7dda9258.f6379c","type":"change","z":"c8a363d6.9d7ea","name":"set msg.headers  - content-type audio/wav","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"audio/wav\",\"x-label\":\"idle\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":100,"wires":[["bed7e6e9.97b918"]]},{"id":"33da16dd.9c0e9a","type":"inject","z":"c8a363d6.9d7ea","name":"test1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["7dda9258.f6379c"]]},{"id":"472840dc.7cc27","type":"change","z":"c8a363d6.9d7ea","name":"set msg.headers  - content-type application/cbor","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/cbor\",\"x-label\":\"idle\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":140,"wires":[["bed7e6e9.97b918"]]},{"id":"425cc81d.245cf8","type":"inject","z":"c8a363d6.9d7ea","name":"test3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["3ad64b5.90314b4"]]},{"id":"3ad64b5.90314b4","type":"change","z":"c8a363d6.9d7ea","name":"set msg.headers  - content-type application/octet-stream","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/octet-stream\",\"x-label\":\"idle\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":60,"wires":[["bed7e6e9.97b918"]]},{"id":"497835fc.2398fc","type":"change","z":"e06e6cbd.e8c56","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\t        'x-api-key': 'ei_f2644a0ebef826f54bef92c60a74922e5975fdebcff7e9c095c3570834b3596f',\t        'x-file-name': 'idle.01',\t        'x-label': 'idle',\t        'Content-Type': 'application/cbor'\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":1420,"wires":[[]]}]