flow.json
[
    {
        "id": "e06e6cbd.e8c56",
        "type": "tab",
        "label": "record & upload",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8a363d6.9d7ea",
        "type": "tab",
        "label": "issue buffer",
        "disabled": false,
        "info": "see https://discourse.nodered.org/t/http-request-node-invalid-message-body-was-specified-to-be-cbor-but-could-not-decode-message-failed-to-parse/30503"
    },
    {
        "id": "f74bc4c5.ba44d8",
        "type": "tab",
        "label": "doorbell service",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bc919662.2457c8",
        "type": "tab",
        "label": "edge impulse node test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d1671742.a5e358",
        "type": "tab",
        "label": "buffer => window",
        "disabled": false,
        "info": ""
    },
    {
        "id": "48a68979.0ff158",
        "type": "tab",
        "label": "parse wav file",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a9d77ae0.88b068",
        "type": "ui_tab",
        "name": "Edge Impulse",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4e4602c1.8260bc",
        "type": "ui_group",
        "name": "recorder",
        "tab": "a9d77ae0.88b068",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "8a7aa509.d790e8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e3694a3c.a18638",
        "type": "ui_group",
        "name": "uploading",
        "tab": "a9d77ae0.88b068",
        "order": 2,
        "disp": true,
        "width": "4",
        "collapse": false
    },
    {
        "id": "380b2813.e48b58",
        "type": "sox-record",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "buttonStart": "msg",
        "inputs": 1,
        "inputSource": "default",
        "byteOrder": "-L",
        "encoding": "signed-integer",
        "channels": 1,
        "rate": "44100",
        "bits": 16,
        "gain": "0",
        "lowpass": 8000,
        "showDuration": true,
        "durationType": "limited",
        "durationLength": "60",
        "silenceDetection": "nothing",
        "silenceDuration": "2.0",
        "silenceThreshold": "2.0",
        "outputFormat": "wav",
        "manualPath": "ouput_test",
        "debugOutput": false,
        "x": 350,
        "y": 220,
        "wires": [
            [
                "a3f2c007.8987f",
                "e8ca4264.23b26",
                "eebdc7f4.bd1698"
            ],
            [
                "86186edb.b03a4"
            ]
        ]
    },
    {
        "id": "a3f2c007.8987f",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "raw audio buffer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "79b7b810.6ffd18",
        "type": "inject",
        "z": "e06e6cbd.e8c56",
        "name": "test start",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 140,
        "y": 80,
        "wires": [
            [
                "8b26bdec.67633"
            ]
        ]
    },
    {
        "id": "86186edb.b03a4",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "recording progress info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 560,
        "y": 280,
        "wires": []
    },
    {
        "id": "d9ca7592.17aa78",
        "type": "sox-play",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "outputDevice": "default",
        "gain": "0",
        "startNew": "skip",
        "debugOutput": false,
        "x": 600,
        "y": 440,
        "wires": [
            [
                "36e932de.a4d03e",
                "4b3827df.5079f8"
            ]
        ]
    },
    {
        "id": "183cbd75.1aec93",
        "type": "sox-convert",
        "z": "e06e6cbd.e8c56",
        "name": "down sampling",
        "conversionType": "wav",
        "outputToFile": "buffer",
        "manualPath": "",
        "wavMore": true,
        "wavByteOrder": "-L",
        "wavEncoding": "signed-integer",
        "wavChannels": 1,
        "wavRate": 16000,
        "wavBits": 16,
        "flacMore": false,
        "flacCompression": 8,
        "flacChannels": 1,
        "flacRate": 16000,
        "flacBits": 16,
        "mp3More": false,
        "mp3Channels": 2,
        "mp3Rate": 44100,
        "mp3BitRate": 128,
        "oggMore": false,
        "oggCompression": 3,
        "oggChannels": 2,
        "oggRate": 44100,
        "debugOutput": false,
        "x": 720,
        "y": 340,
        "wires": [
            [
                "31f595c4.a4886a"
            ],
            [
                "162d292b.ca7247"
            ]
        ]
    },
    {
        "id": "36e932de.a4d03e",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "sox-play output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 440,
        "wires": []
    },
    {
        "id": "162d292b.ca7247",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "down sampling info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 950,
        "y": 320,
        "wires": []
    },
    {
        "id": "31f595c4.a4886a",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "down sampled",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 940,
        "y": 280,
        "wires": []
    },
    {
        "id": "6a247f6a.1dcca",
        "type": "http request",
        "z": "e06e6cbd.e8c56",
        "name": "post edge impulse",
        "method": "POST",
        "ret": "bin",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 350,
        "y": 880,
        "wires": [
            [
                "7b924d20.2edf44",
                "ba054a5a.749828"
            ]
        ]
    },
    {
        "id": "7b924d20.2edf44",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "post response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 720,
        "y": 880,
        "wires": []
    },
    {
        "id": "e8ca4264.23b26",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "audio_recording",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e0ccef11.1d155",
        "type": "CBOR",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "ffb6e57.c3a1418",
                "3e88061e.44739a"
            ]
        ]
    },
    {
        "id": "2e3571cf.c0e94e",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "set payload and headers",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t    \"protected\": {\t        \"ver\": \"v1\",\t        \"alg\": \"none\",\t        \"iat\": ($now()~>$toMillis())/1000~>$round(0)\t    },\t    \"signature\": \"0000000000000000000000000000000000000000000000000000000000000000\",\t    \"payload\": {\t        \"device_name\": $env(\"DEVICE_NAME\"),\t        \"device_type\": $env(\"DEVICE_TYPE\"),\t        \"interval_ms\": 1000/44100,\t        \"sensors\": [\t            { \"name\": \"audio\", \"units\": \"wav\" }\t        ],\t        \"values\": [ \"Ref-BINARY-i16 \" ]\t    }\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t        'x-api-key': $env(\"EDGE_IMPULSE_APIKEY\"),\t        'x-file-name': $flowContext(\"label\")& '.01',\t        'x-label': $flowContext(\"label\"),\t        'Content-Type': 'application/octet-stream'\t}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "\"http://ingestion.edgeimpulse.com/api/\" & $flowContext(\"purpose\") & \"/data\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 620,
        "wires": [
            [
                "e0ccef11.1d155",
                "319934d.b3adfcc",
                "fed59dfb.a27fa"
            ]
        ]
    },
    {
        "id": "aa7c389.b1cc7c8",
        "type": "inject",
        "z": "e06e6cbd.e8c56",
        "name": "upload",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "2e3571cf.c0e94e"
            ]
        ]
    },
    {
        "id": "ffb6e57.c3a1418",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "to CBOR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "319934d.b3adfcc",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "63f5e967.d89308",
        "type": "function",
        "z": "e06e6cbd.e8c56",
        "name": "to hex",
        "func": "msg.payload = msg.payload.toString('hex');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 780,
        "wires": [
            [
                "f9c238e3.9b5978"
            ]
        ]
    },
    {
        "id": "f9c238e3.9b5978",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "to hex string",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 780,
        "wires": []
    },
    {
        "id": "259b5d28.809f42",
        "type": "function",
        "z": "e06e6cbd.e8c56",
        "name": "append audio recording",
        "func": "\nmsg.payload = Buffer.concat([msg.payload, flow.get(\"audio_recording\")]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 800,
        "wires": [
            [
                "95afaff8.797f2",
                "63f5e967.d89308",
                "6a247f6a.1dcca"
            ]
        ]
    },
    {
        "id": "95afaff8.797f2",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "body without signature",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 740,
        "y": 820,
        "wires": []
    },
    {
        "id": "3e88061e.44739a",
        "type": "function",
        "z": "e06e6cbd.e8c56",
        "name": "change last field in indefinete array with FF",
        "func": "/* assured that it should end like:\n     9F                                # array(*)\n         6E                             # text(14)\n            5265662D42494E4152592D693136 # \"Ref-BINARY-i16\"\n         FF                             # primitive(*)\n*/\n\nvar buf = msg.payload\n\nbuf.writeUInt8(0x9f, buf.length - 17);\nbuf.writeUInt8(0x6e, buf.length - 16);\nbuf.writeUInt8(0xff, buf.length - 1);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 740,
        "wires": [
            [
                "259b5d28.809f42"
            ]
        ]
    },
    {
        "id": "57f23b8e.96c0d4",
        "type": "inject",
        "z": "c8a363d6.9d7ea",
        "name": "test2",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "472840dc.7cc27"
            ]
        ]
    },
    {
        "id": "f213a3fd.a5656",
        "type": "http request",
        "z": "c8a363d6.9d7ea",
        "name": "",
        "method": "POST",
        "ret": "bin",
        "paytoqs": false,
        "url": "http://localhost:1880/test1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "d3095d49.e1207"
            ]
        ]
    },
    {
        "id": "c0f4f4ca.6987e8",
        "type": "http in",
        "z": "c8a363d6.9d7ea",
        "name": "",
        "url": "/test1",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "b91f8f18.38633",
                "538a872.9174b78",
                "73a5dd8e.eeb734"
            ]
        ]
    },
    {
        "id": "b91f8f18.38633",
        "type": "http response",
        "z": "c8a363d6.9d7ea",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 560,
        "y": 460,
        "wires": []
    },
    {
        "id": "d3095d49.e1207",
        "type": "debug",
        "z": "c8a363d6.9d7ea",
        "name": "http request response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 300,
        "wires": []
    },
    {
        "id": "538a872.9174b78",
        "type": "debug",
        "z": "c8a363d6.9d7ea",
        "name": "received message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "bed7e6e9.97b918",
        "type": "function",
        "z": "c8a363d6.9d7ea",
        "name": "set payload to buffer",
        "func": "msg.payload = Buffer.from('00ff', 'hex');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "8ea5db8c.5d44c8",
                "243e5dfa.00aa12",
                "f213a3fd.a5656"
            ]
        ]
    },
    {
        "id": "243e5dfa.00aa12",
        "type": "debug",
        "z": "c8a363d6.9d7ea",
        "name": "http request in",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 580,
        "y": 260,
        "wires": []
    },
    {
        "id": "73a5dd8e.eeb734",
        "type": "function",
        "z": "c8a363d6.9d7ea",
        "name": "",
        "func": "msg.payload = msg.payload.toString('hex');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 520,
        "wires": [
            [
                "350dd73e.bc2168"
            ]
        ]
    },
    {
        "id": "350dd73e.bc2168",
        "type": "debug",
        "z": "c8a363d6.9d7ea",
        "name": "payload (received) in hex format",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 660,
        "y": 520,
        "wires": []
    },
    {
        "id": "8ea5db8c.5d44c8",
        "type": "function",
        "z": "c8a363d6.9d7ea",
        "name": "",
        "func": "msg.payload = msg.payload.toString('hex');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "ba52257d.b84c58"
            ]
        ]
    },
    {
        "id": "ba52257d.b84c58",
        "type": "debug",
        "z": "c8a363d6.9d7ea",
        "name": "payload (being send) in hex format",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "7dda9258.f6379c",
        "type": "change",
        "z": "c8a363d6.9d7ea",
        "name": "set msg.headers  - content-type audio/wav",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"audio/wav\",\"x-label\":\"idle\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "bed7e6e9.97b918"
            ]
        ]
    },
    {
        "id": "33da16dd.9c0e9a",
        "type": "inject",
        "z": "c8a363d6.9d7ea",
        "name": "test1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "7dda9258.f6379c"
            ]
        ]
    },
    {
        "id": "472840dc.7cc27",
        "type": "change",
        "z": "c8a363d6.9d7ea",
        "name": "set msg.headers  - content-type application/cbor",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/cbor\",\"x-label\":\"idle\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "bed7e6e9.97b918"
            ]
        ]
    },
    {
        "id": "425cc81d.245cf8",
        "type": "inject",
        "z": "c8a363d6.9d7ea",
        "name": "test3",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "3ad64b5.90314b4"
            ]
        ]
    },
    {
        "id": "3ad64b5.90314b4",
        "type": "change",
        "z": "c8a363d6.9d7ea",
        "name": "set msg.headers  - content-type application/octet-stream",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/octet-stream\",\"x-label\":\"idle\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 60,
        "wires": [
            [
                "bed7e6e9.97b918"
            ]
        ]
    },
    {
        "id": "497835fc.2398fc",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\t        'x-api-key': 'ei_f2644a0ebef826f54bef92c60a74922e5975fdebcff7e9c095c3570834b3596f',\t        'x-file-name': 'idle.01',\t        'x-label': 'idle',\t        'Content-Type': 'application/cbor'\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "8b26bdec.67633",
        "type": "ui_switch",
        "z": "e06e6cbd.e8c56",
        "name": "record",
        "label": "",
        "tooltip": "start/stop recording",
        "group": "4e4602c1.8260bc",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "start",
        "onvalueType": "str",
        "onicon": "mic",
        "oncolor": "red",
        "offvalue": "stop",
        "offvalueType": "str",
        "officon": "mic_none",
        "offcolor": "blue",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "380b2813.e48b58",
                "1c7cf0c7.920fbf"
            ]
        ]
    },
    {
        "id": "6f0e81b6.d45c",
        "type": "inject",
        "z": "e06e6cbd.e8c56",
        "name": "test stop",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 140,
        "y": 40,
        "wires": [
            [
                "eebdc7f4.bd1698"
            ]
        ]
    },
    {
        "id": "eebdc7f4.bd1698",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "payload=\"stop\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 80,
        "wires": [
            [
                "8b26bdec.67633"
            ]
        ]
    },
    {
        "id": "39ec7d1b.585602",
        "type": "ui_numeric",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "label": "duration",
        "tooltip": "recording automatic stops after the specified duration.",
        "group": "4e4602c1.8260bc",
        "order": 1,
        "width": "4",
        "height": "1",
        "wrap": false,
        "passthru": true,
        "topic": "",
        "format": "{{value}} s",
        "min": ".5",
        "max": "60",
        "step": "0.5",
        "x": 660,
        "y": 20,
        "wires": [
            [
                "223e761b.a425fa"
            ]
        ]
    },
    {
        "id": "223e761b.a425fa",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "record_duration",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "107fbdd9.277152",
        "type": "inject",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 490,
        "y": 20,
        "wires": [
            [
                "39ec7d1b.585602"
            ]
        ]
    },
    {
        "id": "5d09b736.b89878",
        "type": "delay",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "380b2813.e48b58"
            ]
        ]
    },
    {
        "id": "e4753c17.19fd",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "$flowContext(\"record_duration\")*1000",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 120,
        "y": 240,
        "wires": [
            [
                "5d09b736.b89878"
            ]
        ]
    },
    {
        "id": "6d9c21e0.ad42e",
        "type": "ui_switch",
        "z": "e06e6cbd.e8c56",
        "name": "play",
        "label": "",
        "tooltip": "play last recording or stop playing",
        "group": "4e4602c1.8260bc",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "stop",
        "onvalueType": "str",
        "onicon": "play_circle_fill",
        "oncolor": "blue",
        "offvalue": "start",
        "offvalueType": "str",
        "officon": "stop",
        "offcolor": "red",
        "x": 110,
        "y": 400,
        "wires": [
            [
                "70254950.fe0118",
                "6664cf45.035d9"
            ]
        ]
    },
    {
        "id": "17759ff1.ff2a2",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "audio_recording",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 360,
        "wires": [
            [
                "d9ca7592.17aa78"
            ]
        ]
    },
    {
        "id": "70254950.fe0118",
        "type": "switch",
        "z": "e06e6cbd.e8c56",
        "name": "is start ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 400,
        "wires": [
            [
                "17759ff1.ff2a2"
            ],
            [
                "d9ca7592.17aa78"
            ]
        ]
    },
    {
        "id": "6664cf45.035d9",
        "type": "debug",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 260,
        "y": 340,
        "wires": []
    },
    {
        "id": "1c7cf0c7.920fbf",
        "type": "switch",
        "z": "e06e6cbd.e8c56",
        "name": "payload = start ?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 130,
        "y": 200,
        "wires": [
            [
                "e4753c17.19fd"
            ]
        ]
    },
    {
        "id": "4b3827df.5079f8",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "change to stop state",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "6d9c21e0.ad42e"
            ]
        ]
    },
    {
        "id": "d6548091.adcf1",
        "type": "ui_button",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "group": "e3694a3c.a18638",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "upload",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "2e3571cf.c0e94e"
            ]
        ]
    },
    {
        "id": "b2411696.c23368",
        "type": "ui_text_input",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "label": "label",
        "tooltip": "",
        "group": "e3694a3c.a18638",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "908b62a6.1f8de"
            ]
        ]
    },
    {
        "id": "48d64555.f9c22c",
        "type": "inject",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "other",
        "payloadType": "str",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "b2411696.c23368"
            ]
        ]
    },
    {
        "id": "908b62a6.1f8de",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "label",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "9f57e7bd.56b038",
        "type": "ui_text",
        "z": "e06e6cbd.e8c56",
        "group": "e3694a3c.a18638",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 530,
        "y": 960,
        "wires": []
    },
    {
        "id": "ba054a5a.749828",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "statusCode",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 940,
        "wires": [
            [
                "9f57e7bd.56b038"
            ]
        ]
    },
    {
        "id": "fed59dfb.a27fa",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "uploading ....",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 980,
        "wires": [
            [
                "9f57e7bd.56b038"
            ]
        ]
    },
    {
        "id": "2bee38ad.086498",
        "type": "ui_dropdown",
        "z": "e06e6cbd.e8c56",
        "name": "training/testing",
        "label": "purpose",
        "tooltip": "",
        "place": "Select option",
        "group": "e3694a3c.a18638",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "training",
                "type": "str"
            },
            {
                "label": "",
                "value": "testing",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 840,
        "y": 540,
        "wires": [
            [
                "f7934d9.49532b"
            ]
        ]
    },
    {
        "id": "168501bb.14781e",
        "type": "inject",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "training",
        "payloadType": "str",
        "x": 680,
        "y": 540,
        "wires": [
            [
                "2bee38ad.086498"
            ]
        ]
    },
    {
        "id": "f7934d9.49532b",
        "type": "change",
        "z": "e06e6cbd.e8c56",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "purpose",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "79effd83.e5bdd4",
        "type": "sox-record",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "buttonStart": "msg",
        "inputs": 1,
        "inputSource": "default",
        "byteOrder": "-L",
        "encoding": "signed-integer",
        "channels": 1,
        "rate": "44100",
        "bits": 16,
        "gain": "0",
        "lowpass": 8000,
        "showDuration": true,
        "durationType": "forever",
        "durationLength": "60",
        "silenceDetection": "nothing",
        "silenceDuration": "2.0",
        "silenceThreshold": "2.0",
        "outputFormat": "stream",
        "manualPath": "ouput_test",
        "debugOutput": false,
        "x": 390,
        "y": 120,
        "wires": [
            [
                "3190bdd1.58bd62",
                "ca60aad7.a4ea28",
                "cc7592fb.afd36"
            ],
            []
        ]
    },
    {
        "id": "3b5139e6.3435e6",
        "type": "inject",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "start",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "79effd83.e5bdd4"
            ]
        ]
    },
    {
        "id": "6e8ec175.69424",
        "type": "inject",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "79effd83.e5bdd4"
            ]
        ]
    },
    {
        "id": "3190bdd1.58bd62",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "recorded buffer",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 780,
        "y": 100,
        "wires": []
    },
    {
        "id": "e102668d.96acf8",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "buffer to array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "93232062.0aa57",
        "type": "function",
        "z": "f74bc4c5.ba44d8",
        "name": "window (16bit LE signed) => Array",
        "func": "// see https://nodejs.org/api/buffer.htm\n\n// https://stackoverflow.com/questions/18148827/convert-buffer-to-array\nBuffer.prototype.bufferInt16LE_to_Array = function(){\n    if (this.length > 0) {\n        const data = new Array(this.length/2);\n        for (let i = 0; i < this.length/2; i=i+1)\n            data[i] = this.readInt16LE(2*i);\n        return data;\n    }\n    return [];\n}\n\n/*\nlet out = new Array(msg.payload.length/2);\nlet i=0;\nfor(i=0; i<msg.payload.length/2; i++) {\n    out[i] = msg.payload.readInt16LE(2*i);\n} */\n\nmsg.payload = msg.payload.bufferInt16LE_to_Array();\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "e102668d.96acf8",
                "c4de65f3.c364b8"
            ]
        ]
    },
    {
        "id": "7074a4a.0fe4d5c",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "buffer in hex format",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "ca60aad7.a4ea28",
        "type": "function",
        "z": "f74bc4c5.ba44d8",
        "name": "to hex",
        "func": "msg.payload = msg.payload.toString('hex');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 140,
        "wires": [
            [
                "7074a4a.0fe4d5c"
            ]
        ]
    },
    {
        "id": "6fdde704.ac14c8",
        "type": "edge-impulse-classify",
        "z": "bc919662.2457c8",
        "name": "classify",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "f300de8.5ab4b2"
            ]
        ]
    },
    {
        "id": "6b4b189c.4f7e88",
        "type": "inject",
        "z": "bc919662.2457c8",
        "name": "ring example 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[-882,587,-870,149,-16,-697,-299,-205,-352,-165,-107,-1593,984,-1376,1158,-1424,-205,-884,103,-296,-96,-518,-435,-41,-640,158,-1274,739,-1157,155,-1100,396,-860,821,-1019,143,-324,93,502,-510,1005,-211,723,-363,902,-323,1251,-155,932,-331,807,-44,925,-129,20,1077,-1034,788,-1110,980,-332,180,-874,-113,-582,348,163,-967,-488,-250,-60,-483,-21,-221,-286,-156,766,-1213,895,-343,408,5,9,34,265,-44,-520,1005,-810,157,-248,-425,-128,186,-664,-646,-717,4,-741,214,-1426,-247,-426,-633,-96,-711,-27,-833,120,-1224,-198,-3,-454,-1081,443,-1173,369,-476,-168,-933,35,16,-1057,479,-1002,43,17,-409,-903,431,-621,562,86,-458,-332,878,-623,68,-39,-58,-247,10,-574,-146,84,-649,190,-1084,239,-1349,1225,-1674,-517,-411,-799,-830,-566,-49,-1756,529,-1456,-693,-288,-109,-959,73,-581,-766,101,-420,-500,-324,17,-509,188,-720,-267,217,505,-794,-373,416,-801,294,232,-651,-221,129,-70,358,-396,304,109,52,190,224,337,-303,536,-605,599,-411,312,-473,55,240,-590,243,-931,858,-609,466,-529,-22,82,-295,1007,-495,-136,1047,-162,384,348,251,224,759,3,344,889,-190,1361,-646,693,-316,754,-488,376,-130,-295,-80,-86,-523,-809,637,-1441,42,-1028,11,-781,-691,-1182,-182,-595,-655,-845,-212,-1082,375,-594,-703,-2,-149,615,-1024,866,-1209,1121,-300,746,-333,172,441,-71,550,-862,606,-347,-897,598,-680,-581,109,-1263,47,-1211,237,-1046,-402,-673,-170,-410,-874,-37,-477,24,-1189,440,-1254,-88,-132,-386,-600,-661,436,-681,238,-604,334,4,351,-107,22,687,-98,927,-262,309,361,109,91,202,-446,130,353,56,-71,-61,473,-458,271,-321,782,-891,352,-310,-370,395,-680,431,-999,473,-341,788,-774,267,539,-166,757,89,755,417,1017,798,-140,1029,1215,192,1188,-246,735,-50,653,-273,-151,371,-1024,693,-808,-859,358,-398,-702,-383,13,-641,-241,367,-1087,325,-298,297,-557,835,8,-85,439,-317,597,329,578,-650,903,-924,628,104,-455,211,151,-159,53,-97,-617,390,-71,93,-494,-11,297,-150,-107,-254,-426,363,-406,449,-383,-160,-270,-453,-188,-620,178,-334,-18,-792,355,-219,-97,424,-418,775,-575,1073,-433,-320,1212,-830,127,-413,65,264,-379,-594,-216,-1226,108,-591,-663,-1160,-582,-596,-1082,-483,-1234,254,-1368,585,-1054,-5,-447,196,20,-328,586,122,557,260,1220,-412,1295,244,860,837,827,-399,1256,-78,432,985,-490,987,-311,524,-426,-188,-97,-185,-252,92,-1347,255,-678,-121,-446,-339,-643,-109,401,-743,515,-1455,567,-585,-166,-36,-63,-1032,339,26,-594,-108,217,-158,121,429,-996,1423,-1370,1284,-19,461,553,-571,1812,-186,439,200,260,271,722,358,-230,392,-192,798,2,-224,774,-671,595,-24,-487,-320,-329,-504,-487,-371,-953,-575,-366,-1421,31,-895,-682,-864,-553,105,-1793,215,-1126,468,-43,130,-200,45,-11,300,946,-785,199,325,179,508,-443,-165,980,-780,906,-228,-244,96,247,-250,-488,238,-386,35,-259,-372,-122,-1086,102,-532,-556,85,-1225,381,-1434,-40,-473,-675,-1115,-117,-464,-253,-70,-1445,554,-357,-24,-31,756,-884,839,409,-524,534,-15,757,38,71,479,-204,950,550,-473,905,-122,537,30,735,-633,533,241,-189,515,-389,1108,-938,800,-385,-251,174,-390,-46,-117,-255,-1162,-287,-598,-450,-63,-658,-800,-677,189,-446,-623,-117,-842,413,-461,511,-815,-105,43,68,228,-583,986,-452,4,244,476,-801,1024,-365,350,221,-728,758,-1311,443,-119,-102,-80,-1250,272,-149,-991,-245,-660,-601,-948,13,-1465,-133,-963,-1001,-147,-1274,466,-1244,-56,-1039,-1099,547,-1106,184,-347,-920,83,-562,-214,-950,280,-742,-502,94,-544,-564,97,-771,-92,-382,-681,-240,-723,-315,-783,-336,-1190,-834,-495,277,-1266,-431,-898,-947,-13,-262,-689,-77,-941,282,-709,93,-343,-328,675,-448,28,71,838,-1083,1453,-977,1092,-64,263,209,-30,256,-167,-166,-642,162,-204,321,-998,-396,-1496,585,-1101,123,-967,-19,-1025,-461,-81,-858,-3,-358,-20,-1525,1228,-1364,553,-1126,-248,-386,-61,539,-1513,586,-926,537,-1044,98,-675,-878,1496,-2414,398,-1082,-557,320,-668,69,-1442,479,-1022,-14,-491,287,-832,141,-671,409,-393,506,-388,-746,826,-798,1407,-1371,1138,-1339,888,-580,382,-285,216,405,-935,594,-699,167,-262,725,-1458,672,-790,-157,-659,139,-551,-223,-297,-974,-142,-625,281,-1695,-376,-914,-771,-115,-772,-807,-1153,-739,-39,-1270,-88,-962,-277,-978,-598,149,-930,253,-852,306,-938,681,-1065,128,-206,-423,837,-1224,435,-735,796,-734,235,-306,-915,659,-185,225,-1630,353,-1014,-487,267,-1383,-43,-1659,7,-1296,244,-1065,-506,-132,-1335,676,-1045,487,-873,832,-538,151,235,-117,131,74,275,-404,-43,-222,92,-72,231,-1113,833,-1723,386,-420,-522,-714,-1013,-833,-1102,-484,-1265,-678,-2162,563,-2775,792,-1378,-864,-285,-797,-94,-974,891,-1244,665,-571,126,63,912,-552,455,13,340,61,526,-786,271,410,-775,360,-1029,465,-1174,1417,-1869,296,-985,-563,493,-766,-580,-710,454,-1643,1022,-887,-450,-201,-365,-464,317,-30,-670,-270,113,12,42,589,-836,235,330,-301,82,7,-1056,402,401,-1457,-116,-625,-714,-50,-839,-691,-796,-340,-712,-38,-998,-621,-171,-652,-316,-342,0,-718,-84,-703,-241,-234,-256,-496,-291,-825,-272,-64,-248,-761,-73,-92,-1202,1103,-992,88,-337,-555,-74,-372,-463,-194,-679,-718,-164,-1288,68,-1564,-496,-174,-1174,-177,-1188,-979,212,-932,22,-866,-814,19,-318,193,-941,-537,-395,-247,-532,-1,-1238,-278,-488,-346,-160,-973,161,-809,329,-607,88,-467,-331,62,-423,85,-119,-363,179,-59,-9,251,-347,213,-643,1071,-809,430,-729,541,-70,-195,858,-962,682,-339,582,-814,648,-400,426,-662,-409,-90,-509,58,-696,-920,-451,-631,-361,-439,-1288,-862,-496,153,-1895,267,-1880,186,-896,-734,-694,-1150,-632,-598,-403,-1272,-666,-1207,-270,-756,-213,-1545,-15,-1684,93,-503,-442,-1064,-337,-607,18,-163,-718,1,-1066,1152,-847,453,-896,755,-602,440,29,-660,420,-520,630,-752,-405,-427,-447,-423,-622,-575,-882,-803,-660,-206,-777,-951,168,-911,-395,74,-418,-192,230,-688,649,-1043,90,600,-766,-257,-277,121,-553,506,-815,-582,-721,-444,-430,-369,-1141,-312,-1010,-125,-512,-622,-81,-903,363,-992,89,-1602,-88,-601,-153,-843,-679,-575,-1111,338,-781,-378,-1166,-458,-838,332,-1068,-635,-945,-316,-372,14,-3,-840,507,-739,868,-275,-38,332,512,-312,321,243,-492,550,776,-752,732,256,-718,881,-629,717,-844,612,-988,452,8,-680,420,-1193,374,-686,392,-563,-261,-557,-451,-785,-313,-255,-374,-655,-854,-679,-410,-357,-447,-817,-1174,131,-1240,237,-788,-895,-156,110,-855,-236,-178,-711,560,-374,-408,-253,137,-393,917,-869,78,174,-925,1250,-1068,662,-865,-479,52,-830,749,-1273,563,-1310,294,-364,-119,-308,-1030,500,-1367,520,-1073,-213,-448,-250,-457,-840,-441,-295,-597,-252,-1093,-382,-659,-663,55,-1466,513,-1488,118,-945,79,-744,56,51,-1154,426,-440,240,-621,288,-921,-96,176,55,-814,151,-1053,-99,-420,-488,-81,-972,-241,-1619,668,-1378,94,-355,-854,-421,-487,-227,-1120,-87,-1077,-65,-1089,-904,-450,-933,-248,-545,-639,-410,-859,696,-437,-198,323,-483,322,293,1124,-237,1271,-778,1815,-398,977,1319,-1096,1834,-966,1312,-782,1013,-1117,837,-684,-194,479,-1206,685,-1038,-8,-1179,-92,-906,27,-1146,-49,-821,-497,-1281,524,-1591,72,-637,-951,-18,-1713,1206,-1778,490,-1183,285,-1149,1199,-587,-6,947,-861,946,910,279,504,998,4,1156,366,837,473,990,185,631,-127,788,-787,956,-796,201,-474,-834,394,-1556,126,-857,-241,-1598,209,-1111,-452,-838,-760,-1207,-811,-199,-1381,-240,-916,-915,-367,-143,-440,-221,241,-426,371,140,25,631,-360,1015,-263,509,376,-105,549,143,365,-85,541,-87,-46,570,-104,420,-551,513,-258,241,168,-227,-309,-438,712,-1249,1086,-1239,-295,-139,-519,-159,52,-361,-284,210,-865,633,-550,-110,153,71,-140,837,-324,1023,63,1310,246,853,1204,-52,1847,355,1389,-522,1618,191,415,1770,-471,-192,473,-342,48,720,-859,-153,-137,-851,-97,-492,-568,-660,-467,-699,-432,-264,-722,-317,-1289,294,-899,-803,-325,-405,-757,-76,-305,-780,239,-510,631,-189,-144,-212,420,34,555,635,-571,556,-67,454,324,-76,277,-452,29,214,-363,46,-419,-574,505,-405,-240,409,-765,-355,828,-525,-206,538,-421,503,503,-214,292,887,-258,1112,223,230,495,72,736,80,698,68,437,-519,649,253,244,-44,-271,641,-376,480,263,-358,-78,462,-97,414,205,-479,789,-313,-281,837,-653,303,-212,-141,490,-663,-275,588,-694,534,-31,-254,-406,-162,651,-902,380,-1132,153,-709,624,-933,-145,218,-761,641,-283,-64,-444,337,-869,690,-812,516,-79,-286,172,175,-353,394,-163,4,693,-185,1091,-975,1105,-117,938,232,336,559,-64,869,146,327,280,-281,850,-358,223,455,-481,555,-1244,1622,-1450,952,-1008,171,-124,-471,1268,-1828,1515,-1148,1349,-809,520,340,-221,1034,-362,1098,-244,413,240,542,264,-300,885,-380,-60,533,199,160,-545,165,-38,389,-326,569,-238,-254,772,73,521,-96,172,-325,17,358,-567,372,-281,83,-306,256,-117,-706,811,-735,734,-538,143,464,34,1073,-22,545,580,557,759,1198,130,917,676,869,885,608,780,121,1006,22,608,760,454,300,443,279,14,431,14,215,-490,139,-265,-25,-48,-850,271,-778,-702,82,-98,-672,209,-306,-58,-99,55,590,133,220,52,890,-508,387,870,460,-531,928,-343,5,1206,-643,657,-399,608,430,329,405,-340,369,322,-52,613,-240,177,444,63,529,-275,335,139,607,-83,90,15,188,130,326,-177,-88,89,-302,894,-158,-204,158,75,-227,1056,-572,1050,-375,523,486,-135,1142,-82,948,-233,589,129,811,82,688,-271,361,341,257,-97,570,54,4,510,-89,834,-522,867,-217,139,-196,217,584,-357,490,71,-453,466,-439,1049,-287,169,75,-351,567,-519,1192,-1060,368,30,93,-336,614,-786,140,509,-289,817,-776,1422,-640,1225,-118,1097,487,947,992,503,1363,487,1403,433,1782,424,1471,-420,1297,207,696,899,-132,307,377,411,418,545,-895,1727,-777,581,635,551,-168,1296,429,443,1200,676,1607,-250,1537,-84,1258,-88,923,412,154,262,333,-278,-200,670,-807,903,-1072,1051,-654,742,-84,-61,840,-996,1470,-106,461,460,164,-77,88,1045,199,124,1095,-180,901,416,649,546,388,941,-60,1087,-724,1402,-618,-56,339,-455,325,1,-60,-553,393,-635,791,-1252,987,-345,23,-372,-207,181,-248,751,-495,681,-622,615,98,472,-99,908,-217,403,501,345,1150,283,177,804,332,801,938,-559,1681,-423,1215,565,162,537,757,914,-844,1278,-681,1497,166,-255,712,-544,430,-209,634,-771,524,-834,401,62,329,516,16,436,75,680,708,612,-351,1247,283,862,329,710,274,1246,-360,518,108,9,262,445,91,-914,791,-533,513,-1051,550,-567,-89,-474,67,-505,-117,-21,-872,280,-731,321,-6,-342,-24,490,-268,817,45,311,627,326,169,909,423,545,691,638,114,1421,166,114,961,-117,846,407,562,-486,1178,161,256,-213,783,-471,354,812,-428,264,113,-1,356,-135,-317,351,-71,211,274,16,-176,1049,-883,1800,-270,866,217,1061,144,722,1256,1,1470,-196,1279,-448,1286,314,326,745,1110,-536,1284,-306,205,33,31,29,-485,-78,-549,95,-542,104,-939,801,-1225,492,-1131,927,-1125,320,-29,-160,1269,-874,1286,-204,1005,68,1811,-518,383,981,516,485,242,-181,418,189,819,-504,439,691,-364,1334,-825,583,81,1105,-855,1178,-192,180,793,413,795,-202,1284,159,551,432,838,515,126,809,545,406,1028,-233,1274,-483,1411,579,3,838,-18,663,-39,900,-206,1215,163,325,523,112,871,546,-102,-161,536,122,529,109,23,-7,249,628,-556,11,560,-356,9,225,-715,207,112,520,-437,349,-113,439,896,84,1658,-735,1073,391,893,677,216,778,114,541,662,466,-159,319,-77,449,-380,398,-165,-356,-251,159,364,-1124,717,-365,-164,-250,-115,-355,-234,375,-622,997,-1568,1002,295,-58,611,-791,856,-703,186,225,-194,459,-592,162,-445,-79,521,-385,673,-1031,667,-164,884,-238,180,524,-136,689,384,278,-457,942,-313,670,-241,224,42,485,-958,1210,-642,-397,273,498,51,-596,1247,-1836,1182,-535,875,-1214,217,-699,573,326,-485,331,-550,780,-321,1413,-1173,963,-451,1309,-436,713,316,702,754,-31,1161,-538,1208,120,1127,-58,931,138,597,437,1242,128,1023,163,715,847,231,1027,-80,499,116,1260,-1183,1320,-748,81,742,-804,162,226,-77,-110,-183,224,-328,-43,620,-1072,315,-627,969,-578,-326,357,-243,187,-219,-168,-262,-302,301,79,-500,-481,-367,346,-488,-419,-18,-47,-730,657,317,-410,23,168,356,81,335,425,-431,346,171,409,-95,-497,678,-161,699,-500,219,257,-534,977,-299,388,-217,647,664,-470,893,-367,903,-546,944,92,-298,816,-654,882,-763,1171,-328,303,-136,-205,600,-713,731,-592,301,-440,41,307,-318,-585,106,-517,26,327,36,-302,-134,309,-80,832,-735,787,363,390,201,658,-398,756,749,-38,812,-343,722,225,546,-400,899,-814,-239,668,-812,412,-1240,209,-902,-460,503,-1545,526,-1338,292,-252,-307,-324,-141,962,-1165,1409,-908,755,74,334,191,65,539,-437,1494,-823,446,669,-177,127,470,141,-20,548,173,-623,811,-66,254,-298,695,-812,290,368,-1220,1170,-1286,129,-979,722,-996,400,-519,-534,-61,-143,300,-720,-122,-718,949,-606,122,-619,641,-777,1067,-211,-573,208,-149,51,-292,-21,-1454,471,-431,-846,-128,-420,-1357,436,-366,-512,-641,-803,8,-618,150,-247,-830,120,-284,606,-284,128,129,558,191,158,469,-183,708,-80,1361,-1160,1352,-141,384,211,-58,626,163,-54,271,419,-1347,987,-476,-233,-591,536,-743,-67,-610,-195,-887,-450,158,-571,265,-1089,-323,429,-404,-324,339,-1000,29,106,615,-1412,457,-459,80,700,-1092,606,-892,310,-120,723,-522,69,625,1,698,-24,672,-321,738,447,346,105,169,160,976,-39,419,418,117,1034,494,1249,-434,993,176,1279,-650,534,-53,-225,524,-1015,1041,-1559,678,-663,-418,-546,-695,-38,-969,-728,-693,-153,-707,-155,-538,-504,-378,493,-363,-385,354,-382,-65,338,-23,108,-79,-41,605,13,104,248,285,41,124,337,3,-1239,-114,839,-1475,687,-1784,-104,154,-1508,805,-1669,-644,-317,647,-1325,-412,-657,-418,-1,-504,-49,-809,224,-383,-216,545,-827,-128,433,-743,474,101,292,-1121,1621,-291,801,605,-131,979,432,1099,-3,889,-231,1162,448,602,43,988,-248,963,-333,172,1085,-955,476,-348,572,-878,844,14,-895,682,212,69,-119,193,53,44,895,-749,446,-171,-152,982,-492,359,-269,496,-100,233,51,-341,-135,-727,1049,-103,-350,113,107,54,513,1156,-1356,665,154,106,310,-185,-454,-655,641,-850,-264,-779,-209,-981,159,-310,-949,227,-880,104,-221,503,-555,198,400,125,783,-250,335,-242,395,214,25,248,-322,124,270,-45,385,-453,447,-773,-252,157,-493,303,-1684,194,-1073,-42,-547,-594,-1028,-822,511,-1296,-53,-325,-599,150,118,-296,-311,84,262,-183,675,-672,892,-1026,858,-154,732,129,-796,1016,-176,1197,-441,883,-1615,1288,-249,940,-1073,267,-540,212,607,-1365,777,-1561,1114,-1271,375,-769,163,-591,532,-974,476,-468,-372,378,-608,672,-291,119,-1268,1639,-927,1070,-212,-338,-125,754,531,-426,285,-341,537,89,371,-44,236,-39,-115,311,-121,-264,587,-835,-123,0,245,-437,208,-549,629,191,-366,257,-128,86,561,242,-764,1005,-294,1661,-544,632,510,-137,1355,-24,217,866,-458,262,122,-41,136,-419,-237,-1062,712,-672,159,-921,-199,-745,458,-558,-389,-142,-416,500,-627,262,-181,311,256,129,-128,517,-319,678,-156,876,-124,1126,-607,843,490,-72,1293,-1139,1054,-710,1336,-564,-268,62,-970,375,-532,-224,-213,-697,-680,-464,109,-1142,240,-471,-1072,360,129,-331,-730,175,-69,481,259,17,148,910,372,1009,377,385,461,1885,438,675,896,267,782,564,1091,-246,535,-460,726,169,63,79,-154,-754,312,489,-857,-626,33,-638,151,-790,-585,-414,-576,201,-808,367,-991,1066,-362,31,-102,761,225,282,474,162,1073,-167,942,-104,736,15,1010,44,-547,987,-171,237,476,-697,455,132,29,707,-318,492,-246,225,537,-118,395,-72,-316,-205,1255,-741,29,-359,-217,656,-208,333,-1263,436,-286,596,-437,-297,-192,993,-46,0,220,-537,927,-611,1103,-1028,309,-340,235,-313,118,823,-1106,940,95,604,-176,131,400,180,671,806,152,262,93,700,296,-27,-77,-270,522,-1553,366,-803,48,-860,-738,-330,-1037,69,-418,-297,-1569,673,-692,-60,-67,-496,464,317,-162,279,-70,456,590,300,533,79,465,941,431,503,1347,-250,547,639,530,1144,186,-132,966,185,750,578,-89,-300,783,247,224,229,-383,900,284,-640,772,-284,-67,1103,-389,788,-156,184,456,331,317,767,-394,850,325,318,939,146,-148,772,556,141,1086,-286,577,68,809,-332,931,-111,531,311,-364,496,-84,497,-402,-39,-168,-212,-796,485,-1506,-333,-166,-1298,-274,-889,-785,-458,-673,-538,-596,-745,-323,196,-355,-700,38,-672,297,-350,884,-404,-362,-80,1036,-85,-240,818,-985,164,306,181,-891,550,-956,1363,-1048,139,142,-501,659,-408,256,-784,542,-325,666,-866,161,-776,105,-485,370,-156,-508,-169,-494,1039,-692,987,-589,412,73,611,252,430,419,5,1330,-520,875,124,808,-48,-178,374,-189,376,-286,586,-1101,121,331,-785,-148,-266,-503,-559,-228,-338,-1069,516,-563,-855,319,-990,134,111,772,-794,1112,-340,-83,1631,-246,873,-519,667,80,1358,122,-53,636,-674,1257,154,-356,-214,365,-73,-331,135,-1181,31,113,-944,699,-1047,-110,365,434,-290,-344,826,-738,546,331,551,-421,288,341,447,321,239,343,-111,695,7,1085,-393,135,607,-206,367,-182,319,230,-251,10,338,-562,-36,744,-1280,-73,-99,-513,267,-1196,282,-687,-130,187,-275,121,-345,652,-237,382,-175,89,1121,391,260,542,1237,-118,821,1464,-148,803,214,318,498,327,-453,-387,293,-213,325,-81,-571,-168,245,231,82,-441,-25,-109,127,44,-412,-5,-99,745,-406,-136,733,-425,184,586,347,-868,1246,136,-398,1282,-140,749,630,163,728,651,1086,102,445,895,88,535,176,152,-240,256,649,-644,465,600,-578,671,196,823,-825,1086,-489,258,562,167,850,-1108,1847,-1075,1393,67,-734,855,455,-399,319,786,-471,542,266,534,194,288,615,913,246,702,263,663,36,699,753,205,290,375,856,155,717,389,452,427,600,508,193,63,814,245,-471,727,263,201,66,-213,337,-429,601,104,-542,-466,444,38,-888,589,-771,224,526,-381,737,-22,222,777,578,294,394,1251,-109,1300,772,738,439,247,1481,420,827,224,124,646,736,557,771,-491,161,1498,-265,414,697,-822,1197,244,-362,261,-91,314,-65,136,-507,-379,892,-455,-148,23,-174,89,441,368,250,638,-142,1012,404,772,936,1292,279,1131,1460,672,500,1363,924,782,648,202,1701,1,1012,528,-129,299,1327,564,-11,11,691,338,754,348,293,622,393,1490,111,529,487,1621,353,782,744,449,1518,666,1092,1044,22,1055,1177,637,868,374,1077,605,776,1370,398,318,1123,193,1274,284,582,482,1029,361,59,438,94,291,29,399,-859,-227,28,268,-737,247,-382,-130,-15,448,-507,-20,-497,697,109,-436,214,36,-189,-1,295,-740,564,-879,1345,-1129,302,-185,582,-72,404,-77,58,-573,911,450,-1257,979,-1167,814,-1560,1209,-1495,-31,-513,-107,-643,-445,-404,-282,238,-923,487,-473,639,-900,1653,-561,431,-489,1600,-124,302,1214,-968,1371,-148,950,-67,506,-171,945,131,-180,298,291,715,-695,729,-450,28,421,167,488,-718,549,433,402,-343,741,273,-150,1240,30,637,-494,793,660,-462,685,-137,728,138,15,988,-603,228,794,1158,-250,274,691,73,940,-136,1346,-911,39,1111,231,238,-412,953,-374,835,746,-455,769,-89,819,674,73,264,555,1301,234,703,477,589,585,1079,189,384,701,199,1156,-71,479,483,873,278,849,906,-149,958,413,348,766,344,364,564,467,78,967,-287,253,1264,-223,380,12,1016,-334,1261,191,-54,877,140,1786,-575,518,909,787,678,834,232,488,859,753,815,-250,847,753,975,422,-144,31,947,-117,684,-59,-147,-163,846,-36,-614,777,-856,1559,-1264,1653,-1024,760,-547,779,513,-455,1665,-961,2525,-1373,2433,-698,1401,594,2029,452,851,983,837,2151,42,2263,-104,2110,371,1970,-49,1285,-148,2107,-717,1652,447,497,1483,-444,1848,-1145,2510,-1131,2022,-660,579,125,363,267,75,825,-535,701,315,398,-42,1181,-346,1430,154,1020,258,1548,362,1422,654,838,968,1172,965,567,1226,-477,1907,-204,1879,-657,1549,-368,1454,676,282,1333,-361,2062,-204,1783,-230,909,679,770,804,837,84,1341,717,453,819,240,1097,57,1330,373,319,792,853,688,953,541,764,516,553,742,795,162,753,890,481,767,257,872,-88,905,197,314,766,58,976,72,381,-169,842,233,332,599,-770,243,577,292,-119,357,-400,-159,860,-577,-491,318,-765,899,-548,121,-274,382,371,-481,1056,-740,920,399,369,467,-9,164,805,495,153,433,916,-451,602,861,290,851,167,1405,398,462,754,993,596,568,903,849,91,1425,928,560,788,551,1344,254,1115,105,934,515,304,1295,-203,928,867,261,407,931,458,582,1583,-31,1155,265,854,805,561,1292,269,884,658,1242,395,1486,-293,1393,932,339,1261,824,569,944,1375,-148,2022,-481,1883,287,-331,1045,58,141,348,110,-512,241,-840,511,-781,65,5,-199,-23,388,-244,37,506,-952,908,7,-175,704,-167,309,281,85,-78,919,147,21,1087,-484,930,73,1202,-133,30,1048,-140,676,-150,464,9,612,-184,154,97,-544,796,-16,-860,321,45,473,-103,33,249,51,505,135,793,-354,813,644,235,523,473,742,-197,615,528,-321,551,-345,-19,100,-76,-379,-320,160,-887,152,-495,-212,-836,468,-113,-103,-43,-231,705,-204,990,-456,1152,10,831,582,631,520,558,1683,-300,907,395,1258,-193,1007,190,-141,1171,-247,90,280,-390,366,-306,-291,-87,-733,351,-558,186,-547,-282,-283,572,-769,900,-60,-541,914,-43,927,-127,444,851,714,1001,1357,262,1738,668,2143,982,811,1364,1013,1302,1126,1310,450,958,771,1462,225,1305,-394,1146,942,-7,886,318,160,926,1181,-246,1174,432,1026,1392,451,1017,565,1567,658,964,1318,60,1870,224,1578,482,1201,1306,403,1358,222,1335,411,669,382,313,540,202,659,-86]",
        "payloadType": "json",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "6fdde704.ac14c8"
            ]
        ]
    },
    {
        "id": "f300de8.5ab4b2",
        "type": "debug",
        "z": "bc919662.2457c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 140,
        "wires": []
    },
    {
        "id": "f7a88ebc.644c4",
        "type": "inject",
        "z": "bc919662.2457c8",
        "name": "other example 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[829,-494,284,-197,374,-308,35,580,-770,1046,-935,520,-91,-231,456,-83,-96,332,-49,36,241,6,-100,494,-510,423,-312,353,59,-387,559,-408,422,-342,549,-470,365,124,-236,129,315,-230,357,-305,505,-598,871,-546,251,354,-572,973,-1335,1786,-1587,1248,-639,321,2,-158,636,-548,400,99,7,256,-112,-73,835,-839,778,-465,858,-1070,1415,-1025,977,-722,690,131,-693,1274,-1212,1340,-1200,1308,-1059,1164,-850,686,-304,199,448,-463,542,-210,738,-748,1026,-420,382,-16,251,-149,614,-510,807,-262,269,405,-379,774,-599,730,-203,154,158,273,-142,698,-157,177,369,22,82,434,-95,164,464,-388,678,-158,261,150,284,81,184,251,190,126,118,198,362,-310,463,-39,-67,643,-458,568,10,-58,572,-337,295,527,-478,770,-197,107,438,168,-1,401,233,-95,569,-110,138,607,-200,17,463,-249,674,-383,583,61,-13,461,99,-96,355,399,-499,732,-213,411,57,378,-109,310,142,432,-37,15,1006,-853,1119,-461,476,207,178,85,38,745,-838,1003,-163,-77,278,112,141,-237,442,118,-13,37,510,-312,283,518,-645,912,-571,768,-383,195,381,-238,667,-705,1016,-561,632,-46,-42,550,-305,318,4,-60,425,-403,732,-733,638,-127,-113,659,-1101,1437,-1122,888,-483,498,-295,471,-153,-67,435,-340,559,-694,883,-900,975,-849,666,-318,108,-47,129,124,-571,1053,-678,172,210,-94,89,162,-137,385,-205,439,-452,630,-450,411,41,-204,246,115,55,-282,742,-514,500,62,-59,140,203,-90,210,-6,-53,309,140,-646,1022,-553,71,504,-293,19,404,-37,-322,516,-220,218,-201,707,-1106,1290,-818,133,376,-263,116,-161,430,-751,961,-569,210,8,152,-196,328,-250,187,-72,259,-523,737,-565,117,819,-1209,1135,-814,820,-824,871,-533,223,149,-258,345,-400,638,-755,1010,-1261,1106,-488,-132,388,-280,237,-120,431,-497,632,-359,325,-257,415,-388,563,-525,220,154,-387,511,-576,585,-670,765,-822,699,-664,654,-415,-62,280,-575,865,-1147,932,-668,436,-659,655,-554,-47,313,-277,-36,-48,288,-447,261,-171,139,-182,125,-249,349,-523,644,-775,440,17,-316,233,-107,-206,52,107,-431,412,-411,296,-417,848,-1067,810,10,-271,132,90,149,-540,757,-663,572,-694,562,-225,-156,260,-145,147,-315,400,-279,300,-184,-224,221,-113,-132,-34,68,-181,165,-208,39,-5,97,105,-315,442,-376,298,-53,-203,387,-323,34,298,-176,25,346,-173,-180,338,148,-504,494,-71,-88,145,277,-217,-110,887,-1111,1069,-724,379,331,-504,341,-451,839,-1358,1249,-678,64,197,-24,-90,-15,325,-556,711,-792,383,-89,154,-371,279,119,-317,164,184,-396,455,63,-382,442,-182,291,-529,758,-655,454,12,-249,323,-192,409,-421,649,-604,525,-352,368,-271,136,-123,232,59,-368,842,-738,830,-641,454,-344,677,-772,407,31,-444,438,-327,132,-89,171,-378,492,-636,585,-572,630,-861,666,-412,241,-310,74,279,-459,613,-721,904,-901,1109,-1104,1030,-794,642,-203,-192,573,-707,915,-833,786,-599,607,-527,240,-83,-55,-4,141,-331,104,68,-205,27,120,-255,138,191,-689,667,-593,493,-667,467,-502,317,-167,-231,481,-480,274,-214,362,-529,679,-383,-100,402,-674,762,-497,-64,444,-745,659,-468,198,-145,416,-508,76,397,-766,923,-633,158,101,24,-118,-70,442,-495,255,100,-436,477,-292,242,-134,115,28,-207,400,-266,-5,225,15,-303,376,-99,-136,243,-243,-178,621,-774,379,83,-347,471,-400,270,-321,505,-581,483,-265,-236,649,-633,265,-290,407,-478,276,-430,233,61,-472,523,-438,179,-114,-244,386,-349,-202,654,-986,392,164,-328,-42,172,-370,221,-103,-343,386,-298,16,151,-238,-18,376,-728,651,-502,225,-66,-8,-195,197,-297,-65,86,-305,85,-511,492,-771,528,-585,864,-1498,1209,-592,-633,1155,-1327,728,-691,542,-890,745,-735,193,98,-441,196,-124,-219,169,-442,199,-268,-60,252,-390,60,-1,291,-943,1008,-1178,1106,-1318,832,-508,-50,-17,-117,110,-613,949,-1117,976,-1200,1169,-1153,749,-1015,821,-798,198,-37,-485,548,-890,965,-1287,1178,-1315,1118,-1131,839,-655,162,3,-257,256,-630,819,-1103,1009,-1257,1309,-1166,444,2,-488,614,-827,580,-373,250,-407,193,-309,99,-147,320,-356,63,32,133,-165,-50,402,-777,878,-870,456,-143,74,-216,179,-59,-246,402,-484,482,-629,634,-899,679,-639,799,-775,191,329,-888,1086,-1113,908,-969,976,-891,525,-195,41,-100,74,36,-156,51,-35,372,-678,964,-1202,1193,-1260,1055,-966,939,-769,256,205,-553,950,-1359,1582,-1565,1230,-1076,769,-702,428,-77,-333,467,-528,347,-103,1,-340,516,-743,566,-760,469,-439,256,-409,153,-145,-87,207,-709,622,-500,34,-154,103,-209,104,-170,78,-186,80,-97,68,-130,-217,470,-631,349,-342,173,-167,-64,28,-185,-69,69,-89,-483,650,-772,341,-406,350,-593,373,-477,-7,241,-722,785,-1016,893,-1170,983,-869,339,-93,-308,234,-622,418,-605,488,-597,472,-814,642,-497,134,-393,444,-554,-81,522,-1064,944,-679,302,-427,336,-586,339,-274,-178,306,-664,700,-730,402,-283,101,-108,-108,134,-98,113,-374,409,-392,53,5,-200,-29,176,-464,247,-227,29,-149,60,-263,-72,300,-659,435,-523,85,-101,132,-658,727,-911,551,-374,-275,333,-764,828,-1122,893,-1027,757,-560,-73,186,-281,-3,-279,78,-273,181,-381,203,-670,585,-814,568,-732,363,-259,-132,-9,-306,194,-358,279,-700,514,-615,477,-903,761,-801,244,-320,12,-257,-111,251,-782,755,-1033,969,-1088,517,-429,190,-432,252,-407,-129,185,-537,229,-571,424,-640,376,-646,396,-470,162,-273,-24,-252,181,-532,377,-203,-577,781,-999,392,-425,200,-640,285,-412,-88,81,-395,5,-370,302,-490,-275,463,-868,378,-277,-485,137,-485,62,-496,143,-601,308,-582,-151,-35,-88,-390,-83,-232,-258,38,-354,-125,52,-417,41,-158,-179,-139,-173,465,-1251,908,-869,408,-498,410,-840,616,-189,-965,1230,-1138,607,-839,744,-1105,755,-740,290,-304,-139,85,-288,264,-579,464,-401,-59,-265,416,-854,685,-708,298,-487,495,-933,534,-221,-661,970,-1319,633,-576,387,-659,211,-125,-350,106,-289,-163,101,-358,-71,-185,-9,-262,-177,200,-461,59,-123,118,-628,439,-567,205,28,-793,540,-332,-101,-251,-69,-9,-373,48,-169,-104,-175,-189,35,-386,298,-503,190,-192,-426,478,-789,588,-815,402,-302,-279,412,-1027,910,-763,29,97,-461,184,-299,-30,-439,52,-65,-652,476,-821,421,-580,67,-83,-395,550,-1007,686,-726,395,-500,326,-415,46,99,-536,324,-438,-56,126,-417,-148,212,-756,797,-1061,535,-496,321,-816,662,-539,-443,873,-1583,1320,-1165,282,-363,221,-822,308,-21,-778,318,-324,-191,-54,-321,-7,-171,-325,281,-884,793,-969,155,-152,-304,-506,435,-752,-438,467,-862,162,-70,-251,-693,1067,-1243,12,109,-455,-72,-302,-69,-339,195,-783,332,-361,-173,27,-390,22,-582,353,-471,-343,-16,-122,-274,-112,-86,-241,71,-363,9,-264,-234,-348,210,-880,482,-669,202,-289,-368,445,-1125,1005,-1166,533,-731,370,-559,-368,470,-901,188,-444,297,-1019,622,-581,-53,-240,-73,-157,-223,-123,-384,-164,89,-371,-409,521,-1008,582,-737,173,-459,94,-470,170,-176,-589,411,-398,-100,-260,296,-626,425,-907,654,-715,104,-604,264,-360,-362,217,-654,641,-1128,827,-889,242,-332,-22,-290,-89,-125,-280,50,-447,-141,-74,-215,-326,-250,57,-304,-537,537,-1044,499,-598,191,-681,464,-577,-102,186,-878,672,-937,571,-798,412,-541,-77,15,-607,284,-301,-216,-83,181,-534,234,-203,-410,409,-545,-53,-242,53,-652,317,-318,-309,185,-514,394,-833,561,-856,588,-736,215,-223,-96,-197,-127,-88,-392,421,-806,515,-709,428,-853,578,-798,322,-307,26,-405,90,-173,-536,537,-715,352,-312,57,-258,49,-208,140,-534,556,-855,824,-1109,839,-870,157,178,-667,327,-573,621,-1213,1198,-1470,1034,-849,413,-722,331,-346,-302,159,-357,88,-433,591,-1076,861,-1064,969,-1115,720,-645,93,30,-302,57,-354,543,-910,745,-757,364,-275,15,-121,-163,44,72,-589,571,-474,25,119,-247,-7,65,-113,-372,644,-881,733,-412,-49,7,199,-537,451,-269,-487,779,-738,-118,12,47,-480,82,-86,-343,110,-266,-161,87,-309,21,-404,374,-871,280,-87,-579,80,-125,-154,-609,573,-769,148,-11,-611,82,-119,-134,-353,77,-172,-285,9,-264,85,-697,899,-1390,680,-203,-697,781,-725,71,-355,683,-1282,982,-738,-131,132,-238,-534,470,-531,-204,198,-649,205,-539,371,-684,201,-351,231,-661,503,-550,158,-248,-244,37,7,-484,382,-373,-483,603,-927,521,-531,447,-856,712,-819,68,126,-400,-122,31,-136,-554,633,-987,555,-611,171,-297,-221,64,-231,-235,-36,-50,-506,585,-808,105,-60,-201,-254,-40,13,-589,260,-492,-162,-124,-236,-88,-305,-131,20,-511,205,-498,-100,-73,-412,-17,-401,112,-599,216,-586,59,-364,-81,6,-523,-5,9,-334,-252,421,-923,434,-336,-97,-426,273,-217,-429,411,-499,89,-290,119,-551,38,24,-303,-129,-63,-134,-195,-84,-104,-434,223,-516,25,-107,-261,30,-281,-197,-387,426,-840,407,-554,-33,20,-665,258,-489,268,-659,168,-109,-588,416,-464,-106,35,-394,-126,8,-473,162,-505,163,-423,-192,-6,-285,-53,-419,62,-644,565,-1200,614,-357,-406,105,-288,-337,-128,88,-719,409,-845,512,-937,474,-700,11,-58,-653,214,-645,282,-816,603,-1085,161,21,-759,24,-342,55,-743,121,-356,-255,222,-948,637,-902,160,-104,-570,236,-637,582,-1215,762,-824,319,-617,98,87,-1164,986,-838,58,-331,6,-305,37,-607,277,-14,-780,136,110,-770,310,-357,-363,114,-611,364,-907,435,-629,-48,-310,-233,-269,-279,121,-857,515,-919,245,-114,-536,-97,-21,-125,-694,501,-573,-69,-18,-529,160,-643,287,-593,-10,-254,-281,331,-1027,662,-701,215,-481,-12,-91,-305,154,-600,210,-711,445,-689,47,-226,-213,-33,-795,585,-845,256,-308,-294,42,-593,493,-992,553,-989,404,-468,-429,400,-639,173,-644,370,-742,280,-235,-165,-111,43,-519,390,-610,89,-203,-90,-288,-431,244,-835,544,-823,135,-437,26,-641,175,-682,247,-436,-419,148,-612,-25,-222,124,-971,512,-531,-282,-374,257,-826,225,-559,-284,-81,-358,-176,-411,17,-709,394,-915,328,-615,268,-811,224,-436,-129,-36,-673,467,-932,488,-791,336,-817,486,-458,-375,-116,25,-232,-614,955,-1651,866,-510,-510,117,-277,-201,-227,-324,-343,346,-991,223,-122,-652,107,-242,-158,-353,-137,47,-517,93,-625,380,-850,278,-424,-12,-204,-408,355,-971,502,-874,780,-1440,900,-838,71,-324,-296,130,-658,152,-623,580,-1536,1316,-1481,546,-593,249,-749,216,-329,-417,413,-974,344,-612,347,-968,652,-1313,1068,-1363,699,-802,113,-61,-565,281,-783,638,-1226,831,-1051,445,-847,469,-774,-83,-276,-33,-490,-224,-271,-72,-234,-614,625,-1214,531,-748,113,-721,290,-670,153,-595,-36,-375,34,-477,-334,244,-683,4,-389,238,-1051,908,-1142,349,-596,425,-757,90,-37,-648,502,-793,24,-391,33,-583,74,-824,568,-927,74,-374,133,-667,-72,-75,-669,-48,-472,86,-909,325,-815,220,-670,87,-617,279,-752,185,-368,-487,532,-1238,772,-801,105,-635,207,-653,-282,143,-644,-91,31,-623,-74,218,-1107,257,-41,-613,-430,545,-865,-138,216,-663,-42,-37,-248,-236,-5,-200,-162,-148,-195,-292,94,-449,-70,-221,-280,-121,-177,-364,-271,-11,-629,27,-502,-434,193,-476,-493,102,-402,-326,-80,-138,-322,-77,-116,-251,-225,-58,-266,-308,24,-557,118,-509,117,-284,-549,391,-711,-13,-104,-543,324,-838,135,-361,-1,-421,-8,-245,-322,138,-698,669,-1400,914,-871,103,-618,216,-253,-430,70,-509,266,-943,932,-1331,772,-842,312,-498,-293,33,-316,-413,-90,-336,-108,-225,-453,125,-733,451,-1118,666,-1099,501,-651,-229,-197,-34,-531,-113,-90,-471,-26,-430,133,-683,99,-322,-68,-522,360,-987,730,-1016,323,-228,-217,-498,269,-618,-374,613,-1200,526,-282,-421,-197,698,-1182,473,-270,-4,-796,739,-1164,473,-380,-338,100,-689,564,-1000,641,-862,308,-429,-106,-281,28,-431,145,-709,152,-357,99,-709,348,-584,-137,-107,-522,-49,-228,-36,-946,995,-1558,1021,-1226,555,-769,114,-387,19,-293,-630,621,-982,117,-125,-235,-498,467,-1022,307,-293,134,-975,769,-965,370,-561,126,-271,-560,434,-1015,568,-751,223,-547,154,-599,120,-378,22,-437,-264,-157,-29,-710,182,-354,-336,-96,-506,-133,-64,-187,-750,550,-918,136,-452,51,-732,393,-579,-191,156,-532,29,-354,-94,-314,-129,-111,-376,-228,-83,-140,-257,-450,351,-1125,942,-1152,299,-258,147,-774,209,-292,-573,622,-1040,409,-714,572,-1427,956,-1068,177,-588,290,-882,283,-295,-482,83,-774,429,-996,611,-1161,699,-1079,649,-1109,683,-990,388,-306,-650,417,-510,-66,-330,152,-667,504,-877,364,-533,246,-959,816,-1003,269,-543,168,-562,-147,-116,-254,-363,-362,409,-1491,1110,-1171,98,-596,362,-1176,597,-801,-197,19,-458,-402,-141,-82,-515,150,-664,141,-825,412,-1106,696,-834,193,-520,21,-149,-415,271,-562,63,-265,-322,-10,-356,-396,612,-1145,305,-395,-53,-142,-286,-361,-25,-167,-622,103,-152,-476,21,-367,-112,-147,-337,-128,-241,-240,-262,-212,-507,122,-1095,722,-877,-46,-31,-488,-85,-325,32,-455,68,-741,483,-667,-440,423,-875,-137,214,-1066,287,-458,4,-484,313,-675,-167,380,-1055,443,-365,-200,-349,57,-409,121,-438,16,-641,466,-743,-313,280,-715,-212,-123,-320,-561,434,-896,145,-299,-349,-269,79,-851,68,-512,-389,-113,-483,-234,-142,-698,-323,131,-857,40,-437,-152,-649,106,-853,64,-761,-177,-331,-760,-111,-527,-183,-338,-685,16,-307,-657,47,-566,-158,-569,109,-1056,566,-1321,215,-475,-618,168,-618,-378,-350,-26,-1220,701,-1020,-223,-78,-220,-822,137,-641,209,-593,-275,-235,-172,-567,-118,-12,-918,659,-1514,957,-1116,162,-563,185,-610,-53,118,-887,775,-1544,786,-745,-424,300,-751,-2,85,-681,177,-267,-417,149,-377,-637,188,-643,-34,-221,-780,391,-706,-217,123,-568,-387,295,-867,-153,-35,-485,-609,175,-863,-296,150,-1104,202,-468,-61,-84,-629,394,-318,-571,507,-1057,316,-118,-649,-152,-11,-605,-16,211,-1206,1125,-1411,305,16,-995,464,-478,-87,-525,600,-918,433,-427,-368,224,-562,-10,-354,169,-903,599,-1161,349,-568,49,-168,-639,509,-822,467,-751,379,-1014,692,-1017,330,-358,-500,95,-351,-317,-317,271,-1211,847,-1286,277,-615,-173,-564,222,-1063,338,-397,-668,424,-886,181,-896,301,-1111,226,-561,-488,-306,-32,-875,231,-523,-375,-340,278,-729,-169,-21,-694,336,-1208,762,-1384,1038,-1483,298,-122,-721,200,-542,-144,-392,50,-1090,682,-1199,500,-521,-220,-281,-168,-89,-284,-74,-487,-18,-198,-444,-301,169,-614,-27,-531,71,-472,-240,-279,-142,-399,-243,-63,-707,-103,-387,-350,-258,-572,250,-671,-196,-6,-699,288,-432,-30,-424,15,-511,54,-494,126,-535,-203,18,-708,275,-423,152,-860,447,-658,-195,7,-504,-281,-132,-518,-367,4,-653,-337,-267,-99,-674,-243,-45,-389,-577,-137,-163,-715,72,-221,-945,811,-1385,626,-765,-3,-367,-519,202,-950,403,-1226,927,-1535,496,-596,-437,-224,-174,-679,115,-451,-543,134,-683,191,-1121,663,-1207,525,-985,327,-774,-67,-16,-965,335,-455,-284,-473,301,-1054,530,-871,141,-436,-423,231,-779,242,-536,-43,-403,-260,-42,-467,57,-368,-82,-471,-39,-1,-592,339,-780,319,-326,-478,422,-836,268,-762,10,-505,-247,-151,-574,40,-598,-58,-494,-9,-622,-14,-456,-188,-512,-110,-292,-331,-278,10,-632,121,-342,-601,27,-1003,510,-1396,563,-1049,253,-861,36,-603,-193,-83,-1047,640,-1182,216,-631,295,-1359,1097,-1414,381,-501,-224,-9,-556,428,-945,297,-544,396,-1152,394,-445,-360,-358,132,-1172,959,-1357,365,-251,-721,250,-1012,630,-1465,1063,-1287,386,-800,-190,-133,-703,-31,-449,-361,-19,-786,-111,-203,-580,-20,-974,408,-1103,333,-1003,211,-766,-163,-49,-988,270,-496,-295,-498,-86,-771,-6,-549,-44,-753,67,-214,-722,73,-433,-60,-742,205,-838,-101,68,-745,122,-536,27,-808,469,-785,-186,153,-748,78,-559,467,-1219,475,-461,-588,283,-509,-189,-169,-166,-326,-270,-228,-278,-332,5,-596,192,-910,644,-960,126,-153,-557,422,-785,337,-1024,727,-934,-127,-16,-273,-543,24,-326,-522,230,-485,-143,-381,41,-799,413,-928,38,139,-796,143,-337,-186,-123,-413,5,-669,276,-731,118,-361,-483,266,-891,348,-1030,648,-927,79,-166,-435,-287,15,-593,-191,41,-844,317,-1056,382,-701,-141,-419,200,-1007,179,-299,-836,448,-808,-49,-570,9,-582,-56,-332,-349,-314,-395,-310,-55,-616,-158,-543,-13,-821,-344,166,-891,155,-586,4,-676,305,-797,278,-516,-218,-174,-339,-280,-100,-135,-636,627,-1322,989,-1116,446,-789,164,-172,-736,397,-1063,479,-1198,713,-1104,94,-192,-305,-258,-169,76,-521,163,-456,-73,-310,48,-822,365,-356,-459,-19,-70,-696,-129,49,-777,-138,-269,10,-887,135,-482,-568,174,-965,35,-525,-104,-723,-503,186,-979,448,-1029,155,-531,-432,-77,-646,279,-941,390,-548,-291,-640,142,-221,-1201,651,-848,-80,-530,-150,-106,-427,-114,-384,592,-1228,944,-724,-117,24,-344,217,-511,312,-573,161,-342,152,-843,540,-655,317,-419,-110,36,-116,-331,-203,374,-1179,839,-869,244,-539,190,-367,-220,-234,-210,-150,-537,-240,-32,-522,-28,-26,-858,579,-885,249,-649,93,-194,-494,-318,101,-706,72,-258,-622,167,-695,-36,-444,-372,-553,209,-985,-41,-100,-776,-21,-372,-430,-93,-599,-33,-532,-302,-448,25,-651,-296,1,-667,-68,-210,-161,-294,154,-646,231,-997,695,-989,348,-608,-77,-57,-535,297,-820,610,-1159,792,-1227,572,-696,64,-351,-519,88,-406,-269,-698,599,-1082,37,-194,-222,-764,451,-843,-154,-238,-421,-110,-549,266,-890,370,-726,-266,69,-647,32,-399,-268,-431,192,-494,-289,214,-282,-569,255,-681,-126,170,-928,541,-745,-169,-303,374,-1172,807,-387,-507,555,-787,320,-423,83,-517,200,-465,493,-1032,706,-868,24,-114,-329,-39,-385,144,-702,519,-1161,1048,-1405,715,-714,62,-436,-217,-9,-790,584,-1381,664,-923,-40,-332,0,-750,-45,-111,-375,-684,367,-626,-188,54,-545,401,-987,441,-391,-235,-315,347,-793,-135,53,-462,-417,209,-636,-78,-185,-147,-567,78,-231,-704,321,-1009,220,-708,265,-976,387,-747,33,-454,182,-396,-329,448,-1003,195,-400,126,-580,23,-508,227,-899,346,-659,52,-385,-233,-446,-122,-281,-189,-305,-366,12,-713,557,-1029,589,-754,523,-1334,709,-1011,-230,61,-816,194,-774,342,-1149,275,-701,-231,-477,-121,-866,303,-998,378,-807,81,-149,-191,160,-672,716,-1062,646,-928,585,-988,532,-336,-554,527,-948,472,-650,-204,-248,-109,-455,-366,-108,-321,-264,-333,-2,-420,-185,-86,-521,219,-361,-504,514,-1066,107,-102,-653,288,-926,179,-584,134,-1069,498,-787,-319,-290,-499,9,-936,543,-1070,257,-830,377,-806,287,-812,258,-448,-407,-136,-442,-82,-638,298,-1383,931,-1342,352,-707,17,-535,-413,-113,-808,-113,-398,-429,-515,-171,-601,-171,-563,-54,-834,527,-1278,285,-487,-267,-296,-184,-277,-728,308,-849,106,-515,-10,-206,-485,-268,69,-864,460,-610,-101,-193,-316,-401,294,-845,148,-30,-1266,845,-1427,574,-800,245,-633,303,-827,241,-346,-782,857,-1399,633,-844,248,-834,530,-924,179,-595,-279,218,-1107,731,-756,89,-634,388,-761,355,-355,-400,293,-576,-22,-17,-297,-214,216,-634,322,-677,266,-269,-361,-84,-218,-186,-336,254,-643,102,-101,-201,-472,544,-542,182,-176,-24,-442,172,252,-1268,1121,-1244,287,-560,-27,-432,-19,-535,-386,206,-1072,289,-699,-361,-327,37,-930,209,-717,40,-829,-33,-513,-316,28,-486,137,-517,435,-664,403,-772,508,-218,-443,24,63,-524,50,289,-1165,608,-394,-354,9,-384,80,-12,-392,-96,43,-306,-506,201,-785,-99,42,-556,63,-340,157,-733,126,-187,-541,388,-588,-44,-339,-5,-564,29,-209,-673,596,-1008,194,-456,-25,-445,-82,-83,-447,198,-858,460,-791,531,-656,94,215,-589,454,-731,416,-531,-40,214,-340,43,-60,-138,66,-23,-272,-233,-37,-524,-287,16,-918,185,-460,-252,-342,-191,-164,-478,172,-854,736,-1034,244,-222,-194,11,-592,536,-1029,495,-420,88,-844,825,-862,-95,336,-1096,373,-795,-180,-799,589,-853,10,-146,-256,-420,279,-851,16,153,-986,410,-923,324,-670,-29,-631,275,-1011,324,18,-812,-221,174,-573,-711,660,-1136,612,-891,178,-765,295,-650,-166,38,-921,361,-513,-518,-55,-59,-786,199,-577,85,-696,307,-766,12,-266,-306,-21,-339,-241,-74,168,-915,725,-670,-259,44,-134,-896,754,-636,-480,500,-835,-10,-57,-243,-594,313,-680,-155,-110,-80,-807,651,-743,-281,132,-607,253,-705,499,-1197,881,-790,-82,-207,-372,70,-715,193,-643,385,-925,249,-533,-148,87,-440,-416,233,-174,-489,399,-258,-421,360,-204,-801,579,-764,103,-857,120,-517,-184,249,-1139,659,-854,180,-609,110,-218,-521,411,-1093,320,-229,-528,367,-568,-51,-342,-202,-345,-33,-224,-566,392,-959,537,-487,-311,107,-589,-44,-14,-286,-646,433,-343,-511,323,-795,14,-327,-575,233,-748,111,-652,194,-782,278,-397,-196,165,-773,623,-758,548,-409,-39,-178,118,-605,429,-348,-610,849,-1419,463,-260,-338,-140,230,-506,170,71,-350,170,77,-479,171,-180,-643,489,-774,325,-1140,653,-1104,345,-575,-544,393,-1021,740,-1609,887,-769,-203,-421,-112,-766,-317,379,-1159,717,-562,172,-469,-134,-219,-535,-54,-361,-382,-80,-275,-558,-324,-80,-700,-157,-49,-1301,762,-1322,-28,-298,-450,-472,-8,-275,-1003,1200,-1515,687,-371,-62,-53,147,-425,157,55,-695,667,-684,279,-375,125,-215,-23,178,-91,-334,667,-720,159,319,-525,-71,709,-501,-468,923,-921,69,72,-233,-645,455,-740,38,-93,-353,-235,40,-580,330,-450,-146,316,-636,537,-679,408,-295,240,-939,697,-1003,284,-432,-245,-298,-306,476,-1318,750,-556,26,-495,400,-934,397,-496,-431,-447,73,-345,-369,319,-840,555,-648,-199,-351,1,-518,-7,-185,-521,395,-524,-344,196,-353,-421,-53,24,-989,820,-898,-68,-123,-87,-494,-402,475,-1493,1186,-1314,328,-585,18,-549,-187,-218,-649,146,-827,309,-1007,383,-425,94,-824,786,-844,268,-134,-261,-221,-241,474,-1556,1419,-1423,214,-294,-97,-283,-129,26,-733,245,-1050,300,-649,-104,-165,-122,-141,-547,467,-745,245,101,-666,249,-217,-74,-77,265,-452,306,-463,270,-531,671,-537,-215,876,-1227,636,-565,479,-1333,1083,-1226,67,210,-746,243,-434,319,-1146,773]",
        "payloadType": "json",
        "x": 200,
        "y": 140,
        "wires": [
            [
                "6fdde704.ac14c8"
            ]
        ]
    },
    {
        "id": "1a4ab345.a19fdd",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "window",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 760,
        "y": 180,
        "wires": []
    },
    {
        "id": "c4de65f3.c364b8",
        "type": "edge-impulse-classify",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "x": 420,
        "y": 300,
        "wires": [
            [
                "ad5c9388.7678f",
                "92425b08.678d78"
            ]
        ]
    },
    {
        "id": "ad5c9388.7678f",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "classification",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "92425b08.678d78",
        "type": "change",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "classification",
                "pt": "msg",
                "to": "payload.results[0].value >= 0.7 ? \"other\" :\tpayload.results[1].value >= 0.7 ? \"ring\" : \"unclear\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 360,
        "wires": [
            [
                "95e15efe.e1f5a",
                "6601f4e6.29c5ac"
            ]
        ]
    },
    {
        "id": "95e15efe.e1f5a",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "classification",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "classification",
        "targetType": "msg",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "806c7e21.e8c0f",
        "type": "function",
        "z": "d1671742.a5e358",
        "name": "buffer => window",
        "func": "// see https://nodejs.org/api/buffer.htm\n// output : 0,1,2 buffer messages of size 8820 bytes - where each message has as offset 4410 bytes\n// state  : buffer context variable\n//\n\nlet window = flow.get(\"window\");\n\n// initialize with values for testing\nif (typeof window == 'undefined'){\n    node.warn(\"defining window\");\n    window = {\n        \"size\"    : 10, // size of the window\n        \"shift\"   : 4,  // next window will be shifted with 4 bytes compared to current window\n        \"buffer\"  : Buffer.alloc(10),\n        \"length\"  : 0,   // number of bytes currently assigned in buffer.\n        \"offset_since_start\" : 0\n    }\n    flow.set(\"window\",window);\n}\n\n// indicates up to which part of the msg.payload buffer is already processed.\nlet payloadOffset = 0;  \n\n// array of output messages\nlet outputMsgs = [];\n\n// prepare array of output messages to send\nwhile ( (window.length + (msg.payload.length-payloadOffset)) >= window.size){\n    outputBuffer=Buffer.alloc(window.size);\n    \n    window.buffer.copy(outputBuffer,0,0,window.length);\n    msg.payload.copy(outputBuffer,\n                     window.length,\n                     payloadOffset,\n                     payloadOffset+(window.size-window.length));\n    payloadOffset = payloadOffset + (window.size-window.length);\n    \n    outputMsgs.push({ \"payload\" : outputBuffer,\n                      \"offset\"  : window.offset_since_start\n    });\n    \n    // set window buffer to output buffer shifted with window.shift\n    outputBuffer.copy(window.buffer,0,window.shift,window.size);\n    window.length = window.size-window.shift;\n    window.offset_since_start = window.offset_since_start + window.shift;\n}\n\n\n// copy remaining part of msg.payload to window buffer\nmsg.payload.copy(window.buffer,\n                 window.length,\n                 payloadOffset,\n                 msg.payload.length)\nwindow.length = window.length + msg.payload.length - payloadOffset;\n\n// store the window\nflow.set(\"window\",window);\n\nreturn [outputMsgs];\n\n/*\nlet impulse  = flow.get(\"impulse\");\n\n// indicates up to which part of the msg.payload buffer is already processed.\nlet payloadOffset = 0;  \n\n// array of output messages\nlet outputMsgs = [];\n\n\n// send messages\nwhile ( (impulse.current_length + (msg.payload.length-payloadOffset)) >= impulse.max_length){\n    // add outputBuffer to output message array\n    let outputMsg={ \"payload\" : Buffer.alloc(impulse.max_length)};\n    \n    impulse.buffer.copy(outputMsg.payload,0,0,impulse.current_length);\n    msg.payload.copy(outputMsg.payload,\n                     impulse.current_length,\n                     payloadOffset,\n                     payloadOffset+(impulse.max_length-impulse.current_length));\n    payloadOffset = payloadOffset + (impulse.max_length-impulse.current_length);\n    node.warn(outputMsg.payload[0]);\n    \n    outputMsgs.push(outputMsg);\n    \n    // update impulse - shifting 4410 to the right\n    outputMsg.payload.copy(impulse.buffer,0,4410,impulse.max_length-4410);\n    impulse.current_length = impulse.max_length-4410;\n}\n\n\n// copy remaining part of msg.payload to impulse buffer\nmsg.payload.copy(impulse.buffer,\n                 impulse.current_length,\n                 payloadOffset,\n                 msg.payload.length)\nimpulse.current_length = impulse.current_length + msg.payload.length - payloadOffset;\n\n// updating impulse context variable\nflow.set(\"impulse\",impulse);\n\n// returning messages\nreturn [outputMsgs];\n*/\n ",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 280,
        "wires": [
            [
                "7f7ceb78.fe58b4"
            ]
        ]
    },
    {
        "id": "cb2d85d7.bbb068",
        "type": "inject",
        "z": "d1671742.a5e358",
        "name": "[1,2,3,4,5]",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4,5]",
        "payloadType": "bin",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "806c7e21.e8c0f"
            ]
        ]
    },
    {
        "id": "7f7ceb78.fe58b4",
        "type": "debug",
        "z": "d1671742.a5e358",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "7872de1e.b57a1",
        "type": "inject",
        "z": "d1671742.a5e358",
        "name": "[6,7,8]",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[6,7,8]",
        "payloadType": "bin",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "806c7e21.e8c0f"
            ]
        ]
    },
    {
        "id": "c1fb0cc1.49f14",
        "type": "inject",
        "z": "d1671742.a5e358",
        "name": "[9]",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[9]",
        "payloadType": "bin",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "806c7e21.e8c0f"
            ]
        ]
    },
    {
        "id": "472d7bbb.6d8c44",
        "type": "inject",
        "z": "d1671742.a5e358",
        "name": "[10,11]",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[10,11]",
        "payloadType": "bin",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "806c7e21.e8c0f"
            ]
        ]
    },
    {
        "id": "c1e949b9.0cb128",
        "type": "inject",
        "z": "d1671742.a5e358",
        "name": "[1,2,3,4,5,6,7,8,9,10,11,12,13]",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[1,2,3,4,5,6,7,8,9,10,11,12,13]",
        "payloadType": "bin",
        "x": 240,
        "y": 160,
        "wires": [
            [
                "806c7e21.e8c0f"
            ]
        ]
    },
    {
        "id": "cc7592fb.afd36",
        "type": "function",
        "z": "f74bc4c5.ba44d8",
        "name": "buffer => window",
        "func": "// see https://nodejs.org/api/buffer.htm\n// output : 0,1,2 buffer messages of size 8820 bytes - where each message is offset by 8820 bytes\n// state  : buffer context variable\n//\n\nlet window = flow.get(\"window\");\n\n// initialize with values for testing\nif ( (typeof window === 'undefined') || (window === null)) {\n    node.warn(\"defining window\");\n    window = {\n        \"size\"    : 8820, // size of the window\n        \"shift\"   : 8820, // next window will be shifted with 8820 bytes compared to current window\n        \"buffer\"  : Buffer.alloc(8820),\n        \"length\"  : 0,   // actual number of bytes currently assigned in buffer.\n        \"offset_since_start\" : 0\n    }\n    flow.set(\"window\",window);\n}\n\n// indicates up to which part of the msg.payload buffer is already processed.\nlet payloadOffset = 0;  \n\n// array of output messages\nlet outputMsgs = [];\n\n// prepare array of output messages to send\nwhile ( (window.length + (msg.payload.length-payloadOffset)) >= window.size){\n    outputBuffer=Buffer.alloc(window.size);\n    \n    window.buffer.copy(outputBuffer,0,0,window.length);\n    msg.payload.copy(outputBuffer,\n                     window.length,\n                     payloadOffset,\n                     payloadOffset+(window.size-window.length));\n    payloadOffset = payloadOffset + (window.size-window.length);\n    \n    outputMsgs.push({ \"payload\" : outputBuffer,\n                      \"offset\"  : window.offset_since_start\n    });\n    \n    // set window buffer to output buffer shifted with window.shift\n    outputBuffer.copy(window.buffer,0,window.shift,window.size);\n    window.length = window.size-window.shift;\n    window.offset_since_start = window.offset_since_start + window.shift;\n}\n\n\n// copy remaining part of msg.payload to window buffer\nmsg.payload.copy(window.buffer,\n                 window.length,\n                 payloadOffset,\n                 msg.payload.length)\nwindow.length = window.length + msg.payload.length - payloadOffset;\n\n// store the window\nflow.set(\"window\",window);\n\nreturn [outputMsgs];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 410,
        "y": 180,
        "wires": [
            [
                "1a4ab345.a19fdd",
                "93232062.0aa57"
            ]
        ]
    },
    {
        "id": "6601f4e6.29c5ac",
        "type": "change",
        "z": "f74bc4c5.ba44d8",
        "name": "update stats",
        "rules": [
            {
                "t": "set",
                "p": "stats",
                "pt": "msg",
                "to": "stats",
                "tot": "flow"
            },
            {
                "t": "set",
                "p": "stats",
                "pt": "flow",
                "to": "{\t        \"count\": stats.count+1,\t        \"ring_count\": stats.ring_count + (classification=\"ring\"?1:0),\t        \"other_count\": stats.other_count+ (classification=\"other\"?1:0),\t        \"unclear_count\": stats.unclear_count + (classification=\"unclear\"?1:0)\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cf5a52dc.7ca2c",
        "type": "inject",
        "z": "f74bc4c5.ba44d8",
        "name": "init",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "f6bf3573.f36f08"
            ]
        ]
    },
    {
        "id": "f6bf3573.f36f08",
        "type": "change",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stats",
                "pt": "flow",
                "to": "{\"count\":0,\"ring_count\":0,\"other_count\":0,\"unclear_count\":0}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "window",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "4b9684d7.1a231c",
        "type": "inject",
        "z": "bc919662.2457c8",
        "name": "ring example 1",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[-273,-1173,-1484,-611,-1423,-1104,-961,-918,-1475,-768,-1030,-1563,-746,-1057,-705,-1675,-424,-1426,-848,-702,-959,-224,-1438,-125,-1073,-452,-505,-593,-301,-1539,-567,-843,-724,-824,-1320,-622,-1261,-1064,-624,-733,-1083,-1066,-499,-1131,-1155,-238,-880,-1038,-1086,-13,-1395,-490,-283,-995,-527,-769,-673,-1463,61,-1426,87,-1401,-349,-1099,-31,95,-1358,435,-1064,333,-850,436,-762,370,-351,-73,-921,535,-485,22,-114,-1040,556,-1229,1340,-1912,696,-951,438,-1173,-166,63,-888,212,-646,-133,-1459,1882,-1660,753,-618,358,277,-304,668,-558,704,-360,439,-254,199,512,-105,187,-626,-419,794,-948,269,-1001,-441,-443,-958,116,-1534,-25,-1100,-515,-1235,-736,295,-2398,621,-1723,-557,-364,-1127,-351,-1257,257,-1060,-288,-982,203,-662,-264,-704,-1193,-567,210,-1245,-49,-896,-1075,20,-677,-356,-970,219,-1363,452,-1625,443,-1242,-410,-345,-1745,348,-1725,-15,-1175,-1200,-642,-1519,-621,-858,-1222,-722,-1279,-557,-1441,46,-1123,-345,-314,-587,211,-1254,608,-949,-27,-128,-769,-85,-763,-168,-603,-809,-567,-785,-511,-239,-663,-770,-144,-1185,-199,-169,-396,-1042,134,-552,-609,604,-1056,553,-572,387,-678,461,-774,208,192,-468,-70,-404,329,-833,512,-825,-419,-791,-60,-1347,425,-1690,108,-1024,-940,-400,-728,249,-1896,1690,-2765,750,-402,-485,-235,-666,-194,-1009,30,-1273,16,-1305,-129,-803,-644,-457,-635,-517,-167,-947,-510,102,-859,-384,-352,-423,-225,-930,-10,-809,-130,-751,-523,-602,-1191,360,-1894,633,-2142,198,-708,-972,-859,-686,-92,-1664,384,-1589,116,-1097,251,-1399,-166,-603,-254,168,-1393,307,-650,80,-242,-697,-70,202,-704,467,-898,-349,-223,-478,-514,-682,-564,-791,-178,-1063,-437,-735,-739,-319,-925,-441,-163,-1237,-520,-388,-785,-202,-554,-840,-285,-920,-139,-857,-844,-518,-488,-1033,-245,-445,-1358,456,-1566,108,-1144,144,-737,-955,-251,-998,-411,-953,-158,-1771,-74,-1469,-601,-534,-1726,-260,-1038,-491,-912,-503,-656,-1156,268,-1247,218,-1821,-228,-162,-1106,275,-1874,290,-1492,327,-460,-1172,-215,-788,-137,-747,-290,-714,-500,-97,-921,-211,-501,-618,-459,-660,-178,-627,-122,-1083,316,-1042,333,-360,-755,728,-924,1126,-1302,183,-934,-144,-112,-857,-311,-1333,20,-1995,-332,-1390,-693,-924,-879,-1078,-1141,-294,-1286,-581,-1221,88,-1181,322,-406,-1065,834,-855,193,191,117,110,-437,836,-1035,184,542,-634,558,-855,391,-618,-291,-583,-577,289,-1671,299,-1514,-431,-537,-1473,108,-1894,-565,-835,268,-1900,-194,-259,-1435,-49,-644,-147,-1568,1127,-1609,-323,-393,-309,-256,-129,36,-870,931,-845,-483,606,-604,151,337,-680,-29,-621,907,-1397,283,-1236,725,-1128,26,-311,-2116,1141,-2122,470,-1956,430,-2105,300,-1345,-832,-272,-1815,654,-2267,231,-1278,-412,-913,-473,-252,-86,-590,71,-469,28,164,565,-1078,760,180,-342,1387,-1883,1431,-714,342,-43,581,-1299,63,481,-1567,-104,-357,-542,-1145,169,-1203,-477,-491,-454,-1147,154,-502,-751,-2,-795,-794,229,-1349,-295,131,-560,-255,-82,138,-1143,647,-933,308,-352,141,-460,-468,-709,-32,253,-701,100,-1056,448,-1016,-307,-705,-770,-996,-892,-667,-1079,-1744,-693,-1403,-1513,-941,-1846,-968,-2090,-552,-2169,-925,-1730,-2102,-1065,-1479,-876,-2067,-967,-2006,-716,-660,-962,-1507,-655,-866,-590,-688,-1117,-247,-1583,594,-1572,-33,-1100,-442,-341,-432,-463,-1086,468,-1829,237,-934,-580,-1231,-372,-934,-828,-123,-1038,-717,-923,-108,-750,-468,-445,-618,-436,-366,-707,-104,-550,-653,279,-536,-620,-186,-2,-632,-885,-252,-419,-270,-1086,289,-1234,-375,-159,-763,-671,-1280,-177,-496,-1058,-1474,-531,-1330,-473,-1105,-1204,-1502,-813,-1061,-1033,-824,-1362,-487,-1183,-363,-1171,-293,-1019,-1320,-74,-1173,326,-1367,-420,-467,-622,70,-1112,294,-966,-362,500,-1076,-863,-164,-337,-402,-690,-465,-756,-380,-839,-536,-1380,-396,-1132,-716,-1365,-971,-502,-1041,-944,-1416,-395,-1482,-242,-838,-1001,-1323,387,-1151,-488,-1143,190,-713,-447,162,-1007,377,-893,375,-694,145,-892,607,-1027,56,-25,49,-288,-649,892,-840,577,-539,-10,-455,295,157,-596,-128,-301,121,60,-591,-10,-937,37,-482,-1148,-307,-672,-1084,-748,-615,-1732,-385,-1480,-95,-1906,-823,-828,-1215,-1016,-936,-630,-1628,-118,-1644,-351,-160,-1400,120,-1159,-1233,154,-1184,-83,-1835,-104,-1400,-946,-847,-774,-919,-1490,165,-2369,-13,-1877,-388,-1193,-1834,-687,-1523,-804,-1709,-672,-1349,-1387,-1050,-1349,-323,-1849,-547,-890,-2013,-398,-1174,-712,-1186,-570,-1206,-584,-944,-79,-736,-904,58,-964,-829,-209,-557,-368,-542,-1110,354,-482,195,-654,170,-984,385,-782,252,-141,-937,273,-178,-625,-572,498,-1131,966,-1894,933,-1080,-384,129,159,-186,-1129,413,-880,422,-774,355,-1216,-274,-262,-10,-860,-615,-539,-275,-70,-1219,139,-1267,-909,332,-1494,-782,-1096,-30,-1110,-1369,-189,-1718,-341,-1295,-409,-863,-829,-979,-916,-931,-524,-1549,196,-2027,-450,-872,-776,-774,-1537,-8,-2024,704,-3023,681,-2305,160,-1442,-1173,-19,-1557,466,-1778,140,-1745,392,-908,-833,-639,-180,-1144,355,-1810,-214,-783,27,-80,-1586,-96,-1133,861,-1670,636,-1439,-37,-955,270,-359,-991,304,-373,-821,-694,358,-1176,52,-1663,-106,-1116,-241,-1644,-181,-963,-1180,-43,-1109,-1118,-872,504,-1568,-1096,-1003,39,-1316,170,-1253,-756,-1244,265,-1072,-1111,-18,-1884,684,-2441,-548,-944,-504,-1395,-1018,-1510,-917,-1045,-1014,-650,-2728,-120,-1537,-1201,-1341,-1208,-1574,-657,-1917,-1580,-835,-1336,-1014,-1545,-1075,-1556,-960,-1594,-334,-1879,-726,-1068,-954,-1193,-616,546,-1626,-508,-677,-103,-348,128,-1385,-475,-347,-178,-731,-534,-879,-993,8,-1857,-540,-934,-703,-1085,-1400,-1288,-1840,-1018,-168,-2056,-1115,-1191,-1362,-1436,-1192,-632,-1387,-873,-1802,-640,-1477,-565,-910,-1350,-945,-1300,-314,-1503,-689,-897,-1110,-966,-933,-1507,-795,-977,-1317,-1129,-1735,-1121,-951,-1156,-2131,-201,-2660,-628,-1420,-1606,-714,-1626,-725,-1515,-822,-1525,-429,-1536,-560,-1961,-800,-1709,-369,-1835,-1163,-1025,-2301,-704,-1721,-366,-2814,-544,-1710,-1949,-1451,-846,-1923,-1482,-815,-1911,-789,-1597,-647,-1114,-733,-1774,-1013,-119,-2124,-133,-772,-858,-1646,-288,-965,-1040,-834,-1315,-300,-2550,204,-1725,-906,-1744,-752,-1855,-1520,-1211,-2095,-696,-2456,-1103,-2612,-1019,-2186,-1072,-1524,-2357,-1966,-1102,-1880,-1602,-1219,-2938,-392,-2641,-713,-1655,-1326,-1619,-859,-921,-2188,10,-1984,-12,-1490,-664,-1599,-492,-963,-250,-453,-1677,-419,-1092,-319,-1005,-586,-1381,-1053,-1747,15,-1993,-469,-2118,-979,-1197,-2012,-808,-1531,-1931,-1293,-794,-2626,-859,-2149,-575,-1726,-609,-2593,-406,-1975,-729,-531,-2312,-1067,-1488,-728,-1863,-308,-1927,-756,-1887,-668,-1775,-740,-1363,-999,-1398,-1421,-811,-679,-495,-1713,766,-1868,-45,-483,-937,-420,-527,-1021,-1149,-342,-1613,-227,-993,-1611,-1019,-1136,-1221,-1555,-771,-2303,-560,-2153,-2106,-592,-2141,-835,-1706,-1642,-1809,-34,-1874,-704,-1188,-1059,-929,-357,-425,-1332,219,-943,-614,-565,204,-1177,237,-952,-648,-434,-122,-934,-502,-636,-608,-199,-1097,-668,-189,-931,-568,-680,-1864,101,-1752,-120,-1417,-1177,-2112,-243,-2052,-1734,-796,-2203,-1455,-1997,-781,-2140,-952,-1903,-1303,-2250,-626,-1291,-1158,-1678,-539,-1050,-1430,-329,-971,-850,-593,254,-1515,-284,-787,194,-737,-668,-749,-1032,-323,-1051,-675,-141,-2014,-262,-1180,-1086,-778,-995,-627,-1841,-587,-1973,133,-1986,-484,-1537,-1366,-638,-1161,-852,-1413,-651,-1967,-189,-1271,-1159,-1433,-454,-1678,-581,-1070,-652,-1338,-928,173,-1428,-650,-1036,-223,-1509,806,-1506,-588,-1347,-99,-540,-669,-1011,-1236,-498,-1149,-413,-1877,-54,-2887,-10,-1313,-1300,-1473,-223,-1980,-1079,-1096,-1470,-1283,-1264,-659,-2544,21,-2408,-560,-2053,-154,-2325,-401,-1884,-1033,-1038,-1458,-806,-2053,-147,-1878,-232,-1830,-387,-1922,-639,-2101,-574,-1777,-789,-1041,-1787,-1567,-1631,-714,-1894,-540,-2207,-617,-2118,-464,-1981,-1276,-1658,-1619,-1409,-1304,-1544,-1637,-941,-1881,-1566,-1231,-1523,-2861,-1,-3012,-1006,-2543,-1974,-1599,-1944,-901,-2623,-819,-3076,-624,-1139,-1933,-1403,-1461,-1424,-1680,-666,-1593,-1793,-546,-1890,-1071,-1184,-1408,-637,-1844,-584,-1969,-12,-1709,-1441,287,-2576,-401,-1209,-936,-1878,-241,-1331,-1756,-820,-2046,-423,-1888,-775,-2239,-810,-1634,-1534,-1053,-2080,-1406,-1494,-1159,-2202,-1315,-1864,-1249,-2366,-1893,-1621,-2175,-1377,-1702,-1921,-2073,-1350,-1564,-1331,-1549,-1383,-1432,-828,-1257,-1291,-514,-1500,-652,-919,-746,-917,-692,-809,-612,-1007,-1116,-327,-1280,-804,-1390,-146,-2402,-984,-673,-1977,-908,-1562,-1341,-2556,-49,-2407,-727,-1449,-2538,-440,-1948,-1399,-1871,-895,-1791,-1220,-1263,-1790,-1467,-996,-809,-2090,-1135,-1273,-1369,-874,-1332,-1605,-1003,-1416,-1326,-351,-1989,-735,-542,-1523,-879,-949,-1247,-857,-1280,-1345,-791,-1291,-1721,-984,-2100,-1146,-1610,-1930,-1044,-2600,-719,-1929,-2024,-2418,-927,-2705,-1590,-2294,-2523,-1167,-2986,-1288,-2917,-1840,-2072,-1943,-2481,-1906,-2438,-1583,-1818,-2895,-1526,-1463,-2570,-863,-1599,-2059,-633,-1829,-634,-1698,-1138,-1229,-529,-2050,-205,-1002,-947,-885,-1589,299,-1633,-444,-1115,-693,-1158,-763,-1258,-1215,-1423,-1831,-692,-2188,-2026,-1262,-2219,-1556,-2617,-1311,-2452,-1598,-2041,-2617,-1092,-3452,-779,-3174,-1577,-2362,-1394,-1561,-2500,-1368,-2015,-761,-2131,-610,-1645,-1356,-571,-1691,-348,-1458,-821,-820,-1459,-274,-1455,-59,-2316,-610,-1466,-1181,-998,-1554,-1490,-2131,-520,-2652,-1257,-2615,-1450,-1624,-1898,-2084,-2594,-1449,-2172,-1457,-1501,-2123,-1740,-1415,-1510,-1566,-1471,-841,-1266,-939,-1197,-494,-591,-1455,-653,-601,-1115,-453,-818,-985,-513,-698,-125,-1605,-287,-884,-253,160,-2086,169,-1295,-409,-1261,-702,-637,-2390,542,-2201,-1327,-1775,-673,-1789,-2196,-1014,-1791,-1246,-2445,-1257,-2244,-1139,-1847,-1203,-1846,-1866,-1313,-1185,-2179,-1832,-822,-1715,-1475,-1767,-1595,-1435,-1275,-1369,-1073,-1566,-1076,-1392,-1781,-1568,-1872,-990,-1796,-2530,-1100,-2618,-870,-2579,-2528,-1891,-2206,-1547,-2346,-1698,-2709,-1478,-1854,-2404,-1231,-2053,-1162,-1991,-1972,-1141,-2149,-935,-2282,-1013,-1639,-1733,-1448,-1479,-1999,-1398,-683,-2347,-1432,-1123,-1352,-919,-1978,-1534,-1171,-1913,-1059,-956,-1651,-2220,-601,-2444,-1392,-1871,-810,-1979,-1990,-1234,-1922,-873,-2471,-806,-2961,-267,-2860,-1158,-2016,-2814,-104,-2795,-1196,-2466,-1925,-1370,-1299,-2302,-1186,-2234,-956,-1696,-1028,-1628,-1280,-1437,-1495,-1581,-1567,-603,-2429,-401,-3177,-42,-2238,-1167,-2190,-1372,-1542,-2267,-464,-2915,-849,-2150,-675,-2506,-1544,-1404,-1380,-1311,-1611,-1063,-1460,-1180,-374,-1217,-632,-831,-623,-792,-1293,362,-1135,211,-2076,-440,-617,-993,-943,-1003,-1227,-1902,-92,-1698,-1360,-1918,-463,-2027,-1727,-1175,-1888,-1446,-1650,-1427,-2425,-1418,-1681,-1630,-2000,-1301,-2358,-1370,-1771,-2446,-624,-1936,-1256,-2184,-1475,-1657,-1209,-1414,-1551,-1732,-1521,-1132,-1470,-1314,-1660,-1222,-1170,-2064,-1462,-613,-2284,-571,-2528,-1164,-1742,-1299,-1678,-1557,-1522,-2446,-293,-2405,-1542,-1313,-772,-2286,-1432,-1066,-2034,-791,-1022,-2300,-986,-1529,-859,-1528,-1299,-1440,-992,-1304,-2088,-615,-1766,-344,-2513,-684,-2295,-1288,-661,-2140,-830,-2544,-919,-1397,-2059,-1932,-1081,-1276,-2874,-747,-2034,-1899,-872,-1500,-1821,-2018,-1010,-1468,-663,-2090,-645,-1146,-1481,-1088,-966,-131,-1604,-1066,-1024,-859,-1511,-282,-785,-2370,-473,-1617,-1311,-1993,-1477,-1181,-2039,-1559,-2401,-1090,-2385,-905,-2547,-1969,-2054,-1432,-1256,-2102,-1430,-1783,-915,-1981,-817,-1795,53,-1389,-1409,-863,-889,-1484,454,-1388,-1139,-383,-1407,-421,-1454,-480,-2078,158,-2445,-1141,-1284,-547,-1832,-2083,-410,-3038,-443,-1367,-2249,-1869,-2210,-899,-2838,-2078,-1588,-2254,-1378,-2990,-1449,-3189,-783,-1936,-1639,-2558,-1947,-1164,-1649,-838,-2373,-268,-1922,-771,-1095,-426,-990,-445,-1188,-761,-1172,-110,-530,-853,-1314,-963,136,-1912,-414,-1570,-328,-1836,-143,-2409,-1151,-573,-1259,-1142,-1640,-1594,-1369,-312,-2238,-1251,-1510,-1271,-1941,-403,-2643,-360,-2085,-1023,-1778,-1746,-656,-1204,-1255,-2119,-759,-2248,34,-2873,351,-2422,-457,-2153,-606,-1855,-1080,-386,-2626,-237,-3574,1460,-3048,-766,-1845,-949,-1885,-783,-2069,-1247,-1001,-2246,-229,-3470,-801,-1788,-601,-2519,-1254,-2140,-1082,-1490,-1163,-1607,-1347,-1590,-885,-1512,-1201,-867,-1580,-158,-2640,70,-1494,-779,-1205,-1005,-1358,-1019,-820,-1241,-1154,-441,-1652,-877,-1490,-1006,-545,-977,-70,-2144,-118,-802,-204,-1432,59,-1551,-296,-785,-959,-788,-1573,-81,-1769,-1003,-1693,-564,-1960,-821,-2517,-1681,-1881,-1914,-1638,-1985,-1599,-2742,-1355,-3014,-1393,-2575,-1103,-2696,-2371,-895,-2459,-1665,-1496,-1406,-2361,-1078,-1247,-1792,-1709,-808,-1592,-1704,-1356,-1229,-881,-855,-1486,-963,-1253,-926,-717,-1007,-1034,-1822,-148,-1955,-1083,-1218,-1348,-1080,-2841,-779,-3065,-1208,-2312,-1934,-2325,-3132,-1188,-3261,-1851,-2656,-1900,-2971,-1531,-2671,-2019,-1293,-2060,-2126,-1860,-1431,-1637,-1618,-1205,-1204,-2290,-565,-2159,-1138,-1633,-426,-2157,-782,-1988,-1300,-577,-2283,-1089,-2364,-793,-2537,-1076,-2394,-1993,-1926,-2451,-2280,-3092,-2046,-1740,-3713,-2309,-3019,-2650,-2633,-2362,-2632,-3342,-1868,-2775,-2311,-3343,-884,-3118,-1654,-2568,-1953,-2091,-1184,-2208,-1876,-1153,-2445,-498,-1909,-1316,-2009,-516,-2099,-1044,-1968,-662,-1518,-1410,-1827,-1599,-1518,-1197,-1327,-2058,-1427,-2266,-921,-2513,-1225,-1847,-2131,-1556,-2097,-2630,-949,-2545,-1870,-2474,-1381,-2448,-1893,-1534,-2776,-1862,-2229,-1308,-3512,-742,-3047,-1180,-2153,-2281,-2241,-1225,-1659,-2031,-607,-2671,-1071,-1946,-216,-2755,-795,-1210,-1455,-1559,-1061,-1316,-1476,-750,-1452,-1136,-1491,-675,-1347,-813,-2150,-472,-1333,-1544,-617,-1011,-1937,-372,-1541,-1806,-590,-1729,-1204,-1021,-1766,-1272,-1413,-1229,-1537,-1689,-578,-2345,-966,-1680,-1094,-1861,-609,-2237,-1302,-1181,-1959,-602,-2058,-1309,-2082,-919,-2015,-1192,-2347,-1371,-1700,-2263,-752,-2192,-1682,-1377,-782,-1938,-1481,-973,-1919,-857,-1345,-1443,-1718,-1718,-860,-1776,-1641,-1806,-1792,-1328,-2376,-1446,-2053,-1983,-1917,-1831,-1935,-2480,-833,-2628,-629,-2923,-1336,-1455,-2341,-782,-2557,-985,-2700,-856,-2080,-1555,-1708,-725,-2398,-1719,-186,-2484,-735,-1925,-1762,-1140,-1070,-1905,-1222,-1807,-970,-1376,-931,-1565,-1626,-166,-999,-1540,-1110,-1116,-1358,270,-1694,-1659,-736,-851,-1686,-536,-1654,-1471,-1136,-1846,-1137,-2153,-677,-1634,-1279,-1958,-1015,-1271,-1117,-1379,-1546,-642,-2110,-227,-1772,-1376,-942,-953,-1726,-1348,-1363,-815,-1019,-1482,-1216,-1797,-942,-1441,-992,-1854,-844,-1586,-997,-1605,-1209,-999,-1520,-949,-1590,-1578,-1186,-1080,-1788,-1071,-2089,-1008,-1292,-1581,-1737,-1210,-1910,-1822,-793,-2674,-1073,-1780,-1216,-1620,-1666,-683,-1743,-1039,-1100,-1198,-1583,-66,-1617,-1575,-243,-1347,-569,-1206,-1234,-806,-837,-560,-1505,-1467,-704,-1271,-895,-1309,-2157,-1223,-1189,-1027,-2389,-1118,-2169,-1787,-1148,-3205,-1147,-2743,-746,-2516,-1500,-2218,-1541,-948,-2075,-731,-2040,-1096,-1646,-74,-2374,-231,-2097,-837,-1027,-1890,-353,-1735,-1371,-1639,-1238,-1707,-1285,-1646,-806,-2109,-981,-1779,-1632,-1845,-235,-2590,-1012,-1435,-2638,-903,-1614,-1109,-2234,-977,-2122,-310,-2389,-367,-2608,-988,-1526,-1393,-1836,-2042,-730,-2467,-486,-3486,-867,-2531,-1452,-2056,-1718,-3087,-1779,-1058,-2623,-1877,-2369,-1490,-2096,-1312,-2441,-1232,-1815,-1699,-1689,-1523,-1633,-1104,-1488,-1727,-1618,-1319,-1307,-1905,-674,-2151,-1514,-784,-2024,-1891,-816,-1701,-1910,-1622,-2494,-1393,-1798,-1931,-1747,-2766,-1454,-1382,-2313,-1856,-1672,-1582,-2114,-1684,-1950,-2124,-1176,-1698,-2044,-1897,-1596,-1598,-878,-2049,-1867,-1019,-853,-2046,-874,-880,-2558,-597,-1649,-1213,-1831,-621,-1625,-1343,-1347,-1684,-746,-2195,-1429,-1833,-1943,-2249,-1170,-2668,-1587,-2182,-1718,-2579,-2467,-1697,-2312,-1549,-2638,-2209,-2539,-1989,-2447,-439,-3822,-1539,-1724,-2213,-1474,-1933,-1423,-2252,-430,-2273,-700,-2285,-472,-1728,-1509,-1319,-1922,-571,-1658,-1099,-1736,-978,-1837,-1374,-1265,-1858,-1342,-1202,-2029,-1568,-1692,-1414,-1281,-2393,-1873,-1495,-1278,-1779,-1734,-1731,-2100,-1504,-1730,-1797,-2281,-1592,-1897,-1675,-1445,-2266,-327,-1433,-1533,-1644,-758,-1361,-1579,-407,-1956,-1336,-1332,-556,-1948,-999,-1464,-1032,-1288,-1730,-671,-1903,-1254,-1379,-1322,-2919,-666,-1950,-1505,-1562,-1633,-2103,-1512,-1825,-2407,-676,-2979,-1319,-2515,-1334,-2471,-1069,-2085,-2207,-1958,-1300,-1558,-2501,-1336,-2745,-1156,-1928,-1764,-2114,-1507,-1781,-957,-2667,-1346,-2427,-929,-1667,-2157,-1695,-2598,-642,-2991,-1179,-2379,-1982,-1957,-1755,-2394,-1721,-2405,-1218,-2299,-2167,-1464,-1820,-982,-2913,-593,-2141,-1777,-1220,-1264,-2376,-902,-2185,-1746,-1446,-2578,-1152,-2020,-2279,-2994,-1010,-3128,-2866,-2043,-2549,-3427,-1788,-2822,-3640,-1751,-2699,-2779,-2596,-2681,-2863,-1928,-2707,-1911,-2812,-2368,-2556,-1380,-2135,-2590,-901,-2779,-1328,-1535,-1705,-1653,-2099,-1182,-1715,-1396,-1592,-1758,-1284,-1318,-1735,-1675,-1010,-2013,-1439,-1639,-1911,-2042,-1884,-2162,-1941,-2321,-2499,-1916,-2414,-2698,-2498,-1530,-2808,-3083,-2665,-1467,-3124,-2048,-1721,-2928,-2705,-1157,-2418,-2521,-1496,-3063,-305,-3210,-1838,-1598,-1544,-2349,-1920,-1516,-3071,-1419,-1706,-2443,-2661,-1814,-2172,-2051,-3076,-1278,-2936,-2222,-1987,-2905,-1787,-2494,-1809,-2025,-2431,-2260,-1618,-2076,-2412,-1294,-2875,-1649,-2267,-2373,-1373,-2651,-1300,-2915,-1750,-2515,-561,-2804,-1491,-1612,-2834,-618,-2904,-1462,-2228,-1741,-2242,-1572,-2748,-2137,-1520,-1945,-1968,-2412,-1813,-1836,-1962,-1025,-2667,-2002,-973,-2818,-889,-1354,-1776,-1924,-656,-2196,-2097,-142,-2122,-1237,-1248,-2027,-1111,-2032,-1390,-1646,-1559,-2088,-1731,-1494,-2321,-1144,-2308,-1233,-3010,-1792,-1618,-2653,-1913,-2834,-1761,-2880,-1927,-2432,-2112,-3014,-2056,-1855,-3732,-2096,-2623,-1748,-3140,-2333,-2704,-2473,-2185,-1767,-2390,-2453,-1853,-2121,-698,-2846,-1158,-2128,-1133,-2210,-1026,-959,-1907,-745,-1627,-1057,-2341,-219,-1627,-1843,-953,-2205,-1546,-1855,-1823,-1769,-2068,-1742,-2859,-1508,-2748,-1572,-2193,-1962,-2664,-2687,-1344,-3616,-1174,-3149,-2335,-2287,-2128,-2613,-1768,-1975,-2148,-1470,-1840,-1891,-1689,-624,-2079,-927,-1842,-1288,-1211,-1569,-1319,-1100,-2585,-746,-2281,-2162,-1453,-2965,-281,-3780,-1649,-1823,-2753,-1711,-2587,-1942,-3199,-2320,-1739,-3012,-2982,-2325,-2427,-3214,-2712,-2201,-2283,-2618,-2226,-2053,-2517,-1740,-1600,-1618,-2026,-1689,-920,-1442,-2036,-1127,-1177,-1377,-1811,-1202,-1830,-1788,-1084,-1519,-2409,-1794,-1148,-2519,-1172,-2608,-2575,-2401,-1966,-2748,-2972,-1771,-3066,-2596,-2033,-2644,-2710,-2051,-2113,-2169,-2828,-1564,-1992,-2428,-1738,-1677,-2357,-1677,-1180,-2125,-987,-2039,-1217,-2028,-1737,-1054,-2334,-764,-2612,-2327,-997,-1717,-2703,-1035,-1818,-2801,-1071,-2244,-2228,-1802,-2072,-1685,-2308,-2332,-1319,-1926,-1846,-1782,-1851,-2265,-999,-2014,-1313,-2084,-1716,-1634,-1861,-1847,-2219,-653,-2307,-1402,-1912,-1113,-2190,-1214,-1105,-2090,-2031,-959,-1989,-1777,-944,-2538,-893,-2358,-1685,-1390,-1747,-2209,-1447,-2917,-840,-2771,-2064,-1131,-3890,-733,-2473,-1212,-3288,-1220,-2033,-1800,-2057,-2160,-1542,-2618,-188,-2932,-498,-3036,-595,-1219,-1612,-1247,-2106,-504,-2355,-663,-2502,-843,-2595,-1557,-1493,-2424,-1884,-2164,-1724,-3366,-1845,-2427,-2970,-2544,-2444,-2711,-3459,-2225,-2479,-3203,-2099,-2921,-2787,-2455,-2914,-2715,-1819,-3440,-2307,-2028,-2408,-2470,-1757,-1868,-1911,-1940,-1942,-1191,-3227,-449,-2211,-1856,-1544,-2290,-1788,-1236,-2396,-1481,-1804,-3078,-1231,-2249,-2257,-2710,-2802,-2636,-2041,-3260,-1904,-3704,-2001,-2711,-2470,-2812,-3001,-2201,-2711,-1759,-3610,-1342,-3209,-1981,-1889,-2266,-2297,-1810,-2388,-2253,-2094,-1947,-2323,-1974,-2723,-1945,-2369,-1759,-2158,-3324,-659,-3590,-1096,-2881,-1821,-3650,-1635,-2487,-3157,-2295,-3392,-1473,-4346,-1942,-3456,-3276,-2474,-3507,-2799,-3273,-3256,-2945,-3394,-3537,-3395,-2339,-3762,-2986,-3728,-2848,-3649,-2448,-3583,-3106,-2716,-3430,-1732,-4460,-2154,-2956,-2374,-3105,-2019,-3255,-1829,-2619,-2049,-2888,-2328,-2017,-3035,-2628,-2597,-2145,-3589,-1140,-5261,-1323,-3379,-1830,-3673,-3189,-2896,-3474,-1828,-4266,-2343,-4469,-1618,-4026,-2711,-3993,-2950,-2540,-3169,-3172,-3826,-1683,-3444,-2606,-2833,-2916,-2969,-1779,-2892,-2530,-2730,-2049,-1177,-3881,-1323,-2012,-1847,-2002,-1957,-2354,-2736,-1459,-2080,-2460,-2552,-1717,-2737,-1906,-3171,-1929,-2379,-2824,-2895,-2300,-3012,-2523,-2618,-3221,-2727,-3814,-911,-5072,-2415,-2542,-3615,-1901,-3918,-3232,-2721,-2697,-2788,-2828,-3535,-2663,-2031,-2797,-2331,-2626,-2921,-1466,-2851,-1365,-3075,-1584,-1874,-2224,-1436,-2025,-1306,-2308,-720,-2638,-995,-1951,-1428,-1697,-2019,-1600,-2246,-2068,-2659,-1875,-3227,-2159,-3135,-2678,-3359,-2777,-3196,-2595,-3321,-3836,-1499,-4792,-1458,-3772,-2796,-2650,-3403,-2364,-2878,-2462,-3078,-1640,-3842,-1328,-3324,-1572,-2009,-2635,-1305,-2189,-1742,-1055,-2472,-1347,-1236,-1921,-1058,-2153,-881,-2519,-541,-2348,-1254,-3059,-1371,-2558,-2388,-1891,-3604,-1541,-3613,-1844,-2817,-2854,-3108,-2969,-2833,-3523,-2753,-2355,-4021,-2113,-3529,-2816,-2945,-2665,-2735,-3518,-2071,-2776,-2426,-2541,-2192,-2933,-1189,-2658,-2047,-1765,-2434,-1131,-1842,-2066,-1686,-1746,-1475,-1691,-1440,-1720,-2001,-1819,-1693,-2020,-2253,-1848,-2914,-2426,-2717,-2366,-2147,-3520,-2417,-2750,-2826,-1940,-3350,-2622,-2569,-2764,-2435,-2562,-2997,-2344,-2040,-3054,-2621,-2530,-2982,-2045,-2753,-2419,-2978,-2257,-2249,-2834,-2182,-2444,-2165,-2893,-1396,-3792,-1191,-2089,-2217,-2001,-2655,-1390,-1910,-2115,-1926,-1765,-2617,-1029,-2046,-1436,-2605,-1630,-1783,-1261,-2833,-1633,-1718,-2374,-1694,-1854,-2087,-2478,-1491,-2422,-1817,-2618,-1293,-3275,-2083,-2169,-2332,-2220,-2894,-2274,-2504,-2261,-2067,-2388,-2928,-2717,-1453,-2427,-2609,-2004,-2180,-2176,-2420,-1452,-3096,-1522,-2672,-1305,-2516,-2106,-1600,-2286,-1892,-2563,-1491,-2436,-1690,-2698,-1994,-2476,-2075,-2735,-2570,-2738,-2441,-2727,-2880,-3166,-3089,-2805,-2424,-2838,-3332,-2186,-3637,-1817,-3352,-2498,-2838,-2889,-2808,-2723,-2924,-2942,-2565,-3218,-3312,-3148,-2747,-2239,-3571,-2838,-1808,-4592,-863,-3923,-1917,-2858,-2197,-2165,-2767,-1342,-3288,-369,-3206,-896,-2880,-1552,-1940,-2470,-1293,-2788,-768,-2882,-1919,-2168,-1687,-2406,-2590,-2494,-3334,-1817,-2221,-3240,-2483,-3037,-2659,-1959,-3338,-2496,-3535,-1781,-3145,-2137,-3382,-2433,-1967,-2554,-1951,-3280,-1216,-3571,-1094,-3158,-1816,-2140,-2424,-2110,-2066,-1896,-2449,-1387,-3114,-1472,-1939,-1949,-1786,-2603,-2391,-1436,-2887,-2272,-2307,-2481,-2986,-2381,-3245,-2781,-3129,-2353,-2613,-4223,-2104,-3553,-2409,-3830,-2595,-3022,-2486,-2551,-3279,-2357,-3012,-1773,-2782,-2410,-2521,-2443,-1763,-1968,-2237,-1902,-2003,-2381,-1292,-1553,-2053,-1135,-2273,-1605,-1421,-1624,-2292,-2360,-1494,-2652,-1387,-2593,-2552,-2044,-2144,-1860,-2636,-2595,-2261,-2034,-1910,-2392,-3276,-2011,-2067,-1957,-2267,-1655,-2984,-1702,-1766,-2109,-1556,-2581,-1644,-2744,-1512,-2717,-2078,-2168,-2136,-2434,-2210,-2091,-2695,-1931,-2143,-2673,-2263,-2386,-3021,-2307,-2350,-2664,-2752,-2496,-2955,-2218,-3145,-1957,-3572,-2426,-2352,-3537,-2241,-2757,-2755,-2713,-1912,-3116,-2330,-2138,-2007,-3033,-2362,-2977,-1827,-2309,-2772,-1940,-3232,-1822,-2740,-1710,-3064,-2561,-2246,-2175,-2560,-2490,-2109,-2590,-2598,-2459,-2021,-3034,-2317,-2966,-1663,-3431,-1815,-2594,-3302,-1688,-2808,-1546,-3446,-1785,-3016,-1575,-1955,-2986,-2201,-2354,-1526,-2744,-1329,-2970,-1865,-2924,-892,-3059,-2115,-1556,-3186,-1403,-3384,-886,-3319,-1725,-2739,-1731,-2319,-2798,-1648,-2975,-2357,-2070,-1930,-3091,-1819,-2625,-1189,-3475,-1918,-2165,-2453,-1971,-2209,-1964,-2995,-1326,-2959,-1466,-2882,-1763,-1999,-2132,-2480,-1979,-2009,-1975,-1584,-2809,-1217,-2731,-1581,-2127,-2158,-1842,-2365,-1648,-2002,-1783,-1706,-2005,-1851,-2482,-883,-2282,-1529,-2070,-2466,-1124,-2217,-1749,-1755,-1914,-2305,-1019,-2107,-2178,-2417,-848,-2419,-2018,-1516,-2522,-1990,-2226,-466,-3052,-1923,-1548,-1897,-1722,-2140,-1861,-2428,-1715,-2383,-1632,-2444,-2709,-2137,-1779,-2861,-2271,-1829,-2297,-2718,-1663,-2387,-3148,-1650,-2840,-2037,-2869,-1433,-3413,-1675,-1978,-2696,-1423,-2578,-2384,-1659,-2082,-2170,-1961,-2466,-1586,-2165,-1673,-1965,-1367,-2176,-780,-2979,-670,-2593,-1567,-1157,-2890,-1533,-2596,-1320,-3208,-1027,-3066,-2122,-2569,-1945,-2644,-2482,-1991,-2653,-2280,-2149,-2399,-2329,-2432,-2158,-1635,-2396,-2052,-2386,-778,-3116,-580,-3213,-1772,-2594,-1240,-2136,-2713,-1797,-3131,-817,-3216,-1694,-2836,-1611,-3280,-1033,-2788,-2240,-2434,-1736,-2901,-1800,-2011,-2688,-1245,-3217,-886,-2590,-1138,-3284,-1026,-2078,-1754,-2159,-2309,-2440,-1954,-1633,-3011,-2025,-3189,-1778,-2770,-1856,-3694,-2307,-2038,-3202,-1699,-3662,-2266,-2426,-3939,-2368,-2741,-3263,-2230,-2937,-3075,-2522,-2652,-2496,-2704,-2641,-2309,-2598,-2305,-3079,-2229,-1615,-3009,-1354,-2793,-1686,-1707,-2145,-1627,-2666,-828,-2447,-1101,-2139,-1941,-605,-2331,-1023,-2413,-1409,-1478,-1528,-1524,-3114,-1313,-2212,-2008,-2006,-2850,-1968,-2862,-1834,-3051,-2760,-2084,-2849,-1381,-3454,-1969,-2140,-2698,-1802,-1855,-2446,-1913,-1562,-2012,-1153,-1659,-1370,-1992,-1044,-1778,-736,-1664,-1713,-1577,-1917,-679,-1914,-1886,-1989,-1539,-1980,-1653,-2729,-1500,-2522,-1860,-1741,-2953,-2270,-2656,-1864,-2693,-2135,-3253,-1949,-2210,-2829,-2223,-1897,-2833,-1732,-1900,-2558,-1926,-2035,-1741,-2875,-1130,-3013,-1240,-1671,-2171,-1847,-2038,-1225,-2670,-758,-2172,-2385,-1164,-2140,-1341,-1406,-2453,-1578,-1799,-1480,-1483,-2027,-1918,-2372,-1462,-1999,-2128,-2238,-2499,-1261,-2062,-3221,-1278,-2571,-2429,-1226,-2291,-1832,-3337,-519]",
        "payloadType": "json",
        "x": 200,
        "y": 220,
        "wires": [
            [
                "6fdde704.ac14c8"
            ]
        ]
    },
    {
        "id": "efc85d9b.ace21",
        "type": "buffer-parser",
        "z": "48a68979.0ff158",
        "name": "wav header parser",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "ChunkID",
                "offset": "0",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32le",
                "name": "ChunkSize",
                "offset": "4",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "string",
                "name": "Format",
                "offset": "8",
                "length": "4",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Subchunk1ID",
                "offset": "12",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32le",
                "name": "Subchunk1Size",
                "offset": "16",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint16le",
                "name": "AudioFormat",
                "offset": "20",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint16le",
                "name": "NumChannels",
                "offset": "22",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32le",
                "name": "SampleRate",
                "offset": "24",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32le",
                "name": "ByteRate",
                "offset": "28",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint16le",
                "name": "BlockAlign",
                "offset": "32",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint16le",
                "name": "BitsPerSample",
                "offset": "34",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32be",
                "name": "Subchunk2ID",
                "offset": "36",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            },
            {
                "type": "uint32le",
                "name": "Subchunk2Size",
                "offset": "40",
                "length": "1",
                "offsetbit": "0",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "object",
        "resultTypeType": "output",
        "multipleResult": false,
        "setTopic": true,
        "x": 580,
        "y": 140,
        "wires": [
            [
                "87a4f9ea.1bb6f8"
            ]
        ]
    },
    {
        "id": "415e09cd.1fbf38",
        "type": "file in",
        "z": "48a68979.0ff158",
        "name": "",
        "filename": "/data/wav/other.01.1dogmnil.wav",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 300,
        "y": 140,
        "wires": [
            [
                "efc85d9b.ace21",
                "675d1f09.5f15b"
            ]
        ]
    },
    {
        "id": "f19ed3d1.a8cf8",
        "type": "inject",
        "z": "48a68979.0ff158",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 80,
        "wires": [
            [
                "415e09cd.1fbf38"
            ]
        ]
    },
    {
        "id": "87a4f9ea.1bb6f8",
        "type": "debug",
        "z": "48a68979.0ff158",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 790,
        "y": 140,
        "wires": []
    },
    {
        "id": "a7e5105b.3092b",
        "type": "inject",
        "z": "f74bc4c5.ba44d8",
        "name": "other.01.1dogmnil.wav",
        "props": [
            {
                "p": "filename",
                "v": "/data/wav/other.01.1dogmnil.wav",
                "vt": "str"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 180,
        "y": 540,
        "wires": [
            [
                "b45e9c87.c23b5"
            ]
        ]
    },
    {
        "id": "132d6cb5.a1a173",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "payload 2,3,..",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 900,
        "y": 740,
        "wires": []
    },
    {
        "id": "e137dbdb.fd48f8",
        "type": "change",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wav_header_skipped",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 580,
        "wires": [
            [
                "5cd6f058.a01e9"
            ]
        ]
    },
    {
        "id": "ab2666d7.62d858",
        "type": "function",
        "z": "f74bc4c5.ba44d8",
        "name": "skip wav header",
        "func": "// see http://soundfile.sapp.org/doc/WaveFormat/\n// skip the wav header = 44 bytes\nlet outBuffer = Buffer.alloc(msg.payload.length - 44 );\n\nmsg.payload.copy(outBuffer,0,\n                 44,msg.payload.length);\n                 \nmsg.payload = outBuffer;\n            \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 560,
        "y": 780,
        "wires": [
            [
                "d11787fb.00fb18"
            ]
        ]
    },
    {
        "id": "7df526c3.33d7a8",
        "type": "switch",
        "z": "f74bc4c5.ba44d8",
        "name": "wav_header_skipped ?",
        "property": "wav_header_skipped",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 740,
        "wires": [
            [
                "132d6cb5.a1a173",
                "27dfdfdd.ceb6e"
            ],
            [
                "ab2666d7.62d858"
            ]
        ]
    },
    {
        "id": "d11787fb.00fb18",
        "type": "change",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "wav_header_skipped",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 840,
        "wires": [
            [
                "c29808f7.9fdf88",
                "27dfdfdd.ceb6e"
            ]
        ]
    },
    {
        "id": "c29808f7.9fdf88",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "payload 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 880,
        "y": 840,
        "wires": []
    },
    {
        "id": "27dfdfdd.ceb6e",
        "type": "link out",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "links": [
            "a4baf9b0.f84538"
        ],
        "x": 895,
        "y": 800,
        "wires": []
    },
    {
        "id": "a4baf9b0.f84538",
        "type": "link in",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "links": [
            "27dfdfdd.ceb6e"
        ],
        "x": 120,
        "y": 220,
        "wires": [
            [
                "cc7592fb.afd36"
            ]
        ]
    },
    {
        "id": "dc1ab855.ee45c8",
        "type": "debug",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 680,
        "wires": []
    },
    {
        "id": "675d1f09.5f15b",
        "type": "debug",
        "z": "48a68979.0ff158",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "1ae3b82c.407f48",
        "type": "inject",
        "z": "bc919662.2457c8",
        "name": "ring example 1",
        "props": [
            {
                "p": "payload",
                "v": "[-273,-1173,-1484,-611,-1423,-1104,-961,-918,-1475,-768,-1030,-1563,-746,-1057,-705,-1675,-424,-1426,-848,-702,-959,-224,-1438,-125,-1073,-452,-505,-593,-301,-1539,-567,-843,-724,-824,-1320,-622,-1261,-1064,-624,-733,-1083,-1066,-499,-1131,-1155,-238,-880,-1038,-1086,-13,-1395,-490,-283,-995,-527,-769,-673,-1463,61,-1426,87,-1401,-349,-1099,-31,95,-1358,435,-1064,333,-850,436,-762,370,-351,-73,-921,535,-485,22,-114,-1040,556,-1229,1340,-1912,696,-951,438,-1173,-166,63,-888,212,-646,-133,-1459,1882,-1660,753,-618,358,277,-304,668,-558,704,-360,439,-254,199,512,-105,187,-626,-419,794,-948,269,-1001,-441,-443,-958,116,-1534,-25,-1100,-515,-1235,-736,295,-2398,621,-1723,-557,-364,-1127,-351,-1257,257,-1060,-288,-982,203,-662,-264,-704,-1193,-567,210,-1245,-49,-896,-1075,20,-677,-356,-970,219,-1363,452,-1625,443,-1242,-410,-345,-1745,348,-1725,-15,-1175,-1200,-642,-1519,-621,-858,-1222,-722,-1279,-557,-1441,46,-1123,-345,-314,-587,211,-1254,608,-949,-27,-128,-769,-85,-763,-168,-603,-809,-567,-785,-511,-239,-663,-770,-144,-1185,-199,-169,-396,-1042,134,-552,-609,604,-1056,553,-572,387,-678,461,-774,208,192,-468,-70,-404,329,-833,512,-825,-419,-791,-60,-1347,425,-1690,108,-1024,-940,-400,-728,249,-1896,1690,-2765,750,-402,-485,-235,-666,-194,-1009,30,-1273,16,-1305,-129,-803,-644,-457,-635,-517,-167,-947,-510,102,-859,-384,-352,-423,-225,-930,-10,-809,-130,-751,-523,-602,-1191,360,-1894,633,-2142,198,-708,-972,-859,-686,-92,-1664,384,-1589,116,-1097,251,-1399,-166,-603,-254,168,-1393,307,-650,80,-242,-697,-70,202,-704,467,-898,-349,-223,-478,-514,-682,-564,-791,-178,-1063,-437,-735,-739,-319,-925,-441,-163,-1237,-520,-388,-785,-202,-554,-840,-285,-920,-139,-857,-844,-518,-488,-1033,-245,-445,-1358,456,-1566,108,-1144,144,-737,-955,-251,-998,-411,-953,-158,-1771,-74,-1469,-601,-534,-1726,-260,-1038,-491,-912,-503,-656,-1156,268,-1247,218,-1821,-228,-162,-1106,275,-1874,290,-1492,327,-460,-1172,-215,-788,-137,-747,-290,-714,-500,-97,-921,-211,-501,-618,-459,-660,-178,-627,-122,-1083,316,-1042,333,-360,-755,728,-924,1126,-1302,183,-934,-144,-112,-857,-311,-1333,20,-1995,-332,-1390,-693,-924,-879,-1078,-1141,-294,-1286,-581,-1221,88,-1181,322,-406,-1065,834,-855,193,191,117,110,-437,836,-1035,184,542,-634,558,-855,391,-618,-291,-583,-577,289,-1671,299,-1514,-431,-537,-1473,108,-1894,-565,-835,268,-1900,-194,-259,-1435,-49,-644,-147,-1568,1127,-1609,-323,-393,-309,-256,-129,36,-870,931,-845,-483,606,-604,151,337,-680,-29,-621,907,-1397,283,-1236,725,-1128,26,-311,-2116,1141,-2122,470,-1956,430,-2105,300,-1345,-832,-272,-1815,654,-2267,231,-1278,-412,-913,-473,-252,-86,-590,71,-469,28,164,565,-1078,760,180,-342,1387,-1883,1431,-714,342,-43,581,-1299,63,481,-1567,-104,-357,-542,-1145,169,-1203,-477,-491,-454,-1147,154,-502,-751,-2,-795,-794,229,-1349,-295,131,-560,-255,-82,138,-1143,647,-933,308,-352,141,-460,-468,-709,-32,253,-701,100,-1056,448,-1016,-307,-705,-770,-996,-892,-667,-1079,-1744,-693,-1403,-1513,-941,-1846,-968,-2090,-552,-2169,-925,-1730,-2102,-1065,-1479,-876,-2067,-967,-2006,-716,-660,-962,-1507,-655,-866,-590,-688,-1117,-247,-1583,594,-1572,-33,-1100,-442,-341,-432,-463,-1086,468,-1829,237,-934,-580,-1231,-372,-934,-828,-123,-1038,-717,-923,-108,-750,-468,-445,-618,-436,-366,-707,-104,-550,-653,279,-536,-620,-186,-2,-632,-885,-252,-419,-270,-1086,289,-1234,-375,-159,-763,-671,-1280,-177,-496,-1058,-1474,-531,-1330,-473,-1105,-1204,-1502,-813,-1061,-1033,-824,-1362,-487,-1183,-363,-1171,-293,-1019,-1320,-74,-1173,326,-1367,-420,-467,-622,70,-1112,294,-966,-362,500,-1076,-863,-164,-337,-402,-690,-465,-756,-380,-839,-536,-1380,-396,-1132,-716,-1365,-971,-502,-1041,-944,-1416,-395,-1482,-242,-838,-1001,-1323,387,-1151,-488,-1143,190,-713,-447,162,-1007,377,-893,375,-694,145,-892,607,-1027,56,-25,49,-288,-649,892,-840,577,-539,-10,-455,295,157,-596,-128,-301,121,60,-591,-10,-937,37,-482,-1148,-307,-672,-1084,-748,-615,-1732,-385,-1480,-95,-1906,-823,-828,-1215,-1016,-936,-630,-1628,-118,-1644,-351,-160,-1400,120,-1159,-1233,154,-1184,-83,-1835,-104,-1400,-946,-847,-774,-919,-1490,165,-2369,-13,-1877,-388,-1193,-1834,-687,-1523,-804,-1709,-672,-1349,-1387,-1050,-1349,-323,-1849,-547,-890,-2013,-398,-1174,-712,-1186,-570,-1206,-584,-944,-79,-736,-904,58,-964,-829,-209,-557,-368,-542,-1110,354,-482,195,-654,170,-984,385,-782,252,-141,-937,273,-178,-625,-572,498,-1131,966,-1894,933,-1080,-384,129,159,-186,-1129,413,-880,422,-774,355,-1216,-274,-262,-10,-860,-615,-539,-275,-70,-1219,139,-1267,-909,332,-1494,-782,-1096,-30,-1110,-1369,-189,-1718,-341,-1295,-409,-863,-829,-979,-916,-931,-524,-1549,196,-2027,-450,-872,-776,-774,-1537,-8,-2024,704,-3023,681,-2305,160,-1442,-1173,-19,-1557,466,-1778,140,-1745,392,-908,-833,-639,-180,-1144,355,-1810,-214,-783,27,-80,-1586,-96,-1133,861,-1670,636,-1439,-37,-955,270,-359,-991,304,-373,-821,-694,358,-1176,52,-1663,-106,-1116,-241,-1644,-181,-963,-1180,-43,-1109,-1118,-872,504,-1568,-1096,-1003,39,-1316,170,-1253,-756,-1244,265,-1072,-1111,-18,-1884,684,-2441,-548,-944,-504,-1395,-1018,-1510,-917,-1045,-1014,-650,-2728,-120,-1537,-1201,-1341,-1208,-1574,-657,-1917,-1580,-835,-1336,-1014,-1545,-1075,-1556,-960,-1594,-334,-1879,-726,-1068,-954,-1193,-616,546,-1626,-508,-677,-103,-348,128,-1385,-475,-347,-178,-731,-534,-879,-993,8,-1857,-540,-934,-703,-1085,-1400,-1288,-1840,-1018,-168,-2056,-1115,-1191,-1362,-1436,-1192,-632,-1387,-873,-1802,-640,-1477,-565,-910,-1350,-945,-1300,-314,-1503,-689,-897,-1110,-966,-933,-1507,-795,-977,-1317,-1129,-1735,-1121,-951,-1156,-2131,-201,-2660,-628,-1420,-1606,-714,-1626,-725,-1515,-822,-1525,-429,-1536,-560,-1961,-800,-1709,-369,-1835,-1163,-1025,-2301,-704,-1721,-366,-2814,-544,-1710,-1949,-1451,-846,-1923,-1482,-815,-1911,-789,-1597,-647,-1114,-733,-1774,-1013,-119,-2124,-133,-772,-858,-1646,-288,-965,-1040,-834,-1315,-300,-2550,204,-1725,-906,-1744,-752,-1855,-1520,-1211,-2095,-696,-2456,-1103,-2612,-1019,-2186,-1072,-1524,-2357,-1966,-1102,-1880,-1602,-1219,-2938,-392,-2641,-713,-1655,-1326,-1619,-859,-921,-2188,10,-1984,-12,-1490,-664,-1599,-492,-963,-250,-453,-1677,-419,-1092,-319,-1005,-586,-1381,-1053,-1747,15,-1993,-469,-2118,-979,-1197,-2012,-808,-1531,-1931,-1293,-794,-2626,-859,-2149,-575,-1726,-609,-2593,-406,-1975,-729,-531,-2312,-1067,-1488,-728,-1863,-308,-1927,-756,-1887,-668,-1775,-740,-1363,-999,-1398,-1421,-811,-679,-495,-1713,766,-1868,-45,-483,-937,-420,-527,-1021,-1149,-342,-1613,-227,-993,-1611,-1019,-1136,-1221,-1555,-771,-2303,-560,-2153,-2106,-592,-2141,-835,-1706,-1642,-1809,-34,-1874,-704,-1188,-1059,-929,-357,-425,-1332,219,-943,-614,-565,204,-1177,237,-952,-648,-434,-122,-934,-502,-636,-608,-199,-1097,-668,-189,-931,-568,-680,-1864,101,-1752,-120,-1417,-1177,-2112,-243,-2052,-1734,-796,-2203,-1455,-1997,-781,-2140,-952,-1903,-1303,-2250,-626,-1291,-1158,-1678,-539,-1050,-1430,-329,-971,-850,-593,254,-1515,-284,-787,194,-737,-668,-749,-1032,-323,-1051,-675,-141,-2014,-262,-1180,-1086,-778,-995,-627,-1841,-587,-1973,133,-1986,-484,-1537,-1366,-638,-1161,-852,-1413,-651,-1967,-189,-1271,-1159,-1433,-454,-1678,-581,-1070,-652,-1338,-928,173,-1428,-650,-1036,-223,-1509,806,-1506,-588,-1347,-99,-540,-669,-1011,-1236,-498,-1149,-413,-1877,-54,-2887,-10,-1313,-1300,-1473,-223,-1980,-1079,-1096,-1470,-1283,-1264,-659,-2544,21,-2408,-560,-2053,-154,-2325,-401,-1884,-1033,-1038,-1458,-806,-2053,-147,-1878,-232,-1830,-387,-1922,-639,-2101,-574,-1777,-789,-1041,-1787,-1567,-1631,-714,-1894,-540,-2207,-617,-2118,-464,-1981,-1276,-1658,-1619,-1409,-1304,-1544,-1637,-941,-1881,-1566,-1231,-1523,-2861,-1,-3012,-1006,-2543,-1974,-1599,-1944,-901,-2623,-819,-3076,-624,-1139,-1933,-1403,-1461,-1424,-1680,-666,-1593,-1793,-546,-1890,-1071,-1184,-1408,-637,-1844,-584,-1969,-12,-1709,-1441,287,-2576,-401,-1209,-936,-1878,-241,-1331,-1756,-820,-2046,-423,-1888,-775,-2239,-810,-1634,-1534,-1053,-2080,-1406,-1494,-1159,-2202,-1315,-1864,-1249,-2366,-1893,-1621,-2175,-1377,-1702,-1921,-2073,-1350,-1564,-1331,-1549,-1383,-1432,-828,-1257,-1291,-514,-1500,-652,-919,-746,-917,-692,-809,-612,-1007,-1116,-327,-1280,-804,-1390,-146,-2402,-984,-673,-1977,-908,-1562,-1341,-2556,-49,-2407,-727,-1449,-2538,-440,-1948,-1399,-1871,-895,-1791,-1220,-1263,-1790,-1467,-996,-809,-2090,-1135,-1273,-1369,-874,-1332,-1605,-1003,-1416,-1326,-351,-1989,-735,-542,-1523,-879,-949,-1247,-857,-1280,-1345,-791,-1291,-1721,-984,-2100,-1146,-1610,-1930,-1044,-2600,-719,-1929,-2024,-2418,-927,-2705,-1590,-2294,-2523,-1167,-2986,-1288,-2917,-1840,-2072,-1943,-2481,-1906,-2438,-1583,-1818,-2895,-1526,-1463,-2570,-863,-1599,-2059,-633,-1829,-634,-1698,-1138,-1229,-529,-2050,-205,-1002,-947,-885,-1589,299,-1633,-444,-1115,-693,-1158,-763,-1258,-1215,-1423,-1831,-692,-2188,-2026,-1262,-2219,-1556,-2617,-1311,-2452,-1598,-2041,-2617,-1092,-3452,-779,-3174,-1577,-2362,-1394,-1561,-2500,-1368,-2015,-761,-2131,-610,-1645,-1356,-571,-1691,-348,-1458,-821,-820,-1459,-274,-1455,-59,-2316,-610,-1466,-1181,-998,-1554,-1490,-2131,-520,-2652,-1257,-2615,-1450,-1624,-1898,-2084,-2594,-1449,-2172,-1457,-1501,-2123,-1740,-1415,-1510,-1566,-1471,-841,-1266,-939,-1197,-494,-591,-1455,-653,-601,-1115,-453,-818,-985,-513,-698,-125,-1605,-287,-884,-253,160,-2086,169,-1295,-409,-1261,-702,-637,-2390,542,-2201,-1327,-1775,-673,-1789,-2196,-1014,-1791,-1246,-2445,-1257,-2244,-1139,-1847,-1203,-1846,-1866,-1313,-1185,-2179,-1832,-822,-1715,-1475,-1767,-1595,-1435,-1275,-1369,-1073,-1566,-1076,-1392,-1781,-1568,-1872,-990,-1796,-2530,-1100,-2618,-870,-2579,-2528,-1891,-2206,-1547,-2346,-1698,-2709,-1478,-1854,-2404,-1231,-2053,-1162,-1991,-1972,-1141,-2149,-935,-2282,-1013,-1639,-1733,-1448,-1479,-1999,-1398,-683,-2347,-1432,-1123,-1352,-919,-1978,-1534,-1171,-1913,-1059,-956,-1651,-2220,-601,-2444,-1392,-1871,-810,-1979,-1990,-1234,-1922,-873,-2471,-806,-2961,-267,-2860,-1158,-2016,-2814,-104,-2795,-1196,-2466,-1925,-1370,-1299,-2302,-1186,-2234,-956,-1696,-1028,-1628,-1280,-1437,-1495,-1581,-1567,-603,-2429,-401,-3177,-42,-2238,-1167,-2190,-1372,-1542,-2267,-464,-2915,-849,-2150,-675,-2506,-1544,-1404,-1380,-1311,-1611,-1063,-1460,-1180,-374,-1217,-632,-831,-623,-792,-1293,362,-1135,211,-2076,-440,-617,-993,-943,-1003,-1227,-1902,-92,-1698,-1360,-1918,-463,-2027,-1727,-1175,-1888,-1446,-1650,-1427,-2425,-1418,-1681,-1630,-2000,-1301,-2358,-1370,-1771,-2446,-624,-1936,-1256,-2184,-1475,-1657,-1209,-1414,-1551,-1732,-1521,-1132,-1470,-1314,-1660,-1222,-1170,-2064,-1462,-613,-2284,-571,-2528,-1164,-1742,-1299,-1678,-1557,-1522,-2446,-293,-2405,-1542,-1313,-772,-2286,-1432,-1066,-2034,-791,-1022,-2300,-986,-1529,-859,-1528,-1299,-1440,-992,-1304,-2088,-615,-1766,-344,-2513,-684,-2295,-1288,-661,-2140,-830,-2544,-919,-1397,-2059,-1932,-1081,-1276,-2874,-747,-2034,-1899,-872,-1500,-1821,-2018,-1010,-1468,-663,-2090,-645,-1146,-1481,-1088,-966,-131,-1604,-1066,-1024,-859,-1511,-282,-785,-2370,-473,-1617,-1311,-1993,-1477,-1181,-2039,-1559,-2401,-1090,-2385,-905,-2547,-1969,-2054,-1432,-1256,-2102,-1430,-1783,-915,-1981,-817,-1795,53,-1389,-1409,-863,-889,-1484,454,-1388,-1139,-383,-1407,-421,-1454,-480,-2078,158,-2445,-1141,-1284,-547,-1832,-2083,-410,-3038,-443,-1367,-2249,-1869,-2210,-899,-2838,-2078,-1588,-2254,-1378,-2990,-1449,-3189,-783,-1936,-1639,-2558,-1947,-1164,-1649,-838,-2373,-268,-1922,-771,-1095,-426,-990,-445,-1188,-761,-1172,-110,-530,-853,-1314,-963,136,-1912,-414,-1570,-328,-1836,-143,-2409,-1151,-573,-1259,-1142,-1640,-1594,-1369,-312,-2238,-1251,-1510,-1271,-1941,-403,-2643,-360,-2085,-1023,-1778,-1746,-656,-1204,-1255,-2119,-759,-2248,34,-2873,351,-2422,-457,-2153,-606,-1855,-1080,-386,-2626,-237,-3574,1460,-3048,-766,-1845,-949,-1885,-783,-2069,-1247,-1001,-2246,-229,-3470,-801,-1788,-601,-2519,-1254,-2140,-1082,-1490,-1163,-1607,-1347,-1590,-885,-1512,-1201,-867,-1580,-158,-2640,70,-1494,-779,-1205,-1005,-1358,-1019,-820,-1241,-1154,-441,-1652,-877,-1490,-1006,-545,-977,-70,-2144,-118,-802,-204,-1432,59,-1551,-296,-785,-959,-788,-1573,-81,-1769,-1003,-1693,-564,-1960,-821,-2517,-1681,-1881,-1914,-1638,-1985,-1599,-2742,-1355,-3014,-1393,-2575,-1103,-2696,-2371,-895,-2459,-1665,-1496,-1406,-2361,-1078,-1247,-1792,-1709,-808,-1592,-1704,-1356,-1229,-881,-855,-1486,-963,-1253,-926,-717,-1007,-1034,-1822,-148,-1955,-1083,-1218,-1348,-1080,-2841,-779,-3065,-1208,-2312,-1934,-2325,-3132,-1188,-3261,-1851,-2656,-1900,-2971,-1531,-2671,-2019,-1293,-2060,-2126,-1860,-1431,-1637,-1618,-1205,-1204,-2290,-565,-2159,-1138,-1633,-426,-2157,-782,-1988,-1300,-577,-2283,-1089,-2364,-793,-2537,-1076,-2394,-1993,-1926,-2451,-2280,-3092,-2046,-1740,-3713,-2309,-3019,-2650,-2633,-2362,-2632,-3342,-1868,-2775,-2311,-3343,-884,-3118,-1654,-2568,-1953,-2091,-1184,-2208,-1876,-1153,-2445,-498,-1909,-1316,-2009,-516,-2099,-1044,-1968,-662,-1518,-1410,-1827,-1599,-1518,-1197,-1327,-2058,-1427,-2266,-921,-2513,-1225,-1847,-2131,-1556,-2097,-2630,-949,-2545,-1870,-2474,-1381,-2448,-1893,-1534,-2776,-1862,-2229,-1308,-3512,-742,-3047,-1180,-2153,-2281,-2241,-1225,-1659,-2031,-607,-2671,-1071,-1946,-216,-2755,-795,-1210,-1455,-1559,-1061,-1316,-1476,-750,-1452,-1136,-1491,-675,-1347,-813,-2150,-472,-1333,-1544,-617,-1011,-1937,-372,-1541,-1806,-590,-1729,-1204,-1021,-1766,-1272,-1413,-1229,-1537,-1689,-578,-2345,-966,-1680,-1094,-1861,-609,-2237,-1302,-1181,-1959,-602,-2058,-1309,-2082,-919,-2015,-1192,-2347,-1371,-1700,-2263,-752,-2192,-1682,-1377,-782,-1938,-1481,-973,-1919,-857,-1345,-1443,-1718,-1718,-860,-1776,-1641,-1806,-1792,-1328,-2376,-1446,-2053,-1983,-1917,-1831,-1935,-2480,-833,-2628,-629,-2923,-1336,-1455,-2341,-782,-2557,-985,-2700,-856,-2080,-1555,-1708,-725,-2398,-1719,-186,-2484,-735,-1925,-1762,-1140,-1070,-1905,-1222,-1807,-970,-1376,-931,-1565,-1626,-166,-999,-1540,-1110,-1116,-1358,270,-1694,-1659,-736,-851,-1686,-536,-1654,-1471,-1136,-1846,-1137,-2153,-677,-1634,-1279,-1958,-1015,-1271,-1117,-1379,-1546,-642,-2110,-227,-1772,-1376,-942,-953,-1726,-1348,-1363,-815,-1019,-1482,-1216,-1797,-942,-1441,-992,-1854,-844,-1586,-997,-1605,-1209,-999,-1520,-949,-1590,-1578,-1186,-1080,-1788,-1071,-2089,-1008,-1292,-1581,-1737,-1210,-1910,-1822,-793,-2674,-1073,-1780,-1216,-1620,-1666,-683,-1743,-1039,-1100,-1198,-1583,-66,-1617,-1575,-243,-1347,-569,-1206,-1234,-806,-837,-560,-1505,-1467,-704,-1271,-895,-1309,-2157,-1223,-1189,-1027,-2389,-1118,-2169,-1787,-1148,-3205,-1147,-2743,-746,-2516,-1500,-2218,-1541,-948,-2075,-731,-2040,-1096,-1646,-74,-2374,-231,-2097,-837,-1027,-1890,-353,-1735,-1371,-1639,-1238,-1707,-1285,-1646,-806,-2109,-981,-1779,-1632,-1845,-235,-2590,-1012,-1435,-2638,-903,-1614,-1109,-2234,-977,-2122,-310,-2389,-367,-2608,-988,-1526,-1393,-1836,-2042,-730,-2467,-486,-3486,-867,-2531,-1452,-2056,-1718,-3087,-1779,-1058,-2623,-1877,-2369,-1490,-2096,-1312,-2441,-1232,-1815,-1699,-1689,-1523,-1633,-1104,-1488,-1727,-1618,-1319,-1307,-1905,-674,-2151,-1514,-784,-2024,-1891,-816,-1701,-1910,-1622,-2494,-1393,-1798,-1931,-1747,-2766,-1454,-1382,-2313,-1856,-1672,-1582,-2114,-1684,-1950,-2124,-1176,-1698,-2044,-1897,-1596,-1598,-878,-2049,-1867,-1019,-853,-2046,-874,-880,-2558,-597,-1649,-1213,-1831,-621,-1625,-1343,-1347,-1684,-746,-2195,-1429,-1833,-1943,-2249,-1170,-2668,-1587,-2182,-1718,-2579,-2467,-1697,-2312,-1549,-2638,-2209,-2539,-1989,-2447,-439,-3822,-1539,-1724,-2213,-1474,-1933,-1423,-2252,-430,-2273,-700,-2285,-472,-1728,-1509,-1319,-1922,-571,-1658,-1099,-1736,-978,-1837,-1374,-1265,-1858,-1342,-1202,-2029,-1568,-1692,-1414,-1281,-2393,-1873,-1495,-1278,-1779,-1734,-1731,-2100,-1504,-1730,-1797,-2281,-1592,-1897,-1675,-1445,-2266,-327,-1433,-1533,-1644,-758,-1361,-1579,-407,-1956,-1336,-1332,-556,-1948,-999,-1464,-1032,-1288,-1730,-671,-1903,-1254,-1379,-1322,-2919,-666,-1950,-1505,-1562,-1633,-2103,-1512,-1825,-2407,-676,-2979,-1319,-2515,-1334,-2471,-1069,-2085,-2207,-1958,-1300,-1558,-2501,-1336,-2745,-1156,-1928,-1764,-2114,-1507,-1781,-957,-2667,-1346,-2427,-929,-1667,-2157,-1695,-2598,-642,-2991,-1179,-2379,-1982,-1957,-1755,-2394,-1721,-2405,-1218,-2299,-2167,-1464,-1820,-982,-2913,-593,-2141,-1777,-1220,-1264,-2376,-902,-2185,-1746,-1446,-2578,-1152,-2020,-2279,-2994,-1010,-3128,-2866,-2043,-2549,-3427,-1788,-2822,-3640,-1751,-2699,-2779,-2596,-2681,-2863,-1928,-2707,-1911,-2812,-2368,-2556,-1380,-2135,-2590,-901,-2779,-1328,-1535,-1705,-1653,-2099,-1182,-1715,-1396,-1592,-1758,-1284,-1318,-1735,-1675,-1010,-2013,-1439,-1639,-1911,-2042,-1884,-2162,-1941,-2321,-2499,-1916,-2414,-2698,-2498,-1530,-2808,-3083,-2665,-1467,-3124,-2048,-1721,-2928,-2705,-1157,-2418,-2521,-1496,-3063,-305,-3210,-1838,-1598,-1544,-2349,-1920,-1516,-3071,-1419,-1706,-2443,-2661,-1814,-2172,-2051,-3076,-1278,-2936,-2222,-1987,-2905,-1787,-2494,-1809,-2025,-2431,-2260,-1618,-2076,-2412,-1294,-2875,-1649,-2267,-2373,-1373,-2651,-1300,-2915,-1750,-2515,-561,-2804,-1491,-1612,-2834,-618,-2904,-1462,-2228,-1741,-2242,-1572,-2748,-2137,-1520,-1945,-1968,-2412,-1813,-1836,-1962,-1025,-2667,-2002,-973,-2818,-889,-1354,-1776,-1924,-656,-2196,-2097,-142,-2122,-1237,-1248,-2027,-1111,-2032,-1390,-1646,-1559,-2088,-1731,-1494,-2321,-1144,-2308,-1233,-3010,-1792,-1618,-2653,-1913,-2834,-1761,-2880,-1927,-2432,-2112,-3014,-2056,-1855,-3732,-2096,-2623,-1748,-3140,-2333,-2704,-2473,-2185,-1767,-2390,-2453,-1853,-2121,-698,-2846,-1158,-2128,-1133,-2210,-1026,-959,-1907,-745,-1627,-1057,-2341,-219,-1627,-1843,-953,-2205,-1546,-1855,-1823,-1769,-2068,-1742,-2859,-1508,-2748,-1572,-2193,-1962,-2664,-2687,-1344,-3616,-1174,-3149,-2335,-2287,-2128,-2613,-1768,-1975,-2148,-1470,-1840,-1891,-1689,-624,-2079,-927,-1842,-1288,-1211,-1569,-1319,-1100,-2585,-746,-2281,-2162,-1453,-2965,-281,-3780,-1649,-1823,-2753,-1711,-2587,-1942,-3199,-2320,-1739,-3012,-2982,-2325,-2427,-3214,-2712,-2201,-2283,-2618,-2226,-2053,-2517,-1740,-1600,-1618,-2026,-1689,-920,-1442,-2036,-1127,-1177,-1377,-1811,-1202,-1830,-1788,-1084,-1519,-2409,-1794,-1148,-2519,-1172,-2608,-2575,-2401,-1966,-2748,-2972,-1771,-3066,-2596,-2033,-2644,-2710,-2051,-2113,-2169,-2828,-1564,-1992,-2428,-1738,-1677,-2357,-1677,-1180,-2125,-987,-2039,-1217,-2028,-1737,-1054,-2334,-764,-2612,-2327,-997,-1717,-2703,-1035,-1818,-2801,-1071,-2244,-2228,-1802,-2072,-1685,-2308,-2332,-1319,-1926,-1846,-1782,-1851,-2265,-999,-2014,-1313,-2084,-1716,-1634,-1861,-1847,-2219,-653,-2307,-1402,-1912,-1113,-2190,-1214,-1105,-2090,-2031,-959,-1989,-1777,-944,-2538,-893,-2358,-1685,-1390,-1747,-2209,-1447,-2917,-840,-2771,-2064,-1131,-3890,-733,-2473,-1212,-3288,-1220,-2033,-1800,-2057,-2160,-1542,-2618,-188,-2932,-498,-3036,-595,-1219,-1612,-1247,-2106,-504,-2355,-663,-2502,-843,-2595,-1557,-1493,-2424,-1884,-2164,-1724,-3366,-1845,-2427,-2970,-2544,-2444,-2711,-3459,-2225,-2479,-3203,-2099,-2921,-2787,-2455,-2914,-2715,-1819,-3440,-2307,-2028,-2408,-2470,-1757,-1868,-1911,-1940,-1942,-1191,-3227,-449,-2211,-1856,-1544,-2290,-1788,-1236,-2396,-1481,-1804,-3078,-1231,-2249,-2257,-2710,-2802,-2636,-2041,-3260,-1904,-3704,-2001,-2711,-2470,-2812,-3001,-2201,-2711,-1759,-3610,-1342,-3209,-1981,-1889,-2266,-2297,-1810,-2388,-2253,-2094,-1947,-2323,-1974,-2723,-1945,-2369,-1759,-2158,-3324,-659,-3590,-1096,-2881,-1821,-3650,-1635,-2487,-3157,-2295,-3392,-1473,-4346,-1942,-3456,-3276,-2474,-3507,-2799,-3273,-3256,-2945,-3394,-3537,-3395,-2339,-3762,-2986,-3728,-2848,-3649,-2448,-3583,-3106,-2716,-3430,-1732,-4460,-2154,-2956,-2374,-3105,-2019,-3255,-1829,-2619,-2049,-2888,-2328,-2017,-3035,-2628,-2597,-2145,-3589,-1140,-5261,-1323,-3379,-1830,-3673,-3189,-2896,-3474,-1828,-4266,-2343,-4469,-1618,-4026,-2711,-3993,-2950,-2540,-3169,-3172,-3826,-1683,-3444,-2606,-2833,-2916,-2969,-1779,-2892,-2530,-2730,-2049,-1177,-3881,-1323,-2012,-1847,-2002,-1957,-2354,-2736,-1459,-2080,-2460,-2552,-1717,-2737,-1906,-3171,-1929,-2379,-2824,-2895,-2300,-3012,-2523,-2618,-3221,-2727,-3814,-911,-5072,-2415,-2542,-3615,-1901,-3918,-3232,-2721,-2697,-2788,-2828,-3535,-2663,-2031,-2797,-2331,-2626,-2921,-1466,-2851,-1365,-3075,-1584,-1874,-2224,-1436,-2025,-1306,-2308,-720,-2638,-995,-1951,-1428,-1697,-2019,-1600,-2246,-2068,-2659,-1875,-3227,-2159,-3135,-2678,-3359,-2777,-3196,-2595,-3321,-3836,-1499,-4792,-1458,-3772,-2796,-2650,-3403,-2364,-2878,-2462,-3078,-1640,-3842,-1328,-3324,-1572,-2009,-2635,-1305,-2189,-1742,-1055,-2472,-1347,-1236,-1921,-1058,-2153,-881,-2519,-541,-2348,-1254,-3059,-1371,-2558,-2388,-1891,-3604,-1541,-3613,-1844,-2817,-2854,-3108,-2969,-2833,-3523,-2753,-2355,-4021,-2113,-3529,-2816,-2945,-2665,-2735,-3518,-2071,-2776,-2426,-2541,-2192,-2933,-1189,-2658,-2047,-1765,-2434,-1131,-1842,-2066,-1686,-1746,-1475,-1691,-1440,-1720,-2001,-1819,-1693,-2020,-2253,-1848,-2914,-2426,-2717,-2366,-2147,-3520,-2417,-2750,-2826,-1940,-3350,-2622,-2569,-2764,-2435,-2562,-2997,-2344,-2040,-3054,-2621,-2530,-2982,-2045,-2753,-2419,-2978,-2257,-2249,-2834,-2182,-2444,-2165,-2893,-1396,-3792,-1191,-2089,-2217,-2001,-2655,-1390,-1910,-2115,-1926,-1765,-2617,-1029,-2046,-1436,-2605,-1630,-1783,-1261,-2833,-1633,-1718,-2374,-1694,-1854,-2087,-2478,-1491,-2422,-1817,-2618,-1293,-3275,-2083,-2169,-2332,-2220,-2894,-2274,-2504,-2261,-2067,-2388,-2928,-2717,-1453,-2427,-2609,-2004,-2180,-2176,-2420,-1452,-3096,-1522,-2672,-1305,-2516,-2106,-1600,-2286,-1892,-2563,-1491,-2436,-1690,-2698,-1994,-2476,-2075,-2735,-2570,-2738,-2441,-2727,-2880,-3166,-3089,-2805,-2424,-2838,-3332,-2186,-3637,-1817,-3352,-2498,-2838,-2889,-2808,-2723,-2924,-2942,-2565,-3218,-3312,-3148,-2747,-2239,-3571,-2838,-1808,-4592,-863,-3923,-1917,-2858,-2197,-2165,-2767,-1342,-3288,-369,-3206,-896,-2880,-1552,-1940,-2470,-1293,-2788,-768,-2882,-1919,-2168,-1687,-2406,-2590,-2494,-3334,-1817,-2221,-3240,-2483,-3037,-2659,-1959,-3338,-2496,-3535,-1781,-3145,-2137,-3382,-2433,-1967,-2554,-1951,-3280,-1216,-3571,-1094,-3158,-1816,-2140,-2424,-2110,-2066,-1896,-2449,-1387,-3114,-1472,-1939,-1949,-1786,-2603,-2391,-1436,-2887,-2272,-2307,-2481,-2986,-2381,-3245,-2781,-3129,-2353,-2613,-4223,-2104,-3553,-2409,-3830,-2595,-3022,-2486,-2551,-3279,-2357,-3012,-1773,-2782,-2410,-2521,-2443,-1763,-1968,-2237,-1902,-2003,-2381,-1292,-1553,-2053,-1135,-2273,-1605,-1421,-1624,-2292,-2360,-1494,-2652,-1387,-2593,-2552,-2044,-2144,-1860,-2636,-2595,-2261,-2034,-1910,-2392,-3276,-2011,-2067,-1957,-2267,-1655,-2984,-1702,-1766,-2109,-1556,-2581,-1644,-2744,-1512,-2717,-2078,-2168,-2136,-2434,-2210,-2091,-2695,-1931,-2143,-2673,-2263,-2386,-3021,-2307,-2350,-2664,-2752,-2496,-2955,-2218,-3145,-1957,-3572,-2426,-2352,-3537,-2241,-2757,-2755,-2713,-1912,-3116,-2330,-2138,-2007,-3033,-2362,-2977,-1827,-2309,-2772,-1940,-3232,-1822,-2740,-1710,-3064,-2561,-2246,-2175,-2560,-2490,-2109,-2590,-2598,-2459,-2021,-3034,-2317,-2966,-1663,-3431,-1815,-2594,-3302,-1688,-2808,-1546,-3446,-1785,-3016,-1575,-1955,-2986,-2201,-2354,-1526,-2744,-1329,-2970,-1865,-2924,-892,-3059,-2115,-1556,-3186,-1403,-3384,-886,-3319,-1725,-2739,-1731,-2319,-2798,-1648,-2975,-2357,-2070,-1930,-3091,-1819,-2625,-1189,-3475,-1918,-2165,-2453,-1971,-2209,-1964,-2995,-1326,-2959,-1466,-2882,-1763,-1999,-2132,-2480,-1979,-2009,-1975,-1584,-2809,-1217,-2731,-1581,-2127,-2158,-1842,-2365,-1648,-2002,-1783,-1706,-2005,-1851,-2482,-883,-2282,-1529,-2070,-2466,-1124,-2217,-1749,-1755,-1914,-2305,-1019,-2107,-2178,-2417,-848,-2419,-2018,-1516,-2522,-1990,-2226,-466,-3052,-1923,-1548,-1897,-1722,-2140,-1861,-2428,-1715,-2383,-1632,-2444,-2709,-2137,-1779,-2861,-2271,-1829,-2297,-2718,-1663,-2387,-3148,-1650,-2840,-2037,-2869,-1433,-3413,-1675,-1978,-2696,-1423,-2578,-2384,-1659,-2082,-2170,-1961,-2466,-1586,-2165,-1673,-1965,-1367,-2176,-780,-2979,-670,-2593,-1567,-1157,-2890,-1533,-2596,-1320,-3208,-1027,-3066,-2122,-2569,-1945,-2644,-2482,-1991,-2653,-2280,-2149,-2399,-2329,-2432,-2158,-1635,-2396,-2052,-2386,-778,-3116,-580,-3213,-1772,-2594,-1240,-2136,-2713,-1797,-3131,-817,-3216,-1694,-2836,-1611,-3280,-1033,-2788,-2240,-2434,-1736,-2901,-1800,-2011,-2688,-1245,-3217,-886,-2590,-1138,-3284,-1026,-2078,-1754,-2159,-2309,-2440,-1954,-1633,-3011,-2025,-3189,-1778,-2770,-1856,-3694,-2307,-2038,-3202,-1699,-3662,-2266,-2426,-3939,-2368,-2741,-3263,-2230,-2937,-3075,-2522,-2652,-2496,-2704,-2641,-2309,-2598,-2305,-3079,-2229,-1615,-3009,-1354,-2793,-1686,-1707,-2145,-1627,-2666,-828,-2447,-1101,-2139,-1941,-605,-2331,-1023,-2413,-1409,-1478,-1528,-1524,-3114,-1313,-2212,-2008,-2006,-2850,-1968,-2862,-1834,-3051,-2760,-2084,-2849,-1381,-3454,-1969,-2140,-2698,-1802,-1855,-2446,-1913,-1562,-2012,-1153,-1659,-1370,-1992,-1044,-1778,-736,-1664,-1713,-1577,-1917,-679,-1914,-1886,-1989,-1539,-1980,-1653,-2729,-1500,-2522,-1860,-1741,-2953,-2270,-2656,-1864,-2693,-2135,-3253,-1949,-2210,-2829,-2223,-1897,-2833,-1732,-1900,-2558,-1926,-2035,-1741,-2875,-1130,-3013,-1240,-1671,-2171,-1847,-2038,-1225,-2670,-758,-2172,-2385,-1164,-2140,-1341,-1406,-2453,-1578,-1799,-1480,-1483,-2027,-1918,-2372,-1462,-1999,-2128,-2238,-2499,-1261,-2062,-3221,-1278,-2571,-2429,-1226,-2291,-1832,-3337,-519]",
                "vt": "json"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "string"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[-273,-1173,-1484,-611,-1423,-1104,-961,-918,-1475,-768,-1030,-1563,-746,-1057,-705,-1675,-424,-1426,-848,-702,-959,-224,-1438,-125,-1073,-452,-505,-593,-301,-1539,-567,-843,-724,-824,-1320,-622,-1261,-1064,-624,-733,-1083,-1066,-499,-1131,-1155,-238,-880,-1038,-1086,-13,-1395,-490,-283,-995,-527,-769,-673,-1463,61,-1426,87,-1401,-349,-1099,-31,95,-1358,435,-1064,333,-850,436,-762,370,-351,-73,-921,535,-485,22,-114,-1040,556,-1229,1340,-1912,696,-951,438,-1173,-166,63,-888,212,-646,-133,-1459,1882,-1660,753,-618,358,277,-304,668,-558,704,-360,439,-254,199,512,-105,187,-626,-419,794,-948,269,-1001,-441,-443,-958,116,-1534,-25,-1100,-515,-1235,-736,295,-2398,621,-1723,-557,-364,-1127,-351,-1257,257,-1060,-288,-982,203,-662,-264,-704,-1193,-567,210,-1245,-49,-896,-1075,20,-677,-356,-970,219,-1363,452,-1625,443,-1242,-410,-345,-1745,348,-1725,-15,-1175,-1200,-642,-1519,-621,-858,-1222,-722,-1279,-557,-1441,46,-1123,-345,-314,-587,211,-1254,608,-949,-27,-128,-769,-85,-763,-168,-603,-809,-567,-785,-511,-239,-663,-770,-144,-1185,-199,-169,-396,-1042,134,-552,-609,604,-1056,553,-572,387,-678,461,-774,208,192,-468,-70,-404,329,-833,512,-825,-419,-791,-60,-1347,425,-1690,108,-1024,-940,-400,-728,249,-1896,1690,-2765,750,-402,-485,-235,-666,-194,-1009,30,-1273,16,-1305,-129,-803,-644,-457,-635,-517,-167,-947,-510,102,-859,-384,-352,-423,-225,-930,-10,-809,-130,-751,-523,-602,-1191,360,-1894,633,-2142,198,-708,-972,-859,-686,-92,-1664,384,-1589,116,-1097,251,-1399,-166,-603,-254,168,-1393,307,-650,80,-242,-697,-70,202,-704,467,-898,-349,-223,-478,-514,-682,-564,-791,-178,-1063,-437,-735,-739,-319,-925,-441,-163,-1237,-520,-388,-785,-202,-554,-840,-285,-920,-139,-857,-844,-518,-488,-1033,-245,-445,-1358,456,-1566,108,-1144,144,-737,-955,-251,-998,-411,-953,-158,-1771,-74,-1469,-601,-534,-1726,-260,-1038,-491,-912,-503,-656,-1156,268,-1247,218,-1821,-228,-162,-1106,275,-1874,290,-1492,327,-460,-1172,-215,-788,-137,-747,-290,-714,-500,-97,-921,-211,-501,-618,-459,-660,-178,-627,-122,-1083,316,-1042,333,-360,-755,728,-924,1126,-1302,183,-934,-144,-112,-857,-311,-1333,20,-1995,-332,-1390,-693,-924,-879,-1078,-1141,-294,-1286,-581,-1221,88,-1181,322,-406,-1065,834,-855,193,191,117,110,-437,836,-1035,184,542,-634,558,-855,391,-618,-291,-583,-577,289,-1671,299,-1514,-431,-537,-1473,108,-1894,-565,-835,268,-1900,-194,-259,-1435,-49,-644,-147,-1568,1127,-1609,-323,-393,-309,-256,-129,36,-870,931,-845,-483,606,-604,151,337,-680,-29,-621,907,-1397,283,-1236,725,-1128,26,-311,-2116,1141,-2122,470,-1956,430,-2105,300,-1345,-832,-272,-1815,654,-2267,231,-1278,-412,-913,-473,-252,-86,-590,71,-469,28,164,565,-1078,760,180,-342,1387,-1883,1431,-714,342,-43,581,-1299,63,481,-1567,-104,-357,-542,-1145,169,-1203,-477,-491,-454,-1147,154,-502,-751,-2,-795,-794,229,-1349,-295,131,-560,-255,-82,138,-1143,647,-933,308,-352,141,-460,-468,-709,-32,253,-701,100,-1056,448,-1016,-307,-705,-770,-996,-892,-667,-1079,-1744,-693,-1403,-1513,-941,-1846,-968,-2090,-552,-2169,-925,-1730,-2102,-1065,-1479,-876,-2067,-967,-2006,-716,-660,-962,-1507,-655,-866,-590,-688,-1117,-247,-1583,594,-1572,-33,-1100,-442,-341,-432,-463,-1086,468,-1829,237,-934,-580,-1231,-372,-934,-828,-123,-1038,-717,-923,-108,-750,-468,-445,-618,-436,-366,-707,-104,-550,-653,279,-536,-620,-186,-2,-632,-885,-252,-419,-270,-1086,289,-1234,-375,-159,-763,-671,-1280,-177,-496,-1058,-1474,-531,-1330,-473,-1105,-1204,-1502,-813,-1061,-1033,-824,-1362,-487,-1183,-363,-1171,-293,-1019,-1320,-74,-1173,326,-1367,-420,-467,-622,70,-1112,294,-966,-362,500,-1076,-863,-164,-337,-402,-690,-465,-756,-380,-839,-536,-1380,-396,-1132,-716,-1365,-971,-502,-1041,-944,-1416,-395,-1482,-242,-838,-1001,-1323,387,-1151,-488,-1143,190,-713,-447,162,-1007,377,-893,375,-694,145,-892,607,-1027,56,-25,49,-288,-649,892,-840,577,-539,-10,-455,295,157,-596,-128,-301,121,60,-591,-10,-937,37,-482,-1148,-307,-672,-1084,-748,-615,-1732,-385,-1480,-95,-1906,-823,-828,-1215,-1016,-936,-630,-1628,-118,-1644,-351,-160,-1400,120,-1159,-1233,154,-1184,-83,-1835,-104,-1400,-946,-847,-774,-919,-1490,165,-2369,-13,-1877,-388,-1193,-1834,-687,-1523,-804,-1709,-672,-1349,-1387,-1050,-1349,-323,-1849,-547,-890,-2013,-398,-1174,-712,-1186,-570,-1206,-584,-944,-79,-736,-904,58,-964,-829,-209,-557,-368,-542,-1110,354,-482,195,-654,170,-984,385,-782,252,-141,-937,273,-178,-625,-572,498,-1131,966,-1894,933,-1080,-384,129,159,-186,-1129,413,-880,422,-774,355,-1216,-274,-262,-10,-860,-615,-539,-275,-70,-1219,139,-1267,-909,332,-1494,-782,-1096,-30,-1110,-1369,-189,-1718,-341,-1295,-409,-863,-829,-979,-916,-931,-524,-1549,196,-2027,-450,-872,-776,-774,-1537,-8,-2024,704,-3023,681,-2305,160,-1442,-1173,-19,-1557,466,-1778,140,-1745,392,-908,-833,-639,-180,-1144,355,-1810,-214,-783,27,-80,-1586,-96,-1133,861,-1670,636,-1439,-37,-955,270,-359,-991,304,-373,-821,-694,358,-1176,52,-1663,-106,-1116,-241,-1644,-181,-963,-1180,-43,-1109,-1118,-872,504,-1568,-1096,-1003,39,-1316,170,-1253,-756,-1244,265,-1072,-1111,-18,-1884,684,-2441,-548,-944,-504,-1395,-1018,-1510,-917,-1045,-1014,-650,-2728,-120,-1537,-1201,-1341,-1208,-1574,-657,-1917,-1580,-835,-1336,-1014,-1545,-1075,-1556,-960,-1594,-334,-1879,-726,-1068,-954,-1193,-616,546,-1626,-508,-677,-103,-348,128,-1385,-475,-347,-178,-731,-534,-879,-993,8,-1857,-540,-934,-703,-1085,-1400,-1288,-1840,-1018,-168,-2056,-1115,-1191,-1362,-1436,-1192,-632,-1387,-873,-1802,-640,-1477,-565,-910,-1350,-945,-1300,-314,-1503,-689,-897,-1110,-966,-933,-1507,-795,-977,-1317,-1129,-1735,-1121,-951,-1156,-2131,-201,-2660,-628,-1420,-1606,-714,-1626,-725,-1515,-822,-1525,-429,-1536,-560,-1961,-800,-1709,-369,-1835,-1163,-1025,-2301,-704,-1721,-366,-2814,-544,-1710,-1949,-1451,-846,-1923,-1482,-815,-1911,-789,-1597,-647,-1114,-733,-1774,-1013,-119,-2124,-133,-772,-858,-1646,-288,-965,-1040,-834,-1315,-300,-2550,204,-1725,-906,-1744,-752,-1855,-1520,-1211,-2095,-696,-2456,-1103,-2612,-1019,-2186,-1072,-1524,-2357,-1966,-1102,-1880,-1602,-1219,-2938,-392,-2641,-713,-1655,-1326,-1619,-859,-921,-2188,10,-1984,-12,-1490,-664,-1599,-492,-963,-250,-453,-1677,-419,-1092,-319,-1005,-586,-1381,-1053,-1747,15,-1993,-469,-2118,-979,-1197,-2012,-808,-1531,-1931,-1293,-794,-2626,-859,-2149,-575,-1726,-609,-2593,-406,-1975,-729,-531,-2312,-1067,-1488,-728,-1863,-308,-1927,-756,-1887,-668,-1775,-740,-1363,-999,-1398,-1421,-811,-679,-495,-1713,766,-1868,-45,-483,-937,-420,-527,-1021,-1149,-342,-1613,-227,-993,-1611,-1019,-1136,-1221,-1555,-771,-2303,-560,-2153,-2106,-592,-2141,-835,-1706,-1642,-1809,-34,-1874,-704,-1188,-1059,-929,-357,-425,-1332,219,-943,-614,-565,204,-1177,237,-952,-648,-434,-122,-934,-502,-636,-608,-199,-1097,-668,-189,-931,-568,-680,-1864,101,-1752,-120,-1417,-1177,-2112,-243,-2052,-1734,-796,-2203,-1455,-1997,-781,-2140,-952,-1903,-1303,-2250,-626,-1291,-1158,-1678,-539,-1050,-1430,-329,-971,-850,-593,254,-1515,-284,-787,194,-737,-668,-749,-1032,-323,-1051,-675,-141,-2014,-262,-1180,-1086,-778,-995,-627,-1841,-587,-1973,133,-1986,-484,-1537,-1366,-638,-1161,-852,-1413,-651,-1967,-189,-1271,-1159,-1433,-454,-1678,-581,-1070,-652,-1338,-928,173,-1428,-650,-1036,-223,-1509,806,-1506,-588,-1347,-99,-540,-669,-1011,-1236,-498,-1149,-413,-1877,-54,-2887,-10,-1313,-1300,-1473,-223,-1980,-1079,-1096,-1470,-1283,-1264,-659,-2544,21,-2408,-560,-2053,-154,-2325,-401,-1884,-1033,-1038,-1458,-806,-2053,-147,-1878,-232,-1830,-387,-1922,-639,-2101,-574,-1777,-789,-1041,-1787,-1567,-1631,-714,-1894,-540,-2207,-617,-2118,-464,-1981,-1276,-1658,-1619,-1409,-1304,-1544,-1637,-941,-1881,-1566,-1231,-1523,-2861,-1,-3012,-1006,-2543,-1974,-1599,-1944,-901,-2623,-819,-3076,-624,-1139,-1933,-1403,-1461,-1424,-1680,-666,-1593,-1793,-546,-1890,-1071,-1184,-1408,-637,-1844,-584,-1969,-12,-1709,-1441,287,-2576,-401,-1209,-936,-1878,-241,-1331,-1756,-820,-2046,-423,-1888,-775,-2239,-810,-1634,-1534,-1053,-2080,-1406,-1494,-1159,-2202,-1315,-1864,-1249,-2366,-1893,-1621,-2175,-1377,-1702,-1921,-2073,-1350,-1564,-1331,-1549,-1383,-1432,-828,-1257,-1291,-514,-1500,-652,-919,-746,-917,-692,-809,-612,-1007,-1116,-327,-1280,-804,-1390,-146,-2402,-984,-673,-1977,-908,-1562,-1341,-2556,-49,-2407,-727,-1449,-2538,-440,-1948,-1399,-1871,-895,-1791,-1220,-1263,-1790,-1467,-996,-809,-2090,-1135,-1273,-1369,-874,-1332,-1605,-1003,-1416,-1326,-351,-1989,-735,-542,-1523,-879,-949,-1247,-857,-1280,-1345,-791,-1291,-1721,-984,-2100,-1146,-1610,-1930,-1044,-2600,-719,-1929,-2024,-2418,-927,-2705,-1590,-2294,-2523,-1167,-2986,-1288,-2917,-1840,-2072,-1943,-2481,-1906,-2438,-1583,-1818,-2895,-1526,-1463,-2570,-863,-1599,-2059,-633,-1829,-634,-1698,-1138,-1229,-529,-2050,-205,-1002,-947,-885,-1589,299,-1633,-444,-1115,-693,-1158,-763,-1258,-1215,-1423,-1831,-692,-2188,-2026,-1262,-2219,-1556,-2617,-1311,-2452,-1598,-2041,-2617,-1092,-3452,-779,-3174,-1577,-2362,-1394,-1561,-2500,-1368,-2015,-761,-2131,-610,-1645,-1356,-571,-1691,-348,-1458,-821,-820,-1459,-274,-1455,-59,-2316,-610,-1466,-1181,-998,-1554,-1490,-2131,-520,-2652,-1257,-2615,-1450,-1624,-1898,-2084,-2594,-1449,-2172,-1457,-1501,-2123,-1740,-1415,-1510,-1566,-1471,-841,-1266,-939,-1197,-494,-591,-1455,-653,-601,-1115,-453,-818,-985,-513,-698,-125,-1605,-287,-884,-253,160,-2086,169,-1295,-409,-1261,-702,-637,-2390,542,-2201,-1327,-1775,-673,-1789,-2196,-1014,-1791,-1246,-2445,-1257,-2244,-1139,-1847,-1203,-1846,-1866,-1313,-1185,-2179,-1832,-822,-1715,-1475,-1767,-1595,-1435,-1275,-1369,-1073,-1566,-1076,-1392,-1781,-1568,-1872,-990,-1796,-2530,-1100,-2618,-870,-2579,-2528,-1891,-2206,-1547,-2346,-1698,-2709,-1478,-1854,-2404,-1231,-2053,-1162,-1991,-1972,-1141,-2149,-935,-2282,-1013,-1639,-1733,-1448,-1479,-1999,-1398,-683,-2347,-1432,-1123,-1352,-919,-1978,-1534,-1171,-1913,-1059,-956,-1651,-2220,-601,-2444,-1392,-1871,-810,-1979,-1990,-1234,-1922,-873,-2471,-806,-2961,-267,-2860,-1158,-2016,-2814,-104,-2795,-1196,-2466,-1925,-1370,-1299,-2302,-1186,-2234,-956,-1696,-1028,-1628,-1280,-1437,-1495,-1581,-1567,-603,-2429,-401,-3177,-42,-2238,-1167,-2190,-1372,-1542,-2267,-464,-2915,-849,-2150,-675,-2506,-1544,-1404,-1380,-1311,-1611,-1063,-1460,-1180,-374,-1217,-632,-831,-623,-792,-1293,362,-1135,211,-2076,-440,-617,-993,-943,-1003,-1227,-1902,-92,-1698,-1360,-1918,-463,-2027,-1727,-1175,-1888,-1446,-1650,-1427,-2425,-1418,-1681,-1630,-2000,-1301,-2358,-1370,-1771,-2446,-624,-1936,-1256,-2184,-1475,-1657,-1209,-1414,-1551,-1732,-1521,-1132,-1470,-1314,-1660,-1222,-1170,-2064,-1462,-613,-2284,-571,-2528,-1164,-1742,-1299,-1678,-1557,-1522,-2446,-293,-2405,-1542,-1313,-772,-2286,-1432,-1066,-2034,-791,-1022,-2300,-986,-1529,-859,-1528,-1299,-1440,-992,-1304,-2088,-615,-1766,-344,-2513,-684,-2295,-1288,-661,-2140,-830,-2544,-919,-1397,-2059,-1932,-1081,-1276,-2874,-747,-2034,-1899,-872,-1500,-1821,-2018,-1010,-1468,-663,-2090,-645,-1146,-1481,-1088,-966,-131,-1604,-1066,-1024,-859,-1511,-282,-785,-2370,-473,-1617,-1311,-1993,-1477,-1181,-2039,-1559,-2401,-1090,-2385,-905,-2547,-1969,-2054,-1432,-1256,-2102,-1430,-1783,-915,-1981,-817,-1795,53,-1389,-1409,-863,-889,-1484,454,-1388,-1139,-383,-1407,-421,-1454,-480,-2078,158,-2445,-1141,-1284,-547,-1832,-2083,-410,-3038,-443,-1367,-2249,-1869,-2210,-899,-2838,-2078,-1588,-2254,-1378,-2990,-1449,-3189,-783,-1936,-1639,-2558,-1947,-1164,-1649,-838,-2373,-268,-1922,-771,-1095,-426,-990,-445,-1188,-761,-1172,-110,-530,-853,-1314,-963,136,-1912,-414,-1570,-328,-1836,-143,-2409,-1151,-573,-1259,-1142,-1640,-1594,-1369,-312,-2238,-1251,-1510,-1271,-1941,-403,-2643,-360,-2085,-1023,-1778,-1746,-656,-1204,-1255,-2119,-759,-2248,34,-2873,351,-2422,-457,-2153,-606,-1855,-1080,-386,-2626,-237,-3574,1460,-3048,-766,-1845,-949,-1885,-783,-2069,-1247,-1001,-2246,-229,-3470,-801,-1788,-601,-2519,-1254,-2140,-1082,-1490,-1163,-1607,-1347,-1590,-885,-1512,-1201,-867,-1580,-158,-2640,70,-1494,-779,-1205,-1005,-1358,-1019,-820,-1241,-1154,-441,-1652,-877,-1490,-1006,-545,-977,-70,-2144,-118,-802,-204,-1432,59,-1551,-296,-785,-959,-788,-1573,-81,-1769,-1003,-1693,-564,-1960,-821,-2517,-1681,-1881,-1914,-1638,-1985,-1599,-2742,-1355,-3014,-1393,-2575,-1103,-2696,-2371,-895,-2459,-1665,-1496,-1406,-2361,-1078,-1247,-1792,-1709,-808,-1592,-1704,-1356,-1229,-881,-855,-1486,-963,-1253,-926,-717,-1007,-1034,-1822,-148,-1955,-1083,-1218,-1348,-1080,-2841,-779,-3065,-1208,-2312,-1934,-2325,-3132,-1188,-3261,-1851,-2656,-1900,-2971,-1531,-2671,-2019,-1293,-2060,-2126,-1860,-1431,-1637,-1618,-1205,-1204,-2290,-565,-2159,-1138,-1633,-426,-2157,-782,-1988,-1300,-577,-2283,-1089,-2364,-793,-2537,-1076,-2394,-1993,-1926,-2451,-2280,-3092,-2046,-1740,-3713,-2309,-3019,-2650,-2633,-2362,-2632,-3342,-1868,-2775,-2311,-3343,-884,-3118,-1654,-2568,-1953,-2091,-1184,-2208,-1876,-1153,-2445,-498,-1909,-1316,-2009,-516,-2099,-1044,-1968,-662,-1518,-1410,-1827,-1599,-1518,-1197,-1327,-2058,-1427,-2266,-921,-2513,-1225,-1847,-2131,-1556,-2097,-2630,-949,-2545,-1870,-2474,-1381,-2448,-1893,-1534,-2776,-1862,-2229,-1308,-3512,-742,-3047,-1180,-2153,-2281,-2241,-1225,-1659,-2031,-607,-2671,-1071,-1946,-216,-2755,-795,-1210,-1455,-1559,-1061,-1316,-1476,-750,-1452,-1136,-1491,-675,-1347,-813,-2150,-472,-1333,-1544,-617,-1011,-1937,-372,-1541,-1806,-590,-1729,-1204,-1021,-1766,-1272,-1413,-1229,-1537,-1689,-578,-2345,-966,-1680,-1094,-1861,-609,-2237,-1302,-1181,-1959,-602,-2058,-1309,-2082,-919,-2015,-1192,-2347,-1371,-1700,-2263,-752,-2192,-1682,-1377,-782,-1938,-1481,-973,-1919,-857,-1345,-1443,-1718,-1718,-860,-1776,-1641,-1806,-1792,-1328,-2376,-1446,-2053,-1983,-1917,-1831,-1935,-2480,-833,-2628,-629,-2923,-1336,-1455,-2341,-782,-2557,-985,-2700,-856,-2080,-1555,-1708,-725,-2398,-1719,-186,-2484,-735,-1925,-1762,-1140,-1070,-1905,-1222,-1807,-970,-1376,-931,-1565,-1626,-166,-999,-1540,-1110,-1116,-1358,270,-1694,-1659,-736,-851,-1686,-536,-1654,-1471,-1136,-1846,-1137,-2153,-677,-1634,-1279,-1958,-1015,-1271,-1117,-1379,-1546,-642,-2110,-227,-1772,-1376,-942,-953,-1726,-1348,-1363,-815,-1019,-1482,-1216,-1797,-942,-1441,-992,-1854,-844,-1586,-997,-1605,-1209,-999,-1520,-949,-1590,-1578,-1186,-1080,-1788,-1071,-2089,-1008,-1292,-1581,-1737,-1210,-1910,-1822,-793,-2674,-1073,-1780,-1216,-1620,-1666,-683,-1743,-1039,-1100,-1198,-1583,-66,-1617,-1575,-243,-1347,-569,-1206,-1234,-806,-837,-560,-1505,-1467,-704,-1271,-895,-1309,-2157,-1223,-1189,-1027,-2389,-1118,-2169,-1787,-1148,-3205,-1147,-2743,-746,-2516,-1500,-2218,-1541,-948,-2075,-731,-2040,-1096,-1646,-74,-2374,-231,-2097,-837,-1027,-1890,-353,-1735,-1371,-1639,-1238,-1707,-1285,-1646,-806,-2109,-981,-1779,-1632,-1845,-235,-2590,-1012,-1435,-2638,-903,-1614,-1109,-2234,-977,-2122,-310,-2389,-367,-2608,-988,-1526,-1393,-1836,-2042,-730,-2467,-486,-3486,-867,-2531,-1452,-2056,-1718,-3087,-1779,-1058,-2623,-1877,-2369,-1490,-2096,-1312,-2441,-1232,-1815,-1699,-1689,-1523,-1633,-1104,-1488,-1727,-1618,-1319,-1307,-1905,-674,-2151,-1514,-784,-2024,-1891,-816,-1701,-1910,-1622,-2494,-1393,-1798,-1931,-1747,-2766,-1454,-1382,-2313,-1856,-1672,-1582,-2114,-1684,-1950,-2124,-1176,-1698,-2044,-1897,-1596,-1598,-878,-2049,-1867,-1019,-853,-2046,-874,-880,-2558,-597,-1649,-1213,-1831,-621,-1625,-1343,-1347,-1684,-746,-2195,-1429,-1833,-1943,-2249,-1170,-2668,-1587,-2182,-1718,-2579,-2467,-1697,-2312,-1549,-2638,-2209,-2539,-1989,-2447,-439,-3822,-1539,-1724,-2213,-1474,-1933,-1423,-2252,-430,-2273,-700,-2285,-472,-1728,-1509,-1319,-1922,-571,-1658,-1099,-1736,-978,-1837,-1374,-1265,-1858,-1342,-1202,-2029,-1568,-1692,-1414,-1281,-2393,-1873,-1495,-1278,-1779,-1734,-1731,-2100,-1504,-1730,-1797,-2281,-1592,-1897,-1675,-1445,-2266,-327,-1433,-1533,-1644,-758,-1361,-1579,-407,-1956,-1336,-1332,-556,-1948,-999,-1464,-1032,-1288,-1730,-671,-1903,-1254,-1379,-1322,-2919,-666,-1950,-1505,-1562,-1633,-2103,-1512,-1825,-2407,-676,-2979,-1319,-2515,-1334,-2471,-1069,-2085,-2207,-1958,-1300,-1558,-2501,-1336,-2745,-1156,-1928,-1764,-2114,-1507,-1781,-957,-2667,-1346,-2427,-929,-1667,-2157,-1695,-2598,-642,-2991,-1179,-2379,-1982,-1957,-1755,-2394,-1721,-2405,-1218,-2299,-2167,-1464,-1820,-982,-2913,-593,-2141,-1777,-1220,-1264,-2376,-902,-2185,-1746,-1446,-2578,-1152,-2020,-2279,-2994,-1010,-3128,-2866,-2043,-2549,-3427,-1788,-2822,-3640,-1751,-2699,-2779,-2596,-2681,-2863,-1928,-2707,-1911,-2812,-2368,-2556,-1380,-2135,-2590,-901,-2779,-1328,-1535,-1705,-1653,-2099,-1182,-1715,-1396,-1592,-1758,-1284,-1318,-1735,-1675,-1010,-2013,-1439,-1639,-1911,-2042,-1884,-2162,-1941,-2321,-2499,-1916,-2414,-2698,-2498,-1530,-2808,-3083,-2665,-1467,-3124,-2048,-1721,-2928,-2705,-1157,-2418,-2521,-1496,-3063,-305,-3210,-1838,-1598,-1544,-2349,-1920,-1516,-3071,-1419,-1706,-2443,-2661,-1814,-2172,-2051,-3076,-1278,-2936,-2222,-1987,-2905,-1787,-2494,-1809,-2025,-2431,-2260,-1618,-2076,-2412,-1294,-2875,-1649,-2267,-2373,-1373,-2651,-1300,-2915,-1750,-2515,-561,-2804,-1491,-1612,-2834,-618,-2904,-1462,-2228,-1741,-2242,-1572,-2748,-2137,-1520,-1945,-1968,-2412,-1813,-1836,-1962,-1025,-2667,-2002,-973,-2818,-889,-1354,-1776,-1924,-656,-2196,-2097,-142,-2122,-1237,-1248,-2027,-1111,-2032,-1390,-1646,-1559,-2088,-1731,-1494,-2321,-1144,-2308,-1233,-3010,-1792,-1618,-2653,-1913,-2834,-1761,-2880,-1927,-2432,-2112,-3014,-2056,-1855,-3732,-2096,-2623,-1748,-3140,-2333,-2704,-2473,-2185,-1767,-2390,-2453,-1853,-2121,-698,-2846,-1158,-2128,-1133,-2210,-1026,-959,-1907,-745,-1627,-1057,-2341,-219,-1627,-1843,-953,-2205,-1546,-1855,-1823,-1769,-2068,-1742,-2859,-1508,-2748,-1572,-2193,-1962,-2664,-2687,-1344,-3616,-1174,-3149,-2335,-2287,-2128,-2613,-1768,-1975,-2148,-1470,-1840,-1891,-1689,-624,-2079,-927,-1842,-1288,-1211,-1569,-1319,-1100,-2585,-746,-2281,-2162,-1453,-2965,-281,-3780,-1649,-1823,-2753,-1711,-2587,-1942,-3199,-2320,-1739,-3012,-2982,-2325,-2427,-3214,-2712,-2201,-2283,-2618,-2226,-2053,-2517,-1740,-1600,-1618,-2026,-1689,-920,-1442,-2036,-1127,-1177,-1377,-1811,-1202,-1830,-1788,-1084,-1519,-2409,-1794,-1148,-2519,-1172,-2608,-2575,-2401,-1966,-2748,-2972,-1771,-3066,-2596,-2033,-2644,-2710,-2051,-2113,-2169,-2828,-1564,-1992,-2428,-1738,-1677,-2357,-1677,-1180,-2125,-987,-2039,-1217,-2028,-1737,-1054,-2334,-764,-2612,-2327,-997,-1717,-2703,-1035,-1818,-2801,-1071,-2244,-2228,-1802,-2072,-1685,-2308,-2332,-1319,-1926,-1846,-1782,-1851,-2265,-999,-2014,-1313,-2084,-1716,-1634,-1861,-1847,-2219,-653,-2307,-1402,-1912,-1113,-2190,-1214,-1105,-2090,-2031,-959,-1989,-1777,-944,-2538,-893,-2358,-1685,-1390,-1747,-2209,-1447,-2917,-840,-2771,-2064,-1131,-3890,-733,-2473,-1212,-3288,-1220,-2033,-1800,-2057,-2160,-1542,-2618,-188,-2932,-498,-3036,-595,-1219,-1612,-1247,-2106,-504,-2355,-663,-2502,-843,-2595,-1557,-1493,-2424,-1884,-2164,-1724,-3366,-1845,-2427,-2970,-2544,-2444,-2711,-3459,-2225,-2479,-3203,-2099,-2921,-2787,-2455,-2914,-2715,-1819,-3440,-2307,-2028,-2408,-2470,-1757,-1868,-1911,-1940,-1942,-1191,-3227,-449,-2211,-1856,-1544,-2290,-1788,-1236,-2396,-1481,-1804,-3078,-1231,-2249,-2257,-2710,-2802,-2636,-2041,-3260,-1904,-3704,-2001,-2711,-2470,-2812,-3001,-2201,-2711,-1759,-3610,-1342,-3209,-1981,-1889,-2266,-2297,-1810,-2388,-2253,-2094,-1947,-2323,-1974,-2723,-1945,-2369,-1759,-2158,-3324,-659,-3590,-1096,-2881,-1821,-3650,-1635,-2487,-3157,-2295,-3392,-1473,-4346,-1942,-3456,-3276,-2474,-3507,-2799,-3273,-3256,-2945,-3394,-3537,-3395,-2339,-3762,-2986,-3728,-2848,-3649,-2448,-3583,-3106,-2716,-3430,-1732,-4460,-2154,-2956,-2374,-3105,-2019,-3255,-1829,-2619,-2049,-2888,-2328,-2017,-3035,-2628,-2597,-2145,-3589,-1140,-5261,-1323,-3379,-1830,-3673,-3189,-2896,-3474,-1828,-4266,-2343,-4469,-1618,-4026,-2711,-3993,-2950,-2540,-3169,-3172,-3826,-1683,-3444,-2606,-2833,-2916,-2969,-1779,-2892,-2530,-2730,-2049,-1177,-3881,-1323,-2012,-1847,-2002,-1957,-2354,-2736,-1459,-2080,-2460,-2552,-1717,-2737,-1906,-3171,-1929,-2379,-2824,-2895,-2300,-3012,-2523,-2618,-3221,-2727,-3814,-911,-5072,-2415,-2542,-3615,-1901,-3918,-3232,-2721,-2697,-2788,-2828,-3535,-2663,-2031,-2797,-2331,-2626,-2921,-1466,-2851,-1365,-3075,-1584,-1874,-2224,-1436,-2025,-1306,-2308,-720,-2638,-995,-1951,-1428,-1697,-2019,-1600,-2246,-2068,-2659,-1875,-3227,-2159,-3135,-2678,-3359,-2777,-3196,-2595,-3321,-3836,-1499,-4792,-1458,-3772,-2796,-2650,-3403,-2364,-2878,-2462,-3078,-1640,-3842,-1328,-3324,-1572,-2009,-2635,-1305,-2189,-1742,-1055,-2472,-1347,-1236,-1921,-1058,-2153,-881,-2519,-541,-2348,-1254,-3059,-1371,-2558,-2388,-1891,-3604,-1541,-3613,-1844,-2817,-2854,-3108,-2969,-2833,-3523,-2753,-2355,-4021,-2113,-3529,-2816,-2945,-2665,-2735,-3518,-2071,-2776,-2426,-2541,-2192,-2933,-1189,-2658,-2047,-1765,-2434,-1131,-1842,-2066,-1686,-1746,-1475,-1691,-1440,-1720,-2001,-1819,-1693,-2020,-2253,-1848,-2914,-2426,-2717,-2366,-2147,-3520,-2417,-2750,-2826,-1940,-3350,-2622,-2569,-2764,-2435,-2562,-2997,-2344,-2040,-3054,-2621,-2530,-2982,-2045,-2753,-2419,-2978,-2257,-2249,-2834,-2182,-2444,-2165,-2893,-1396,-3792,-1191,-2089,-2217,-2001,-2655,-1390,-1910,-2115,-1926,-1765,-2617,-1029,-2046,-1436,-2605,-1630,-1783,-1261,-2833,-1633,-1718,-2374,-1694,-1854,-2087,-2478,-1491,-2422,-1817,-2618,-1293,-3275,-2083,-2169,-2332,-2220,-2894,-2274,-2504,-2261,-2067,-2388,-2928,-2717,-1453,-2427,-2609,-2004,-2180,-2176,-2420,-1452,-3096,-1522,-2672,-1305,-2516,-2106,-1600,-2286,-1892,-2563,-1491,-2436,-1690,-2698,-1994,-2476,-2075,-2735,-2570,-2738,-2441,-2727,-2880,-3166,-3089,-2805,-2424,-2838,-3332,-2186,-3637,-1817,-3352,-2498,-2838,-2889,-2808,-2723,-2924,-2942,-2565,-3218,-3312,-3148,-2747,-2239,-3571,-2838,-1808,-4592,-863,-3923,-1917,-2858,-2197,-2165,-2767,-1342,-3288,-369,-3206,-896,-2880,-1552,-1940,-2470,-1293,-2788,-768,-2882,-1919,-2168,-1687,-2406,-2590,-2494,-3334,-1817,-2221,-3240,-2483,-3037,-2659,-1959,-3338,-2496,-3535,-1781,-3145,-2137,-3382,-2433,-1967,-2554,-1951,-3280,-1216,-3571,-1094,-3158,-1816,-2140,-2424,-2110,-2066,-1896,-2449,-1387,-3114,-1472,-1939,-1949,-1786,-2603,-2391,-1436,-2887,-2272,-2307,-2481,-2986,-2381,-3245,-2781,-3129,-2353,-2613,-4223,-2104,-3553,-2409,-3830,-2595,-3022,-2486,-2551,-3279,-2357,-3012,-1773,-2782,-2410,-2521,-2443,-1763,-1968,-2237,-1902,-2003,-2381,-1292,-1553,-2053,-1135,-2273,-1605,-1421,-1624,-2292,-2360,-1494,-2652,-1387,-2593,-2552,-2044,-2144,-1860,-2636,-2595,-2261,-2034,-1910,-2392,-3276,-2011,-2067,-1957,-2267,-1655,-2984,-1702,-1766,-2109,-1556,-2581,-1644,-2744,-1512,-2717,-2078,-2168,-2136,-2434,-2210,-2091,-2695,-1931,-2143,-2673,-2263,-2386,-3021,-2307,-2350,-2664,-2752,-2496,-2955,-2218,-3145,-1957,-3572,-2426,-2352,-3537,-2241,-2757,-2755,-2713,-1912,-3116,-2330,-2138,-2007,-3033,-2362,-2977,-1827,-2309,-2772,-1940,-3232,-1822,-2740,-1710,-3064,-2561,-2246,-2175,-2560,-2490,-2109,-2590,-2598,-2459,-2021,-3034,-2317,-2966,-1663,-3431,-1815,-2594,-3302,-1688,-2808,-1546,-3446,-1785,-3016,-1575,-1955,-2986,-2201,-2354,-1526,-2744,-1329,-2970,-1865,-2924,-892,-3059,-2115,-1556,-3186,-1403,-3384,-886,-3319,-1725,-2739,-1731,-2319,-2798,-1648,-2975,-2357,-2070,-1930,-3091,-1819,-2625,-1189,-3475,-1918,-2165,-2453,-1971,-2209,-1964,-2995,-1326,-2959,-1466,-2882,-1763,-1999,-2132,-2480,-1979,-2009,-1975,-1584,-2809,-1217,-2731,-1581,-2127,-2158,-1842,-2365,-1648,-2002,-1783,-1706,-2005,-1851,-2482,-883,-2282,-1529,-2070,-2466,-1124,-2217,-1749,-1755,-1914,-2305,-1019,-2107,-2178,-2417,-848,-2419,-2018,-1516,-2522,-1990,-2226,-466,-3052,-1923,-1548,-1897,-1722,-2140,-1861,-2428,-1715,-2383,-1632,-2444,-2709,-2137,-1779,-2861,-2271,-1829,-2297,-2718,-1663,-2387,-3148,-1650,-2840,-2037,-2869,-1433,-3413,-1675,-1978,-2696,-1423,-2578,-2384,-1659,-2082,-2170,-1961,-2466,-1586,-2165,-1673,-1965,-1367,-2176,-780,-2979,-670,-2593,-1567,-1157,-2890,-1533,-2596,-1320,-3208,-1027,-3066,-2122,-2569,-1945,-2644,-2482,-1991,-2653,-2280,-2149,-2399,-2329,-2432,-2158,-1635,-2396,-2052,-2386,-778,-3116,-580,-3213,-1772,-2594,-1240,-2136,-2713,-1797,-3131,-817,-3216,-1694,-2836,-1611,-3280,-1033,-2788,-2240,-2434,-1736,-2901,-1800,-2011,-2688,-1245,-3217,-886,-2590,-1138,-3284,-1026,-2078,-1754,-2159,-2309,-2440,-1954,-1633,-3011,-2025,-3189,-1778,-2770,-1856,-3694,-2307,-2038,-3202,-1699,-3662,-2266,-2426,-3939,-2368,-2741,-3263,-2230,-2937,-3075,-2522,-2652,-2496,-2704,-2641,-2309,-2598,-2305,-3079,-2229,-1615,-3009,-1354,-2793,-1686,-1707,-2145,-1627,-2666,-828,-2447,-1101,-2139,-1941,-605,-2331,-1023,-2413,-1409,-1478,-1528,-1524,-3114,-1313,-2212,-2008,-2006,-2850,-1968,-2862,-1834,-3051,-2760,-2084,-2849,-1381,-3454,-1969,-2140,-2698,-1802,-1855,-2446,-1913,-1562,-2012,-1153,-1659,-1370,-1992,-1044,-1778,-736,-1664,-1713,-1577,-1917,-679,-1914,-1886,-1989,-1539,-1980,-1653,-2729,-1500,-2522,-1860,-1741,-2953,-2270,-2656,-1864,-2693,-2135,-3253,-1949,-2210,-2829,-2223,-1897,-2833,-1732,-1900,-2558,-1926,-2035,-1741,-2875,-1130,-3013,-1240,-1671,-2171,-1847,-2038,-1225,-2670,-758,-2172,-2385,-1164,-2140,-1341,-1406,-2453,-1578,-1799,-1480,-1483,-2027,-1918,-2372,-1462,-1999,-2128,-2238,-2499,-1261,-2062,-3221,-1278,-2571,-2429,-1226,-2291,-1832,-3337,-519]",
        "payloadType": "json",
        "x": 200,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd6f058.a01e9",
        "type": "file in",
        "z": "f74bc4c5.ba44d8",
        "name": "",
        "filename": "",
        "format": "stream",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 570,
        "y": 680,
        "wires": [
            [
                "7df526c3.33d7a8",
                "dc1ab855.ee45c8"
            ]
        ]
    },
    {
        "id": "6d7e0788.bafbd8",
        "type": "comment",
        "z": "f74bc4c5.ba44d8",
        "name": "Test",
        "info": "",
        "x": 70,
        "y": 500,
        "wires": []
    },
    {
        "id": "ae8a68a9.690ee8",
        "type": "inject",
        "z": "f74bc4c5.ba44d8",
        "name": "other.01.1doetr1g.wav",
        "props": [
            {
                "p": "filename",
                "v": "/data/wav/other.01.1doetr1g.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "b45e9c87.c23b5"
            ]
        ]
    },
    {
        "id": "f7dafa55.198688",
        "type": "inject",
        "z": "f74bc4c5.ba44d8",
        "name": "ring.02.1dof5a7h.wav.1dqtne46.json.1jeda4se.wav",
        "props": [
            {
                "p": "filename",
                "v": "/data/wav/ring.02.1dof5a7h.wav.1dqtne46.json.1jeda4se.wav",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 270,
        "y": 620,
        "wires": [
            [
                "b45e9c87.c23b5"
            ]
        ]
    },
    {
        "id": "b45e9c87.c23b5",
        "type": "change",
        "z": "f74bc4c5.ba44d8",
        "name": "flow.window = null",
        "rules": [
            {
                "t": "set",
                "p": "window",
                "pt": "flow",
                "to": "null",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "e137dbdb.fd48f8"
            ]
        ]
    }
]